<p>Come abbiamo visto con la nostra soluzione <strong>Cloud Wi-Fi</strong> l&rsquo;amministratore di sistema potr&agrave;
    gestire su un'unica interfaccia tutte le antenne Wi-Fi distribuite su piu&rsquo; sedi.</p>
<p>In questa modalita&rsquo; i vantaggi sono molteplici:</p>
<ul>
    <li><strong>la gestione si semplifica enormemente</strong></li>
    <li><strong>l&rsquo;analisi</strong> e la risoluzione di eventuali problemi <strong>viene ridotta</strong></li>
    <li><strong>i costi</strong> di avviamento e manutenzione per la nostra soluzione Cloud <strong>sono
        inferiori</strong> rispetto a qualsiasi altro prodotto Hardware con installazione fisica presso la sede.
    </li>
</ul>
<p>Vediamo pi&ugrave; nel dettaglio cosa cambia rispetto ad una soluzione stand-alone.</p>
<p>Se oggi hai parecchie antenne <strong>Wi-Fi stand-alone</strong>, gestite localmente e senza centralizzazione ogni
    volta che un utente segnala problemi dovrai</p>
<ul>
    <li>ricercare su <strong>quale antenna Wi-Fi </strong>e&rsquo; stato connesso</li>
    <li>comprendere se il problema &egrave; dovuto ad una delle<strong> antenne oppure al dispositivo</strong> dell&rsquo;utente.
    </li>
</ul>
<p>Inoltre con la soluzione stand-alone se stai effettuando una chiamata video o audio con whatsapp, skype o altro
    sistema di messaggistica questa tipologia di rete Wi-Fi puo&rsquo; creare delle<strong> interruzioni</strong> nel
    caso in cui&nbsp; l&rsquo;utente si muova per gli uffici, in quanto non essendoci un controller il sistema di
    hand-over (passaggio rapido dei client veloce tra antenne Wi-Fi) <strong>non consente la riconnessione
        rapida</strong> del dispositivo tra le antenne Wi-Fi.</p>
<p>Con un sistema di <strong>gestione centralizzata delle antenne Wi-Fi</strong> e&rsquo; possibile invece avere tutte
    le antenne Wi-Fi sincronizzate e integrate all&rsquo;interno di un'<strong>unica piattaforma</strong> grazie alla
    quale &egrave; possibile effettuare</p>
<ul>
    <li><strong>il monitoraggio</strong></li>
    <li><strong>le configurazioni</strong></li>
    <li><strong>gli aggiornamenti</strong></li>
    <li><strong>l'analisi rapida</strong> di eventuali problemi sulle antenne.</li>
</ul>
<p>Inoltre la soluzione con controller cloud Wi-Fi <strong>consente l&rsquo;hand over </strong>cos&igrave; da non avere
    neanche piu&rsquo; un interruzione in movimento dei tuoi utenti tra le antenne Wi-Fi.</p>
