<p>Pensata come connessione di backup, per le aziende che voglio una garanzia di continuit&agrave; su diversa tipologia
    di connettivit&agrave;.</p>
<p>Grazie a questa soluzione &egrave; possibile avere banda fino a 100Mbps in download e 50 Mbps in upload, con 1 ip
    statico pubblico.</p>
<p>Sono disponibili 2 profili, il primo da 400 GB al mese e il secondo Flat senza limiti.</p>
<p>Il nostro servizio Wireless unisce la capillarit&agrave; della rete wireless alle performance equiparabili alle
    soluzioni della fibra punto-punto.</p>
