<p>Fondata nel 1997 da un gruppo di ingegneri di talento si &egrave; ora affermata come fornitore leader mondiale di
    soluzioni di networking.</p>
<p>Le soluzioni Draytek comprendono soluzioni che vanno dal semplice router al firewall aziendale ad alta affidabilit&agrave;.</p>
