<p>La libert&agrave; &egrave; uno dei nostri Valori fondanti.</p>
<p>Tutte le connettivit&agrave; Fiberdroid sono perci&ograve;&nbsp;router-free,&nbsp;sostengono l&rsquo;iniziativa
    &ldquo;modem libero&rdquo; (<a href="https://www.modemlibero.it/" target="_blank" rel="noopener">www.modemlibero.it</a>) e ti lasciano libero di
    scegliere ed installare il router/modem che pi&ugrave; desideri, senza vincolarti ad usare apparati specifici.</p>
<p>Se in ogni caso cerchi un apparato certificato e testato sulle nostre connettivit&agrave;, ti consigliamo di adottare
    uno tra i due seguenti brand</p>
<ul>
    <li>Draytek</li>
    <li>AVM Fritz!Box</li>
</ul>
<p>Gli apparati Draytek e AVM sono entrambi <strong>di ottima qualit&agrave; </strong>e utilizzano le ultime tecnologie
    per la trasmissione dati, sfruttando al massimo la tua connettivit&agrave; Fiberdroid.</p>
<p>In pi&ugrave; se scegli di noleggiare o acquistare il router presso di noi, e&lsquo; inclusa l&lsquo;assistenza sugli
    apparati da noi forniti.</p>
<p>Questo vuol dire che i nostri tecnici ti <strong>configureranno al meglio l'apparecchio</strong> e se in futuro
    dovessi avere problemi lato router la nostra assistenza, che gi&agrave; normalmente &egrave; a tua disposizione per
    ogni problema lato connessione, sar&agrave; al tuo fianco anche per capire e risolvere eventuali problematiche
    relative al router.</p>
<p>Un aiuto nella configurazione ti pu&ograve; essere utile a maggior ragione se scegli di acquistare anche il <strong>servizio
    di Firewall </strong>integrato nel router.</p>
