<p>Il termine router viene spesso confuso con il termine modem, anche perch&egrave; il <strong>router integra anche le funzioni di modem </strong>nella maggior parte dei casi, come nel caso dei due apparati che abbiamo proposto pi&ugrave; sopra.</p>
<p>Usare in maniera intercambiabile i due termini &egrave; per&ograve; tecnicamente sbagliato.</p>
<p>Capire <strong>cosa sono e a cosa servono modem e router</strong> pu&ograve; aiutarci nel momento in cui dobbiamo scegliere quale apparato fa pi&ugrave; al caso nostro.</p>
<p>Se infatti dobbiamo connettere alla rete un solo computer allora un buon modem ci baster&agrave;, se all'opposto dobbiamo creare una LAN locale, cioe&lsquo; una rete di computer e&lsquo; necessario un router, meglio ancora con firewall integrato.</p>
<p>Vediamo di capire insieme le funzionalit&agrave; di entrambi.</p>
