<p class="\&quot;p5\&quot;"><span class="\&quot;s1\&quot;">Con l'HDSL Fiberdroid si possono raggiungere velocit&agrave; <strong>da 2 Mb/s fino ad un massimo di 16 Mb/s</strong> utilizzando come abbiamo detto gli stessi cavi in rame della linea telefonica tradizionale.</span>
</p>
<p class="\&quot;p5\&quot;"><span class="\&quot;s1\&quot;">Non &egrave; quindi necessario fare nuove installazioni ma si possono <strong>sfruttare le risorse gi&agrave; presenti </strong>per la tradizionale linea telefonica. A seconda della velocit&agrave; che si vuole raggiungere si utilizzeranno <strong>una o pi&ugrave; delle classiche linee con doppino</strong>, e questo &egrave; anche il motivo per cui si ha un limite sulla velocit&agrave; massima raggiungibile.</span>
</p>
