<p class="\&quot;p5\&quot;"><span
        class="\&quot;s1\&quot;">L'HDSL (<strong>High-bit-rate digital subscriber line) </strong>&egrave; una tecnologia di trasmissione usata per l'accesso digitale ad internet e sviluppata all'inizio degli anni '90 per aumentare la velocit&agrave; di connessione per le tecnologie basate sulla trasmissione su doppino telefonico, ed &egrave; quindi una delle prime tipologie di servizi DSL sviluppate.</span>
</p>
