<p class="\&quot;p5\&quot;"><span class="\&quot;s1\&quot;">Inoltre la trasmissione &egrave; <strong>simmetrica</strong> nel senso che si ha la stessa velocit&agrave; sia in download che in upload. Questa &egrave; la ragione per cui l'HDSL viene molto utilizzato da aziende ed organizzazioni che hanno bisogno di trasferire <strong>grandi quantit&agrave; di dati da una sede ad un'altra.</strong></span>
</p>
