<ul>
    <li class="\&quot;li5\&quot;"><span class="\&quot;s1\&quot;">Un Modem specifico per HDSL</span></li>
    <li class="\&quot;li5\&quot;"><span class="\&quot;s1\&quot;">Un Router di ultima generazione ETHERNET (no brandizzato con logo di altro operatore)</span>
    </li>
    <li class="\&quot;li5\&quot;">Disponibilit&agrave; della rete HDSL nella Tua zona, richiedi una verifica gratuita ad
        uno dei nostri tecnici.</li>
</ul>
