<p>Spesso si trovano utilizzati indistintamente il termine "Fibra ILC" e "Fibra FTTH" (Fiber To The Home). In effetti in
    entrambi i casi si intende una soluzione in cui la fibra arriva direttamente a "casa", alla sede dell'azienda, ma ci
    sono sostanziali differenze.</p>
<p>Nel caso della <strong>Fibra Dedicata (ILC)</strong></p>
<ul>
    <li><strong>il collegamento &egrave; unico e specifico solo per te</strong> (Point-to Point)</li>
    <li>si raggiungono velocit&agrave; di connessioni maggiori (fino ad 1Giga)</li>
    <li>viene assicurata stabilit&agrave; e <strong>banda minima garantita</strong></li>
    <li>&egrave; garantita la <strong>continuit&agrave; di servizio</strong></li>
    <li>sono possibili <strong>soluzioni personalizzate</strong> per la tua azienda</li>
    <li><strong>i costi sono maggiori </strong>dal momento che l'operatore dovr&agrave; sostenere anche i costi degli
        scavi per la posa dei cavi
    </li>
</ul>
<p>Per la Fibra <strong>FTTH</strong> invece</p>
<ul>
    <li>la fibra &egrave; <strong>condivisa</strong></li>
    <li>si raggiungono <strong>velocit&agrave; inferiori</strong> (fino a 150 Mega)</li>
    <li><strong>minore qualit&agrave; </strong>del servizio (in termini di stabilit&agrave;, banda garantita, continuit&agrave;)
    </li>
    <li><strong>pi&ugrave; conveniente </strong>economicamente</li>
</ul>
