@charset "utf-8";
@import "bulma";
@import "components";

:root {
    --color-gray-100: #7d7d7d;
}

html, body {
    scroll-behavior: smooth;
    zoom: 100%
}

.bubble-blue {
    position: absolute;
    left: 0;
    top: 200px;
    z-index: 996;

    img {
        width: 300px;
        height: 300px;
    }
}
.bubble-orange {
    position: absolute;
    right: 0;
    top: 59px;
    z-index: 996;

    img {
        width: 360px;
        height: 360px;
    }
}

/*****************************/
/*         TYPOGRAPHY        */
/*****************************/
$font-outfit: Outfit, serif, system-ui;
$font-ibm-hebrew: IBM Plex Sans Hebrew, serif, system-ui;
$font-ibm: IBM Plex Sans, serif, system-ui;
$font-space: Space Grotesk, serif, system-ui;
$font-inter: Inter, serif, system-ui;
$font-work: 'Work Sans', serif, system-ui;
$font-roboto: 'Roboto', serif, system-ui;
$font-prompt: Prompt, serif, system-ui;
$base-text-color: #d9d9d9;
$darker-text-color: #7d7d7d;
$blog-text-color: #cacaca;
$menu-text-color: var(--gray-400, #97A3B7);

p {
    font-size: var(--font-size-mini);
    line-height: 20.5px;
    color: $blog-text-color;

    & b, & strong {
        color: $blog-text-color!important;
    }
}
.title-text {
    color: $base-text-color;
    font-family: $font-outfit;
    font-size: 42px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
}
.subtitle-text {
    color: #FFF;
    font-family: $font-ibm-hebrew;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.5px;
}
.content-text {
    color: #FFF;
    font-family: $font-outfit;
    font-size: 21.635px;
    font-style: normal;
    font-weight: 300;
    line-height: 100%;
}
.text {
    color: $blog-text-color;
    font-family: $font-ibm-hebrew;
    font-style: normal;
    font-weight: 400;
    line-height: 20.5px;
    letter-spacing: 0.5px;
}
.text-stats-title {
    color: $base-text-color;
    text-align: center;
    font-family: $font-outfit;
    font-size: 62px;
    font-style: normal;
    font-weight: 300;
    line-height: 100%; /* 62px */
}
.text-stats {
    color: $base-text-color;
    text-align: center;
    font-family: $font-ibm-hebrew;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.5px;
}
.text-small {
    color: $base-text-color;
    font-family: $font-ibm-hebrew;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}
.text-smaller {
    color: $base-text-color;
    font-family: $font-ibm-hebrew;
    font-style: normal;
    font-weight: 400;
    line-height: 18.95px;
    letter-spacing: 0.462px;
}
.text-chi-siamo {
    color: #7D7D7D;
    text-align: center;
    font-family: $font-ibm-hebrew;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20.5px; /* 102.5% */
    letter-spacing: 1px;
}
.quote {
    color: $base-text-color;
    font-family: $font-outfit;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}
.list {
    list-style-type: disc;
    padding-left: 1.3rem;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    font-family: $font-ibm-hebrew;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 110% */
    letter-spacing: 0.5px;

    & li {
        color: #FFF!important;
        padding-bottom: 0.75rem;

        strong {
            color: #FFF!important;
        }
    }
}
.policy-list {
    padding-left: 1.3rem;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    font-family: $font-ibm-hebrew;
    font-style: normal;
    line-height: 22px; /* 110% */
    letter-spacing: 0.5px;

    & li {
        color: var(--color-gray-100)!important;
        padding-bottom: 0.75rem;

        strong {
            color: #FFF!important;
        }
    }
}
.sub-list  {
    list-style-type: circle;
    padding-left: 0.75rem;
    padding-top: 1.5rem;
    font-family: $font-ibm-hebrew;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 110% */
    letter-spacing: 0.5px;

    & li {
        color: #FFF!important;
        padding-bottom: 0.75rem;

        strong {
            color: #FFF!important;
        }
    }
}
.input-label {
    font-family: $font-roboto;
    font-weight: 400;
    color: #D1D3D6
}
.fd-input {
    &::placeholder {
        text-align: left!important;
    }
}
@include from($desktop) {
    .text {
        font-size: 15px;
    }
    .title-text {
        font-size: 42px;
    }
    .text-small {
        font-size: 16.639px;
    }
    .text-smaller {
        font-size: 15.286px;
    }
    .quote {
        font-size: 42px;
    }
}
@include until($desktop) {
    .text {
        font-size: 15px;
    }
    .title-text {
        font-size: 36px;
    }
    .text-small {
        font-size: 16.639px;
    }
    .text-smaller {
        font-size: 15.286px;
    }
    .quote {
        font-size: 42px;
    }
}
@include until($tablet) {
    .text {
        font-size: 20.5px;
    }
    .title-text {
        font-size: 32px;
    }
    .text-small {
        font-size: 16.639px;
    }
    .text-smaller {
        font-size: 16px;
    }
    .quote {
        font-size: 32px;
    }
}

/*****************************/
/*      HEADER & FOOTER      */
/*****************************/
.header-container {
    padding: 0 4rem;
    margin: 0;
    height: 59px;
    border-bottom: 1px solid #15263f;
    position: fixed;
    top: 0;
    z-index: 999999;
    width: 100%;
    max-width: 1920px;
}
.header-impostor {
    height: 59px;
    width: 100%;
}
.menu-voices {
    justify-content: center;
    height: 59px;

    div {
        margin-left: 40px;
        margin-bottom: 0;
        color: white;
        display: flex;
        span {
            margin: auto;
        }
    }
}
.menu-voices-end {
    justify-content: flex-end;
    height: 59px;

    div {
        margin-left: 40px;
        margin-bottom: 0;
        color: white;
        display: flex;
        span {
            margin: auto;
        }
    }
}
.menu-voice-active {
    position: relative;

    &:after {
        content: " ";
        position: absolute;
        bottom: -16px;
        width: 32px;
        height: 3px;
        background: white;
        left: calc(50% - 16px);
    }
}
.menu-voice-active-big {
    &:after {
        width: 64px;
    }
}
.menu-voice {
    letter-spacing: 0.5px;
    line-height: 20.5px;

    a {
        color: var(--color-gray-100)!important;

        &:active {
            color: var(--color-gray-200)!important;
        }
    }
}
.menu-voice-touch {
    color: #FFF;
    font-family: $font-ibm-hebrew;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 111.111% */
    letter-spacing: 0.2px;
}
.menu-subvoice-touch {
    color: #FFF;
    font-family: $font-ibm;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}
.menu-link {
    color: white;

    &:visited, &:active {
        color: white
    }
}
.menu-link-disabled {
    color: gray!important;
    cursor: default!important;
    user-select: none!important;

    &:visited, &:active {
        color: gray!important;
    }
}
.menu-separator {
    position: absolute;
    top: 200px;
    border-bottom: 1px solid #15263f;
    box-sizing: border-box;
    width: 100%;
    height: 75px;
}
.menu-dropdown {
    position: fixed;
    display: flex;
    width: 100%;
    height: 400px;
    padding: 2rem 0;
    top: 59px;
    background: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(7px);
    max-width: 1920px; margin: 0 auto; overflow: hidden;
    z-index: 1004;
}
.menu-dropdown-closer {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100vh;
    z-index: 1003;
    top: 0;
    background: transparent;
}
.menu-dropdown-mobile {
    position: fixed;
    display: flex;
    width: 100%;
    padding: 2rem 0;
    top: 59px;
    background: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(3px);
    max-width: 1920px; margin: 0 auto;
    overflow: hidden;
    z-index: 1004;
}
.menu-dropdown-content {
    display: inline;
    margin: auto;
    width: 80%;
}
.cart-icon {
    &:after {
        content: attr(data-value);
        position: absolute;
        width: 18px;
        height: 15px;
        text-align: center;
        font-size: 12px;
        border-radius: 100%;
        background: red;
        z-index: 1;
        top: 8px;
        padding-bottom: 18px;
        margin-left: -8px;
        vertical-align: 30px;
        font-weight: 600;
        color: white;
        font-family: $font-outfit;
    }

    &.is-zero:after {
        display: none;
    }
}
.cart {
    position: fixed;
    display: flex;
    width: 430px;
    height: 700px;
    padding: 0;
    top: calc(59px + 20px);
    right: 200px;
    border-radius: 24px;
    border: 1.518px solid #282828;
    background: #0F0F0F;
    box-shadow: 6.07059px 6.07059px 19.72941px 0 rgba(0, 0, 0, 0.25) inset, 0 0 77.39999px 0 rgba(13, 13, 13, 0.48), 42.49412px 37.94117px 31.87059px 0 rgba(13, 13, 13, 0.15);
    z-index: 1005;
}
.cart-item-title {
    color: $white;
    font-family: $font-ibm;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 28px */
}
.cart-item-icon-box {
    height: 100px;
    display: flex;
    background-size: 100px 100px;
    background-position: center;
    background-repeat: no-repeat;

    & img {
        width: 30px; height: 30px; display: inline; margin: auto
    }
}
.active-voice-cursor {
    position: absolute;
    top: 70px;
    left: 170px;
    background-color: var(--color-white);
    width: 64px;
    height: 3px;
}
.cart-background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 59px;
    z-index: 1004;
    background: rgba(0, 0, 0, 0.30);
    backdrop-filter: blur(10px);
}
.cart-items {
    width: 100%;
    max-height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}
.cart-configuration-text {
    color: #FFF;
    font-family: $font-outfit;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 32px */
}
.cart-price-text {
    color: #FFF;
    font-family: $font-ibm-hebrew;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.5px;
}
.menu-dropdown-text {
    color: $menu-text-color;
    font-family: $font-space;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 18px */
    letter-spacing: 0.5px;
}
.menu-dropdown-text-title {
    color: $white;
    font-family: $font-space;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
}
.menu-dropdown-item {
    background: transparent;
    border: solid transparent 1px;

    &:hover {
        background: black;
        border: solid white 1px;
    }
}
.menu-product-box {
    border-radius: 6.797px;
    border: 1.699px solid rgba(255, 255, 255, 0.16);
    background: rgba(255, 255, 255, 0.08);
    cursor: pointer;

    &:hover {
        border-color: white;
    }
}
.href {
    color: var(--color-gray-100)!important;

    &:active {
        color: var(--color-gray-200)!important;
    }
}
.logo-wrapper {
    width: 160px;
}
.logo {
    padding-top: 5px
}
@include from($desktop) {
    .logo-wrapper {
        margin: auto
    }
}
@include until($desktop) {
    .logo-wrapper {
        margin-right: auto
    }
    .cart {
        position: fixed;
        width: 90%;
        top: calc(59px + 20px);
        right: 5%;
    }
}
@include until($tablet) {
    .logo-wrapper {
        margin-right: auto
    }
}

.footer-container {
    border-top: solid rgba(255,255,255, 0.2) 0.867px;
}
.footer-link {
    font-size: var(--font-size-mini);
    text-decoration: underline;
    letter-spacing: 0.5px;
    line-height: 20.5px;
}
.linkedin, .youtube, .instagram, .tiktok {
    cursor: pointer;
}
@include from($desktop) {
    .footer-container {
        padding: 2rem 8rem
    }
}
@include until($desktop) {
    .footer-container {
        padding: 2rem 3rem
    }
}
@include until($tablet) {
    .footer-container {
        padding: 2rem 3rem
    }
}

.notification-box {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9;
    display: none;
    cursor: pointer;
}

/*****************************/
/*           ELEMENT         */
/*****************************/
.button {
    color: #FFF;
    font-family: $font-ibm-hebrew;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    width: 220px;
    height: 50px;
    border-radius: 8px;
    background: #0266FF;
}
.button.is-small {
    width: 197.404px;
    height: 46.416px;
    flex-shrink: 0;
    border-radius: 7.531px;
    background: #0266FF;
}
.button.is-smaller {
    width: 125.369px;
    height: 34.218px;

    color: $base-text-color;
    font-family: $font-ibm-hebrew;
    font-size: 13.035px;
    font-style: normal;
    font-weight: 600;
    line-height: 16.294px; /* 125% */
}
.button.is-dark {
    background: rgba(71, 71, 71, 0.4);
}

.accordion {
    border-radius: 18px;
    border: 2px solid #282828;
    background: var(--base-dark, #1B1C1D);
    padding: 2rem;
}
.accordion-title {
    color: #FFF;
    font-family: $font-ibm-hebrew!important;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.5px;
    padding: 0;
    margin: 0;
}
h3.accordion-subtitle {
    color: #FFF;
    font-family: $font-ibm-hebrew!important;
    font-size: 28px!important;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.5px;
    padding: 0 0 1rem 0;
    margin: 2rem 0 0 0;
}
.accordion-content {}
.accordion-arrow-down {
    transform: rotate(270deg);
}
@include from($desktop) {
    h2.accordion-title  {
        font-size: 24px!important;
    }
}
@include until($desktop) {
    p.accordion-title {
        font-size: 13px!important;
    }
    .accordion-content:last-child {
        padding-bottom: 75px;
    }
}
@include until($tablet) {
    p.accordion-title, h2.accordion-title {
        font-size: 16px!important;
        text-align: left!important;
    }
    .accordion-arrow {
        width: 25%;
    }
}

/*****************************/
/*            HOME           */
/*****************************/
.landing-text-title {
    color: #FFF;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    font-family: $font-outfit;
}
.landing-text-description {
    color: #FFF;
    text-align: center;
    font-family: $font-ibm-hebrew;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 130% */
    letter-spacing: 0.5px;
}
.landing-text-big-description {
    color: #FFF;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: $font-ibm;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.landing-child {
    position: absolute;
    top: 0;
    mix-blend-mode: normal;
}

@include from($desktop) {
    .landing-text-title {
        font-size: 62px;
    }
    .landing-text-description {
        font-size: 20px;
    }
    .landing-text-big-description {
        font-size: 26px;
    }
    .landing-child {
        width: 1391.01px;
        height: 1027.13px;
        left: calc(50% - 695px)!important;
    }
}
@include until($desktop) {
    .landing-text-title {
        font-size: 42px;
    }
    .landing-text-description {
        font-size: 18px;
    }
    .landing-text-big-description {
        font-size: 23px;
    }
    .landing-child {
        width: 1391.01px;
        height: 1027.13px;
        left: calc(50% - 695px)!important;
    }
}
@include until($tablet) {
    .landing-text-title {
        font-size: 32px;
    }
    .landing-text-description {
        font-size: 16px;
    }
    .landing-text-big-description {
        font-size: 20px;
    }
    .landing-child {
        width: 1391.01px;
        height: 1027.13px;
        left: 0!important;
    }
}

.copertura {
    max-width: 970px;
    height: 500px;
    border-radius: 12px;
    background-image: url("https://fiberdroid.it/images/coverage/coverage.webp");
    border: 1px solid #3D3D3D;

    & .copertura-container {
        border-radius: 12px;
        max-width: 970px;
        height: 420px;
        display: flex;

        & div {
            display: inline;
            margin-top: auto;
            width: 100%;
            text-align: center;
            padding-bottom: 3rem;
        }
    }
}
.copertura-text {
    color: $base-text-color;
    font-family: $font-ibm-hebrew;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-align: center;
    font-style: normal;
    line-height: normal;
}
.cover-input {
    width: 370px;
    border-radius: 8px;
    border: 1px solid #515151;
    background: #333;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 0 14px 0 rgba(0, 0, 0, 0.25), 0 21px 36px 0 rgba(99, 91, 255, 0.12);
    color: #b1b1b1;
    text-align: left;
    font-family: $font-ibm-hebrew;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20.5px; /* 136.667% */
    letter-spacing: 0.5px;

    &::placeholder {
        color: #7D7D7D;
        text-align: center;
        font-family: $font-ibm-hebrew;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 20.5px; /* 136.667% */
        letter-spacing: 0.5px;
    }
}
.copertura-icon {
    top: -65px;
    position: absolute;
}
.mobile-toggler {
    border-radius: 2px 2px 0px 0px;
    background: #FFF;
    height: 2px;
    width: 47px;
    margin: 10px auto;
}
.cover-form {
    margin: auto;
}
@include from($desktop) {
    .copertura {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-clip: border-box;
    }
    .copertura-text {
        font-size: 24px;
    }
    .copertura-icon {
        left: 320px;
        padding-left: 0;
    }
}
@include until($desktop) {
    .copertura {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-clip: border-box;
    }
    .cover-form {
        margin: 20px 0;
    }
    .copertura-text {
        font-size: 23px;
    }
    .copertura-icon {
        left: 320px;
        padding-left: 0;
    }
    .cover-input {
        width: 300px;
    }
}
@include until($tablet) {
    .copertura {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-clip: border-box;
    }
    .copertura-text {
        font-size: 22px;
    }
    .copertura-icon {
        left: 0;
        padding-left: 5px;
    }
}

.box-solution-container {
    width: 387.51px;
    height: 284.174px;
}
.box-solution {
    width: 387.51px;
    height: 284.707px;
    border-radius: 15.811px;
    border: 0.659px solid #353535;
    background-color: #0D0D0D;
    display: flex;
    vertical-align: bottom;
    background-image: url("https://fiberdroid.it/pages/home/grid-left.svg");
    background-position: center 250px;
    background-size: 200px 387px;
    padding-bottom: 70px;

    & div {
        width: 100%;
        display: inline;
        margin-top: auto;
    }
}

$gallery-box-width: 286px;
.gallery {
    user-select: none;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(12, 70px);
    grid-gap: 30px;
    width: 70%;
    margin: auto;

}
.gallery__item {
    width: $gallery-box-width;
}
.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 24px;
}
.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 5;
}
.gallery__item--2 {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 7;
}
.gallery__item--3 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 9;
}
.gallery__item--4 {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 7;
    grid-row-end: 11;
}
.gallery__item--5 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 9;
    grid-row-end: 13;
}
.is-gallery-box {
    border-radius: 24px;
    border: 1px solid #353535;
    background: #0D0D0D;
}

.gallery-box-container {
    width: $gallery-box-width;
    position: relative;
    z-index: 2;
    height: 100%;
    background-color: black;
    border-radius: 24px;
    border: 3px solid #353535;
    overflow: hidden;

}
.gallery-box-header {
    width: $gallery-box-width;
    height: 172.008px;
    border-radius: 12px;
    background-color: #0D0D0D;
    background-image: url('https://fiberdroid.it/pages/home/grid/grid-left.svg'), url('https://fiberdroid.it/pages/home/grid/grid-right.svg');
    background-position: left top, right top;
    background-repeat: no-repeat;
    padding: 0;
    margin: auto;
}
.gallery-box-header-content {
    margin: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(181deg, rgba(13,13,13, 0.1) 0%, black 90%);
}
.gallery-text {
    color: #FFF;
    font-family: $font-outfit;
    font-size: 28.66px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.448px;
}


.quiz-container {}
.quiz-gradient {
    border-radius: 22.424px;
    //filter: blur(45.453155517578125px);
}
.quiz-box {
    height: 700px;
    border-radius: 23.633px;
    border: 0.924px solid #CECECE;
    background: #010101;
    position: relative;
    z-index: 999;
}
.box-small {
    height: auto!important;
}
.quiz-image {
    //background-image: url('https://fiberdroid.it/pages/home/fiber.png');
    background-repeat: no-repeat;
    background-position: center
}
.quiz-text-title {
    color: white;
    font-family: $font-outfit;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
}
.quiz-is-subtitle {
    color: #97accd
}
.quiz-result-box-price-text {
    span {
        color: $base-text-color;
        font-family: $font-ibm-hebrew;
        font-style: normal;
        line-height: 100%;
    }
    span:nth-child(1) {
        font-size: 32px;
        font-weight: 600;
        text-transform: uppercase;
    }

    span:nth-child(2) {
        font-size: 13px;
        font-weight: 400;
        opacity: 0.4000000059604645;
    }
}

@include from($desktop) {
    .quiz-text-title {
        font-size: 36px;
    }
}
@include until($desktop) {
    .quiz-text-title {
        font-size: 36px;
    }
}
@include until($tablet) {
    .quiz-text-title {
        font-size: 24px;
    }
}

$gradient-voip: url("https://fiberdroid.it/pages/quiz/gradients/voip.png"), lightgray 50% / cover no-repeat;
$gradient-internet: url("https://fiberdroid.it/pages/quiz/gradients/internet.png"), lightgray 50% / cover no-repeat;
$gradient-backup: url("https://fiberdroid.it/pages/quiz/gradients/backup.png"), lightgray 50% / cover no-repeat;

$option-size: 260px;
$margin: 40px;
$rate: $margin / $option-size;
.quiz-option-box {
    width: $option-size;
    height: $option-size;
    display: inline;
    background: var(--base-dark, #1B1C1D);
    margin: auto;
    padding: 0;
    border-radius: 22.424px;
}
.quiz-option-wrapper {
    width: $option-size;
    height: $option-size;
    border-radius: 22.424px;
    display: flex;

    & .quiz-text-option {
        font-size: 23.039px;
    }
    & div {
        display: inline;
        margin: auto;
    }
}
.quiz-option-box-shadow {
    width: $option-size + $margin;
    height: $option-size + $margin;
    border-radius: 22.424px;
    display: flex;
    cursor: pointer;
    background: transparent;
    padding: 0;

    &.quiz-gradient-voip {
        &:hover {
            background: $gradient-voip
        }
    }
    &.quiz-gradient-internet {
        &:hover {
            background: $gradient-internet
        }
    }
    &.quiz-gradient-backup {
        &:hover {
            background: $gradient-backup
        }
    }
    &.quiz-gradient-voip-active {
        background: $gradient-voip
    }
    &.quiz-gradient-internet-active {
        background: $gradient-internet
    }
    &.quiz-gradient-backup-active {
        background: $gradient-backup
    }
}

$option-size-mobile: 160px;
$margin-mobile: 25px;
$rate-mobile: $margin-mobile / $option-size-mobile;
@include until($tablet) {
    .quiz-option-box {
        width: $option-size-mobile;
        height: $option-size-mobile;
    }
    .quiz-option-wrapper {
        width: $option-size-mobile;
        height: $option-size-mobile;

        & .quiz-text-option {
            font-size: 19.039px;
        }
    }
    .quiz-option-box-shadow {
        width: $option-size-mobile + $margin-mobile;
        height: $option-size-mobile + $margin-mobile;
        margin: auto;
    }
    .quiz-button-down-mobile {
        margin-left: 0!important;
        margin-top: 10px;
    }
}

$option-size-medium: 220px;
$margin-medium: $rate * $option-size-medium;

.quiz-option-box-medium {
    width: $option-size-medium;
    height: $option-size-medium;
    display: inline;
    background: var(--base-dark, #1B1C1D);
    margin: auto;
    padding: 0;
    border-radius: 22.424px;
}
.quiz-option-wrapper-medium {
    width: $option-size-medium;
    height: $option-size-medium;
    border-radius: 22.424px;
    display: flex;

    & .quiz-text-option {
        font-size: 22.114px;
    }

    & div {
        display: inline;
        margin: auto;
    }
}
.quiz-option-box-shadow-medium {
    width: $option-size-medium + $margin-medium;
    height: $option-size-medium + $margin-medium;
    border-radius: 22.424px;
    display: flex;
    cursor: pointer;
    background: transparent;
    padding: 0;

    &.quiz-gradient-voip-active {
        background: $gradient-voip
    }
    &.quiz-gradient-internet-active {
        background: $gradient-internet
    }
    &.quiz-gradient-backup-active {
        background: $gradient-backup
    }
}
@include from($desktop) {
    &.quiz-gradient-voip {
        &:hover {
            background: $gradient-voip
        }
    }
    &.quiz-gradient-internet {
        &:hover {
            background: $gradient-internet
        }
    }
    &.quiz-gradient-backup {
        &:hover {
            background: $gradient-backup
        }
    }
}
@include until($tablet) {
    .quiz-option-box-shadow-medium {
        margin: auto;
    }
}

$option-size-small: 115px;
$margin-small: $rate * $option-size-small;

.quiz-option-box-small {
    width: $option-size-small;
    height: $option-size-small;
    display: inline;
    background: var(--base-dark, #1B1C1D);
    margin: auto;
    padding: 0;
    border-radius: 22.424px;
}
.quiz-option-wrapper-small {
    width: $option-size-small;
    height: $option-size-small;
    border-radius: 22.424px;
    display: flex;

    & .quiz-text-option {
        font-size: 15.039px;
    }

    & .quiz-option-image {
        max-height: 44px;
    }

    & div {
        display: inline;
        margin: auto;
    }
}
.quiz-option-box-shadow-small {
    width: $option-size-small + $margin-small;
    height: $option-size-small + $margin-small;
    border-radius: 22.424px;
    display: flex;
    cursor: pointer;
    background: transparent;
    padding: 0;

    &.quiz-gradient-voip {
        &:hover {
            background: $gradient-voip
        }
    }
    &.quiz-gradient-internet {
        &:hover {
            background: $gradient-internet
        }
    }
    &.quiz-gradient-backup {
        &:hover {
            background: $gradient-backup
        }
    }
    &.quiz-gradient-voip-active {
        background: $gradient-voip
    }
    &.quiz-gradient-internet-active {
        background: $gradient-internet
    }
    &.quiz-gradient-backup-active {
        background: $gradient-backup
    }
}

$option-size-small-mobile: 90px;
$margin-small-mobile: $rate-mobile * $option-size-small-mobile;
@include until($tablet) {
    .quiz-option-box-small {
        width: $option-size-small-mobile;
        height: $option-size-small-mobile;
    }
    .quiz-option-wrapper-small {
        width: $option-size-small-mobile;
        height: $option-size-small-mobile;

        & .quiz-option-image {
            max-height: 32px;
        }
        & .quiz-text-option {
            font-size: 11.539px;
        }

    }
    .quiz-option-box-shadow-small {
        width: $option-size-small-mobile + $margin-small-mobile;
        height: $option-size-small-mobile + $margin-small-mobile;
    }
}

.quiz-text-option {
    color: white;
    text-align: center;
    font-family: $font-ibm-hebrew;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.48px;
}
.quiz-configuration-box {
    padding: 10px;
    border-radius: 13.663px;
    border: 0.864px solid #282828;
    background: #0F0F0F;
    box-shadow: 3.4559152126312256px 3.4559152126312256px 11.231724739074707px 0 rgba(0, 0, 0, 0.25) inset, 0
    0 44.06291961669922px 0 rgba(13, 13, 13, 0.48), 24.191408157348633px 21.599470138549805px 18.143556594848633px 0 rgba(13, 13, 13, 0.15);
}
.quiz-configuration-title {
    color: white;
    font-family: $font-outfit;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 18.217px */
}
.quiz-configuration-text {
    color: white;
    font-family: $font-ibm-hebrew;
    font-size: 10.247px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.285px;
}
.quiz-configuration-icon-box {
    height: 50px;
    display: flex;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    & img {
        width: 20px; height: 20px; display: inline; margin: auto
    }
}
.quiz-step-text {
    color: white;
    font-family: $font-outfit;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 20px */
}
.quiz-result-box-item {
    color: #FFF;
    font-family: $font-ibm-hebrew;
    font-size: 15.395px;
    font-style: normal;
    font-weight: 400;
    line-height: 15.78px; /* 102.5% */
    letter-spacing: 0.385px;
    display: inline;
    margin: auto 0;
}
@include from($desktop) {
    .quiz-container {
        margin-left: 50px;
        margin-right: auto;
    }
    .quiz-image {
        background-size: contain;
    }
    .quiz-box {
        margin-bottom: -50px; margin-right: -50px
    }
    .quiz-configuration-title {
        font-size: 18.217px;
    }
}
@include until($desktop) {
    .quiz-container {
        margin-left: 28px;
        margin-right: auto;
    }
    .quiz-image {
        background-size: contain;
    }
    .quiz-box {
        margin-bottom: -50px; margin-right: -50px
    }
    .quiz-configuration-title {
        font-size: 18.217px;
    }
}
@include until($tablet) {
    .quiz-container {
        margin-left: auto;
        margin-right: auto;
        padding: 0 1.5rem!important;
        overflow: hidden;
    }
    .quiz-image {
        background-size: cover;
    }
    .quiz-box {
        margin-bottom: -27px;
        margin-right: -27px;
        height: auto;
        padding: 0 0 100px 0;
    }
    .quiz-gradient {
        transform: translateX(-3px);
    }
    .quiz-configuration-box {
        position: absolute;
        left: 0;
        height: 500px;
        width: 100%;
        bottom: -400px;
        padding: 0.7rem 1rem;
    }
    .quiz-configuration-title {
        font-size: 24px;
        font-weight: 700;
        line-height: 26px; /* 108.333% */
    }
}

.plan-gradient {
    border-radius: 22.424px;
    background: url("https://fiberdroid.it/pages/home/plan-mask.png");
    //filter: blur(45.453155517578125px);
}
.plan-box {
    border-radius: 23.633px;
    border: 0.924px solid #CECECE;
    background: #010101;
    position: relative;
    z-index: 999;
}
.plan-tag {
    border-radius: 21.127px!important;
    border: 0.77px solid #FFF;
    background-color: $black!important;
}
.plan-tag-text {
    color: $base-text-color!important;
    font-family: $font-ibm-hebrew;
    text-align: center;
    font-size: 13.855px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    text-transform: uppercase;
}
.plan-title-text {
    color: $base-text-color;
    font-family: $font-outfit;
    font-size: 32.329px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
}
.plan-text {
    color: $base-text-color;
    font-family:  $font-ibm-hebrew;
    font-size: 15.395px;
    font-style: normal;
    font-weight: 400;
    line-height: 15.78px; /* 102.5% */
    letter-spacing: 0.385px;
}
.price-text {
    span {
        color: $base-text-color;
        font-family: $font-ibm-hebrew;
        font-style: normal;
        line-height: 100%;
    }
    span:nth-child(1) {
        font-size: 16.474px;
        font-weight: 600;
        text-transform: uppercase;
    }

    span:nth-child(2) {
        font-size: 11.855px;
        font-weight: 400;
        opacity: 0.4000000059604645;
    }
}
@include from($desktop) {}
@include until($desktop) {}
@include until($tablet) {}

#best-plans {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}
.best-plans-container{}

@include from($desktop) {
    .best-plans-container {
        margin-left: 50px;
        margin-right: auto
    }
}
@include until($desktop) {
    .best-plans-container {
        margin-right: auto;
        margin-left: auto;
    }
}
@include until($tablet) {
    .best-plans-container {
        margin-right: auto;
        margin-left: auto;
    }
    #best-plans {
        overflow-x: scroll
    }
    .industries-plans {
        overflow-x: scroll;
    }
}

.industries-title {
    color: $base-text-color;
    font-family: $font-outfit;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
}

.industries-card-title {
    color: $base-text-color;
    font-family: $font-ibm-hebrew;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.5px;
}

@include from($desktop) {
    .industries-title {
        text-align: center;
        font-size: 42px;
    }
}
@include until($desktop) {
    .industries-title {
        text-align: center;
        font-size: 42px;
    }
}
@include until($tablet) {
    .industries-title {
        text-align: left;
        font-size: 32px;
    }
}

li {
    color: $darker-text-color;
}

/*****************************/
/*            BLOG           */
/*****************************/
.blog-featured-text-title {
    color: $base-text-color;
    font-family: $font-outfit;
    font-size: 38px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
}
.blog-text-title {
    color: $base-text-color;
    font-family: $font-ibm-hebrew;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.5px;
    text-transform: capitalize;
}
.blog-continue-text {
    color: #F5F5F5;
    font-family: $font-ibm-hebrew;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 20.5px; /* 136.667% */
    letter-spacing: 0.5px;
}
.blog-featured-image {
    flex-shrink: 0;
    border-radius: 14px;
}
.blog-image {
    width: 370px;
    height: 370px;
    flex-shrink: 0;
}
.button.blog-button {
    width: 130px;
    height: 40px;
    flex-shrink: 0;
}
.blog-container {}


.article-content {
    & p {
        margin-bottom: 2rem;
        font-size: var(--font-size-mini);
        line-height: 20.5px;
        color: $blog-text-color!important;

        & b, & strong {
            color: $blog-text-color!important;
        }
    }
}
.content {
    p {
        font-size: var(--font-size-mini);
        line-height: 20.5px;
        color: #cacaca;

        & b, & strong {
            color: #cacaca!important;
        }
    }
    .article-image {
        flex-shrink: 0;
        border-radius: 14px;
    }
    .article-h2 {
        color: $base-text-color;
        font-family: $font-outfit;
        font-style: normal;
        font-weight: 500!important;
        line-height: 100%; /* 38px */

        & b, & strong {
            color: $base-text-color;
        }
    }
    .article-h3 {
        color: $base-text-color;
        font-family: $font-outfit;
        font-style: normal;
        font-weight: 500!important;
        line-height: 100%; /* 38px */

        & b, & strong {
            color: $base-text-color;
        }
    }
    .article-container {}
    p.share-text {
        color: white;
        font-family: $font-ibm-hebrew;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 26px;
        letter-spacing: 0.5px;

        & b, & strong {
            color: white!important;
        }
    }
    .index-block {
        border-radius: 5px;
        margin-left: 3rem;
        font-weight: normal!important;

        &b, & strong {
            font-weight: normal!important;
        }
    }
    .indent-0 {
        margin-left: 0.9rem;
        list-style-type: disc;
    }
    .indent-1 {
        margin-left: 2rem;
        list-style-type: circle;
    }
    .indent-2 {
        margin-left: 2rem;
    }
    .indent-3 {
        margin-left: 2.3rem;
    }
    .index-block {
        border-bottom: none!important;
    }
}

@include from($desktop) {
    .blog-container {
        width: 370px;
    }
    .blog-featured-image {
        width: 668px;
        height: 521px;
    }
    .article-container {
        padding: 0 9rem
    }
    .content.article-h2 {
        font-size: 38px;
    }
    .content.article-h3 {
        font-size: 34px;
    }
    .article-image {
        width: 794px;
        height: 948px;
    }
}
@include until($desktop) {
    .blog-image {
        width: auto;
        flex-shrink: 0;
    }
    .blog-container {
        width: 100%
    }
    .blog-featured-image {
        width: auto;
        height: 521px;
    }
    .article-container {
        padding: 0 7rem
    }
    .article-h2 {
        font-size: 34px;
    }
    .content.article-h3 {
        font-size: 30px;
    }
    .article-image {
        width: 794px;
        height: 948px;
    }
}
@include until($tablet) {
    .blog-container {
        width: 100%
    }
    .blog-featured-image {
        width: auto;
        height: 250px;
    }
    .article-container {
        padding: 0 2rem
    }
    .article-h2 {
        font-size: 28px;
    }
    .article-h3 {
        font-size: 22px;
    }
    .article-image {
        width: auto;
        height: 400px;
        margin: auto;
    }
}

/*****************************/
/*          CHI SIAMO       */
/*****************************/
.crew-title {
    color: $base-text-color;
    font-family: $font-outfit;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.5px;
}
.crew-role {
    color: $base-text-color;
    font-family: $font-ibm-hebrew;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.5px;
}
.crew-description {
    color: #CECECE;
    font-family: $font-ibm-hebrew;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20.5px; /* 113.889% */
    letter-spacing: 0.5px;

    p {
        color: #CECECE;
    }
}

.crew-box-image {
    position: relative;
    z-index: 1;
    border-radius: 12px;
    background: transparent;
    padding: 0;
    img {
        border-radius: 12px;
    }
}
.crew-box-container {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
    width: 351px;
    height: 100%;
    background-color: black;
    border-radius: 12px;
    border: 1px solid #353535;
    margin: -100px auto 0 auto;
}
.crew-box-header {
    width: 351px;
    height: 172.008px;
    border-radius: 12px;
    background-color: #0D0D0D;
    background-image: none;
    background-position: left top, right top;
    background-repeat: no-repeat;
    padding: 0;
    margin: auto;
    -webkit-transition: background 200ms ease-in-out 300ms;
    -moz-transition: background 200ms ease-in-out 300ms;
    -o-transition: background 200ms ease-in-out 300ms;
    transition: background 200ms ease-in-out 300ms;
}
.crew-box-header-grid {
    background-image: url('https://fiberdroid.it/pages/home/card/grid-left.svg'), url('https://fiberdroid.it/pages/home/card/grid-right.svg');
}

.crew-box-header-content {
    margin: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(181deg, rgba(13,13,13, 0.1) 0%, black 90%);
}

@include from($desktop) {
    .crew-box-image {
        width: 375px;
        height: 480px;

        img {
            width: 375px;
            height: 480px;
        }
    }
}
@include until($desktop) {
    .crew-box-image {
        width: 375px;
        height: 480px;

        img {
            width: 375px;
            height: 480px;
        }
    }
}
@include until($tablet) {
    .crew-box-image {
        max-width: 390px;
        width: auto;
        height: auto;
        padding: 0.45rem;
        margin: auto;

        img {
            width: auto;
            height: auto;
        }
    }
}


/*****************************/
/*     SERVICE               */
/*****************************/
.service-text-title {
    color: #FFF;
    font-family: $font-outfit;
    font-size: 62px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 62px */
}
.service-text-subtitle {
    color: #FFF;
    font-family: $font-outfit;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 62px */
}
.service-text-description {
    color: #FFF;
    font-family: $font-ibm-hebrew;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20.5px; /* 102.5% */
    letter-spacing: 0.5px;
}
.service-text-type {
    color: #FFF;
    font-family: $font-ibm-hebrew;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 18px */
}

$carousel-box-radius: 24px;
$carousel-box-width: 305px;
$carousel-box-height: 322px;
.carousel {
    //max-width: 1400px;
}
.service-carousel-box-shadow {
    width: $carousel-box-width;
    height: $carousel-box-height;
    border-radius: 20px;
    transform: scale(0.8);
    //cursor: pointer;

    &:hover {
        //transform: scale(1.15);
    }
}
.service-carousel-box {
    width: $carousel-box-width;
    height: $carousel-box-height;
    border-radius: $carousel-box-radius;

    border: 1px solid #353535;
    background: #0D0D0D;
    padding: 0;
    flex-shrink: 0;
    overflow: hidden;
}

.service-carousel-box-wrapper {
    width: 100%;
    height: 100%;
    border-radius: $carousel-box-radius;

    background-image: url("https://fiberdroid.it/pages/services/grid.png");
    background-size: auto 250px;
    background-position: top;
    background-repeat: no-repeat;

    &.no-grid {
        background-image: none!important;
    }
}
.service-carousel-box-grid-wrapper {
    width: 100%;
    height: 100%;
    border-radius: $carousel-box-radius;

    background: linear-gradient(180deg, rgba(217, 217, 217, 0) 0%, #0D0D0D 50%);
    margin-top: -2px;

    display: flex;
}
.service-carousel-text {
    color: #FFF;
    font-family: $font-outfit;
    font-size: 52px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 52px */
}
.service-product-carousel-text {
    color: #FFF;
    font-family: $font-outfit;
    font-size: 34.609px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 34.609px */
    margin: 12px auto auto auto;
    text-align: center;
}



.is-carousel-column {
    padding: 0 20px;
    flex: none;
    width: 20%;
}

.service-box-gradient {
    border-radius: 22.424px;
    background-color: #1B1C1D;
    border: none;
    background-position: center;
    background-size: cover;
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
}
.service-box-box {
    border-radius: 23.633px;
    border: none!important;
    background: #1B1C1D;;
    position: relative;
    z-index: 999;
    max-width: 361px;
}
.service-box-tag {
    border-radius: 21.127px!important;
    background-color: transparent!important;
    border: 0.77px solid rgba(255, 255, 255, 0.2);
}
.service-box-tag-text {
    color: $base-text-color!important;
    font-family: $font-ibm-hebrew;
    text-align: center;
    font-size: 13.855px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    text-transform: uppercase;
}
.service-box-title-text {
    color: $base-text-color;
    font-family: $font-outfit;
    font-size: 32.329px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
}
.service-box-text {
    color: $base-text-color;
    font-family:  $font-ibm-hebrew;
    font-size: 15.395px;
    font-style: normal;
    font-weight: 400;
    line-height: 15.78px; /* 102.5% */
    letter-spacing: 0.385px;
}
.price-text {
    span {
        color: $base-text-color;
        font-family: $font-ibm-hebrew;
        font-style: normal;
        line-height: 100%;
    }
    span:nth-child(1) {
        font-size: 16.474px;
        font-weight: 600;
        text-transform: uppercase;
    }

    span:nth-child(2) {
        font-size: 11.855px;
        font-weight: 400;
        opacity: 0.4000000059604645;
    }
}
.service-fit-text {
    color: #FFF;
    text-align: center;
    font-family: $font-outfit;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 62px */
}
.price-text-solution {
    span {
        color: $base-text-color;
        font-family: $font-ibm-hebrew;
        font-style: normal;
        line-height: 100%;
    }
    span:nth-child(1) {
        font-size: 32.474px;
        font-weight: 600;
        text-transform: uppercase;
    }

    span:nth-child(2) {
        font-size: 13.855px;
        font-weight: 400;
        opacity: 0.4000000059604645;
    }
}
.service-termini-box {
    border-radius: 20px;
    border: 1px solid #FFF;
    background: rgba(217, 217, 217, 0.00);
    max-width: 800px;
    margin: auto;

    p {
        color: #FFF;
        text-align: center;
        font-family: $font-ibm-hebrew;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal!important;
        letter-spacing: 0.5px;
    }
}
.service-title-plans {
    color: #FFF;
    text-align: center;
    font-family: $font-outfit;
    font-size: 62px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 62px */
}

@include from($desktop) {
    .service-fit-text {
        font-size: 62px;
    }
    .service-box-gradient {
        max-width: 361px;
    }
    .service-box-box {
        padding: 3rem!important;
    }
}
@include until($desktop) {
    .service-fit-text {
        font-size: 62px;
    }
    .service-box-gradient {
        max-width: 361px;
    }
    .service-box-box {
        padding: 3rem!important;
    }
}
@include until($tablet) {
    .service-fit-text {
        font-size: 32px;
    }
    .service-box-gradient {
        max-width: 321px;
        transform: translateX(-15px);
    }
    .service-box-box {
        padding: 2.5rem!important;
        max-width: 321px;
    }
}


.filter-tags {
    border-radius: 8.77px;
    cursor: pointer;
}
span.tag.filter-tag {
    font-family: $font-inter;
    font-size: 23.887px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: black;
    color: white;
    border-radius: 8.77px;
}
span.tag.filter-tag.active {
    background: white;
    color: #000;
}

$grid-box-radius: 24px;
$grid-box-width: 370px;
$grid-box-height: 370px;
$grid-mobile-scale: .8;
$grid-xs-scale: .5;

.service-grid-box {
    width: $grid-box-width;
    height: $grid-box-height;
    border-radius: $grid-box-radius;

    border: 1px solid #353535;
    background: #0D0D0D;
    padding: 0;
    flex-shrink: 0;
    overflow: hidden;
}
.service-grid-box-wrapper {
    width: 100%;
    height: 100%;
    border-radius: $grid-box-radius;

    background-image: url("https://fiberdroid.it/pages/services/grid.png");
    background-size: auto 300px;
    background-position: top;
    background-repeat: no-repeat;
}
.service-grid-box-grid-wrapper {
    width: 100%;
    height: 100%;
    border-radius: $grid-box-radius;

    background: linear-gradient(180deg, rgba(217, 217, 217, 0) 0%, #0D0D0D 50%);
    margin-top: -2px;

    display: flex;
}
.service-grid-text {
    color: #FFF;
    font-family: $font-ibm-hebrew;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.5px;
}
.service-plan-title {
    color: #FFF;
    text-align: center;
    font-family: $font-outfit;
    font-size: 62px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
}
.service-plan-box-title {
    color: #FFF;
    font-family: $font-outfit;
    font-size: 34.609px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
}
.service-plan-box {
    width: 361px;
    border-radius: 21.127px;
    background: #1B1C1D;
}
.service-text {
    color: #FFF;
    font-family: $font-ibm-hebrew;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 110% */
    letter-spacing: 0.5px;
}
p.service-faq-title, h1.service-faq-title, h2.service-faq-title {
    font-family: $font-outfit!important;
    font-size: 62px!important;
    font-style: normal!important;
    font-weight: 500!important;
    line-height: 100%!important; /* 62px */
}

.service-content {
    p, ul, li {
        color: #FFF;
        font-family: $font-ibm-hebrew;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        letter-spacing: 0.5px;
        text-align: justify;
        text-justify: inter-word;

        strong, b {
            color: white!important;
        }
    }
}
@include from($desktop) {
    .service-content {
        p, ul, li, .list {
            font-size: 20px!important;
        }
    }
}
@include until($desktop) {}
@include until($tablet) {
    .service-grid-box {
        margin:auto;
        transform: scale($grid-mobile-scale);
    }
    .service-content {
        p, .list {
            font-size: 13px!important;
        }
    }
}
@media screen and (max-width: 480px) {
    .service-grid-box {
        margin:auto;
        transform: scale($grid-xs-scale) translateX(-(1-$grid-xs-scale) * $grid-box-width);
    }
}

[data-invisible] {
    opacity: 0;
}

.product-text-title {
    color: #FFF;
    font-family: $font-outfit;
    font-size: 62px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 62px */
}
.product-text-subtitle {
    color: #FFF;
    font-family: $font-outfit;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 62px */
}
.product-check-text {
    color: #FFF;
    font-family: 'IBM Plex Mono', serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; /* 105% */
}
.product-map-tag {
    width: 325px;
    border-radius: 20px;
    position: absolute;
    z-index: 999;
}
.tag-success {
    top: 170px; left: 70px
}
.tag-warning {
    top: 265px; left: 200px
}

.product-tags {
    border-radius: 20px;
    position: absolute;
    z-index: 999
}
.error-tags {
    width: 394px; top:-69px; left: 190px;
}
.success-tags {
    width: 496px; border-radius: 20px; position: relative;
}
.warning-tags {
    width: 496px; left: 73px; bottom: -91px;
}
@include until($desktop) {}
@include until($tablet) {
    .product-text-title {
        font-size: 40px;
    }
    .product-text-subtitle {
        font-size: 36px;
    }
    .product-map-tag {
        width: 240px;
    }
    .tag-success {
        top: 120px; left: 40px
    }
    .tag-warning {
        top: 185px; left: 100px
    }
    .success-tags {
        width: 290px;
        left: 0;
    }
    .warning-tags {
        width: 290px;
        bottom: -74px;
        left: 0;
    }
    .error-tags {
        width: 290px;
        top: -51px;
        left: 0;
    }
}


.product-main-image-telefoni-voip {
    width: 1500px!important;
}

.product-main-image-wrapper-access-point {
    margin: auto;
}
.product-main-image-access-point {
    margin: 100px auto 0 auto;
    width: 456px!important;
}

.product-main-image-wrapper-router {
    margin: auto;
}
.product-main-image-router {
}

.jetfiber-title {
    color: var(--neutral-colors-100, #FFF);
    text-align: center;
    font-family: $font-outfit;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 80px */
    text-transform: uppercase;
}
.jetfiber-text {
    color: var(--neutral-colors-100, #FFF);
    text-align: center;
    font-family: $font-ibm-hebrew;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 125% */
    letter-spacing: 0.5px;
}
.jetfiber-subtitle {
    color: #FFF;
    text-align: center;
    font-family: $font-outfit;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 62px */
}
.jetfiber-small-text {
    color: var(--neutral-colors-100, #FFF);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: $font-ibm;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    text-align: justify;
    text-justify: inter-word;
}

.jetfiber-promo-text {
    color: #FFF;
    text-align: center;
    font-family: $font-work;
    font-size: 42px;
    font-style: normal;
    font-weight: 800;
    line-height: 44px; /* 104.762% */
}
.jetfiber-box {
    border-radius: 24px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    background: linear-gradient(113deg, rgba(111, 111, 111, 0.01) 0%, rgba(255, 255, 255, 0.10) 27.29%, rgba(124, 107, 107, 0.01) 100.01%);
    box-shadow: 0px -4px 24px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(25px);
    width: 419px;
    height: 241px;
}

.jetfiber-menu-promo-text {
    color: var(--gray-400, #97A3B7);
    font-family: $font-space;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 18px */
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.jetfiber-menu-desc {
    color: #FFF;
    font-family: $font-space;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
}

.jetfiber-or {
    color: #FFF;
    font-family: $font-ibm;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 80% */
    margin: auto 0;
}
.jetfiber-meeting-button {
    color: #FFF;
    text-align: center;
    font-family: $font-ibm-hebrew;
    font-size: 25.351px;
    font-style: normal;
    font-weight: 600;
    line-height: 50.701px; /* 200% */
    padding: 28px;
    width: 350px;
}
.jetfiber-promo-box {
    display: flex;
    gap: 20px;
    vertical-align: middle;
    justify-content: center
}
.jetfiber-banner {
    display: flex;
    flex-direction: column;
    height: 700px;
    padding-left: 100px
}
@include from($desktop) {
    .jetfiber-title {
        font-size: 80px;
    }
    .jetfiber-subtitle {
        font-size: 62px;
    }
}
@include until($desktop) {}
@include until($tablet) {
    .jetfiber-title {
        font-size: 40px;
    }
    .jetfiber-subtitle {
        font-size: 32px;
    }
    .jetfiber-promo-box {
        flex-direction: column;
    }
    .jetfiber-box {
        width: 319px;
        margin: auto;
    }
    .jetfiber-or {
        padding-left: 29px;
    }
    .jetfiber-banner {
        padding: 40px 0;
        height: auto;
    }
    .jetfiber-banner-image {
        height: 300px;
    }
}


.video-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-top: -59px;

    video {
        position: absolute;
        width: 2000px;
    }
}
.ticket-title {
    color: #000;
    text-align: center;
    font-family: $font-prompt;
    font-size: 23.908px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.ticket-text {
    color: rgba(0, 0, 0, 0.60);
    font-family: $font-prompt;
    font-size: 21.32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    span {
        color: #000;
        font-family: $font-prompt;
        font-size: 17.732px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}
.ticket-mitchell-title {
    color: #000;
    font-family: $font-prompt;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 39.465px; /* 98.662% */
    letter-spacing: -0.732px;
    cursor: pointer;
}
.mitchell-text {
    color: #FFF;
    font-family: $font-ibm;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.ticket-navigate-text {
    color: #FFF;
    text-align: center;
    font-family: $font-work;
    font-size: 42px;
    font-style: normal;
    font-weight: 800;
    line-height: 44px; /* 104.762% */
}
@include from($desktop) {
    .video-container {
        height: 580px;

        video {
            bottom: -150px
        }
    }
}
@include until($desktop) {}
@include until($tablet) {
    .video-container {
        height: 350px;

        video {
            top: 112px
        }
    }
}

/*****************************/
/*       COPERTURA           */
/*****************************/
.coverage-title {
    color: #FFF;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    font-family: $font-outfit;
}

@include from($desktop) {
    .coverage-title {
        font-size: 32px;
    }
}
@include until($desktop) {
    .coverage-title {
        font-size: 28px;
    }
}
@include until($tablet) {
    .coverage-title {
        font-size: 28px;
    }
}

.coverage-box {
    width: 100%;
    border-radius: 20px;
    border: 1.655px solid var(--Border, #323338);
    background: var(--base-dark, #1B1C1D);
    color: #D1D3D6;
}
.coverage-box-title {
    color: var(--grey-light-middle, #D1D3D6);
    font-family: $font-roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 16px */
}

.coverage-input-label {
    color: var(--grey-light-middle, #D1D3D6);
    font-family: $font-roboto;
    font-size: 14.728px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 14.728px */
}

.coverage-input-warn {
    color: #a7a7ab;
    font-family: $font-roboto;
    font-size: 12.728px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 14.728px */
}

.coverage-button {
    color: #FFF;
    font-family: $font-ibm-hebrew;
    font-size: 14.73px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 135.777% */
}

.coverage-input {
    border-radius: 5.523px;
    border: 0.92px solid var(--Border, #323338);
    background: #0B0B0C;
}

@include from($desktop) {
    .coverage-input-label {
        text-align: center;
    }
}
@include until($desktop) {}
@include until($tablet) {
    .coverage-input-label {
        text-align: left;
    }
}


.multiselect {
    font-family: $font-roboto!important;
}
.multiselect__tags {
    background-color: #0B0B0C!important;
    border: 0.92px solid var(--Border, #323338)!important;
    font-family: $font-roboto!important;
}
.multiselect__content-wrapper {
    background-color: #0B0B0C!important;
    border: 0.92px solid var(--Border, #323338)!important;
    color: var(--grey-light-middle, #D1D3D6)!important;
}

.multiselect__input {
    background-color: transparent!important;
    color: #9F9F9F!important;
    font-family: $font-roboto!important;

    &::placeholder {
        color: #757575 !important;
    }
}

.multiselect__single {
    background-color: transparent!important;
    color: #9F9F9F!important;
}

.multiselect__element {
    &:hover {
        background-color: red!important;
    }
}

.multiselect--disabled {
    background: transparent!important;
}
.multiselect__select {
    background: transparent!important;
}

.coverage-service-text {
    color: #FFF;
    font-family: $font-roboto;
    font-size: 14.73px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 14.73px */
}

.coverage-provider-text {
    color: #9F9F9F;
    font-family: $font-roboto;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 11px */
}

.coverage-connected-text {
    color: var(--grey-grey-light, #989CA4);
    font-family: $font-roboto;
    font-size: 9.941px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 9.941px */
}

.coverage-technology-box {
    background: #292A2E;
    border-radius: 0;
    display: flex;

    img {
        margin: auto 0
    }
}

.coverage-technology-title {
    color: var(--grey-light-middle, #D1D3D6);
    font-family: $font-roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 16px */
    margin: auto 0
}

.coverage-technology-name {
    color: var(--white-white, #FFF);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: $font-roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 19.267px; /* 160.556% */
    margin: auto 0;
}

.coverage-technology-text {
    color: #b5b5b5;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: $font-roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 19.267px; /* 160.556% */
    margin: auto 0;

    & p {
        color: #b5b5b5;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: $font-roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 19.267px; /* 160.556% */
        margin: auto 0;
    }
}
.coverage-mobile-technology-text {
    color: white!important;
    font-weight: bold!important;
}
.coverage-header {
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: $font-ibm;
    font-size: 14.73px;
    font-style: normal;
    font-weight: 700;
    line-height: 19.267px; /* 130.799% */
    text-align: center;
}

.coverage-row {
    border-bottom: 1.927px solid #292A2E;

    .column {
        text-align: center;
    }
}

.coverage-tag {
    display: flex;
    padding: 6px 8px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: $font-inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 128.571% */
    border-radius: 8px;
    width: 130px;
    margin: auto;
}
.coverage-tag-danger {
    color: #ffb1b9;
    background: rgb(174, 39, 39);
}
.coverage-tag-success {
    color: #29CC39;
    background: rgba(39, 174, 96, 0.2);
}

.coverage-tags {
    .tag {
        text-align: center;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: $font-inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px; /* 128.571% */
    }
    .tag.is-dark {
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
    }
    .tag.is-info {
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        background: rgba(47, 128, 237, 0.20);
        color: var(--Blue-1, #2F80ED);
    }
}

.coverage-connected-lamp-shadow {
    margin: auto 0;
    width: 20px; height: 20px; border-radius: 100px; display: flex;
}

.is-green {
    background: #226429!important;
}
.is-red {
    background: #642222!important;
}

.coverage-connected-lamp {
    width: 10px;
    height: 10px;
    margin: auto;
    border-radius: 100px;
    box-shadow: 0 2px 5px 0 rgba(38, 51, 77, 0.03);
}

.lamp-green {
    background: #29CC39;
}
.lamp-red {
    background: #cc2929;
}

.coverage-loading {
    display: flex;
    vertical-align: middle;
    height: 100%;
}

.blur {
    filter: blur(5px);
}
.light-blur {
    filter: blur(3px);
}

.clipped {
    overflow: hidden;
}

.gmap-container {
    width: 90%;
    max-width: 1400px;
    max-height: 900px;
    height: 90%;
    margin-top: 30px;
}
.gmap {
    width: 100%;
    height: 88%;
    margin-top: 59px;
}
.gmap-wireless {
    width: 100%;
    height: 50%;
    margin-top: 59px;
}

.coverage-technology-link {
    color: #b5b5b5;
    text-decoration: underline;
    cursor: pointer;
}
.blur-bg {
    backdrop-filter: blur(20px);
}

.tooltip {
    display: block !important;
    z-index: 10000;

    .tooltip-inner {
        background: white;
        color: black;
        border-radius: 16px;
        padding: 5px 10px 4px;
    }

    .tooltip-arrow {
        width: 0;
        height: 0;
        border-style: solid;
        position: absolute;
        margin: 5px;
        border-color: black;
        z-index: 1;
    }

    &[x-placement^="top"] {
        margin-bottom: 5px;

        .tooltip-arrow {
            border-width: 5px 5px 0 5px;
            border-left-color: transparent !important;
            border-right-color: transparent !important;
            border-bottom-color: transparent !important;
            bottom: -5px;
            left: calc(50% - 5px);
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    &[x-placement^="bottom"] {
        margin-top: 5px;

        .tooltip-arrow {
            border-width: 0 5px 5px 5px;
            border-left-color: transparent !important;
            border-right-color: transparent !important;
            border-top-color: transparent !important;
            top: -5px;
            left: calc(50% - 5px);
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    &[x-placement^="right"] {
        margin-left: 5px;

        .tooltip-arrow {
            border-width: 5px 5px 5px 0;
            border-left-color: transparent !important;
            border-top-color: transparent !important;
            border-bottom-color: transparent !important;
            left: -5px;
            top: calc(50% - 5px);
            margin-left: 0;
            margin-right: 0;
        }
    }

    &[x-placement^="left"] {
        margin-right: 5px;

        .tooltip-arrow {
            border-width: 5px 0 5px 5px;
            border-top-color: transparent !important;
            border-right-color: transparent !important;
            border-bottom-color: transparent !important;
            right: -5px;
            top: calc(50% - 5px);
            margin-left: 0;
            margin-right: 0;
        }
    }

    &.popover {
        $color: #f9f9f9;

        .popover-inner {
            background: $color;
            color: black;
            padding: 24px;
            border-radius: 5px;
            box-shadow: 0 5px 30px rgba(black, .1);
        }

        .popover-arrow {
            border-color: $color;
        }
    }

    &[aria-hidden='true'] {
        visibility: hidden;
        opacity: 0;
        transition: opacity .15s, visibility .15s;
    }

    &[aria-hidden='false'] {
        visibility: visible;
        opacity: 1;
        transition: opacity .15s;
    }
}

$carousel-box-radius: 24px;
$carousel-box-width: 370px;
$carousel-box-height: 370px;
$carousel-box-width-mobile: 280px;
$carousel-box-height-mobile: 280px;

.assistance-carousel-box-shadow {
    border-radius: 20px;
}
.assistance-carousel-box {
    border-radius: $carousel-box-radius;

    border: 1px solid #353535;
    background: #0D0D0D;
    padding: 0;
    flex-shrink: 0;
    overflow: hidden;
}

.assistance-carousel-box-wrapper {
    width: 100%;
    height: 100%;
    border-radius: $carousel-box-radius;
}
.assistance-carousel-box-grid-wrapper {
    width: 100%;
    height: 100%;
    border-radius: $carousel-box-radius;

    background: linear-gradient(180deg, rgba(217, 217, 217, 0) 0%, #0D0D0D 50%);
    margin-top: -2px;

    display: flex;
}

.assistance-box-text {
    color: #FFF;
    text-align: center;
    font-family: $font-outfit;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 80%;

    img {
        margin: 0 auto;
    }
}
.assistance-button {
    display: block;
    width: 100%;
    box-shadow: none;
    border: none;
    border-radius: 8px;
    background: #474747;
    color: #FFF;
    font-family: $font-ibm-hebrew;
    font-style: normal;
    font-weight: 700;
    line-height: 12.143px; /* 80.955% */
    padding: 1rem;
    cursor: pointer;

    &.is-fd-primary {
        background: $fd-primary;
    }

    &:hover {
        color: white!important;
    }
}

@include from($desktop) {
    .assistance-carousel-box-shadow {
        width: $carousel-box-width;
        height: $carousel-box-height;
    }
    .assistance-carousel-box {
        width: $carousel-box-width;
        height: $carousel-box-height;
    }
    .assistance-main {
        padding: 150px 0
    }
    .assistance-box-text {
        font-size: 28.552px;

        img {
            width: 70px;
            height: 70px;
        }
    }
    .assistance-button {
        font-size: 15px;
    }
}
@include until($desktop) {
    .assistance-carousel-box-shadow {
        width: $carousel-box-width-mobile;
        height: $carousel-box-height-mobile;
    }
    .assistance-carousel-box {
        width: $carousel-box-width-mobile;
        height: $carousel-box-height-mobile;
    }
    .assistance-main {
        padding: 150px 0 71px 0
    }
    .assistance-box-text {
        font-size: 21.552px;

        img {
            width: 50px;
            height: 50px;
        }
    }
    .assistance-button {
        font-size: 11px;
    }
}

.voip-phone-solutions-text {
    color: #FFF;
    text-align: center;
    font-family: $font-outfit;
    font-size: 62px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 62px */
}

.voip-banner-text {
    color: #FFF;
    font-family: $font-outfit;
    font-size: 42px!important;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 42px */
}

.start-from-text {
    color: #FFF;
    font-family: $font-ibm-hebrew;
    font-size: 15.395px;
    font-style: normal;
    font-weight: 400;
    line-height: 15.78px; /* 102.5% */
    letter-spacing: 0.385px;
}

.modal_cookie {
    position: fixed;
    z-index: 999999999;
    bottom: 0;
    max-width: 1920px;
    margin: auto;
    border-top: 3px solid #0266FF;
    background: #1B1C1D;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.18);
}
.cookie-text {
    color: #FFF;
    font-family: $font-ibm-hebrew;
    font-style: normal;
    font-weight: 400;
    line-height: 20.5px; /* 102.5% */
    letter-spacing: 0.5px;
}
.cookie-button {
    width: 150px;
}

.promo-container {
    width: 1200px;
    transform: scale(75%);
}
.promo-bg {
    background-image: url("https://fiberdroid.it/pages/promo/background.png");
    background-size: cover;
    background-repeat: no-repeat;
}
$close-size: 64px;

.promo-close {
    top: 69px;
    width: $close-size;
    max-width: $close-size;
    height: $close-size;
    max-height: $close-size;
}
.promo-logo {
    width: 275px;
}
.promo-title {
    color: #FFF;
    font-family: $font-ibm;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 128%; /* 44.8px */
    letter-spacing: 1.8px;
    text-transform: uppercase;
}

.promo-text {
    color: #FFF;
    font-family: $font-ibm;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px; /* 100% */
    letter-spacing: -1.6px;

    .promo-text-green {
        color: #36F097;
    }
}

.promo-button {
    border-radius: 14.372px;
    background: #36F097;
    color: #000!important;
    font-family: $font-ibm-hebrew;
    font-size: 18.744px;
    font-style: normal;
    font-weight: 700;
    line-height: 60.93px; /* 125% */
    text-transform: uppercase;
}
.promo-header {
    display: flex;
    gap: 14px
}

@include until($desktop) {
    .promo-container {
        width: 90%
    }
}

@include until($tablet) {
    .promo-header {
        flex-direction: column;
    }
    .promo-logo {
        width: 200px;
    }

    .promo-title {
        font-size: 15px;
    }

    .promo-text {
        font-size: 27px;
        line-height: 27px;
    }
}

@keyframes neon-flicker {
    0% {
        border: solid rgba(255, 183, 0, 1) 1px;
        box-shadow:
            0 0 30px 0 rgba(255, 183, 0, 1),
            inset 0 0 16px 2px rgba(255, 183, 0, 1),
            0 0 16px 10px rgba(255, 183, 0, 1),
            inset 0 0 25px 0 rgba(255, 183, 0, 1);
    }
    50% {
        border: solid rgb(243, 217, 154) 1px;
        box-shadow:
            0 0 30px 0 rgb(243, 217, 154),
            inset 0 0 16px 2px rgb(243, 217, 154),
            0 0 16px 10px rgb(243, 217, 154),
            inset 0 0 25px 0 rgb(243, 217, 154);
    }
    100% {
        border: solid white 1px;
        box-shadow:
            0 0 30px 0 white,
            inset 0 0 16px 2px white,
            0 0 16px 10px rgba(255, 255, 255, 0.55),
            inset 0 0 25px 0 white;
    }
}

.box-shadow {
    animation: neon-flicker 2s infinite alternate;
}
