@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

/* COLORS */

$family-sans-serif: 'Rubik', 'Bai Jamjuree', sans-serif;
$font-title: 'Bai Jamjuree', sans-serif;
$font-text: 'Rubik';
$radius-rounded : 0.75rem;

$transparent: rgba(0,0,0,0);
$transparent-invert: findColorInvert($transparent);
$fd-primary: #0266FF;
$fd-primary-inverse: findColorInvert($fd-primary);
$fd-primary-dark: #0053e3;
$fd-warning: #f7a70b;
$fd-warning-inverse: findColorInvert($fd-warning);
$fd-warning-dark: #f7a70b;
$fd-warning-dark-inverse: findColorInvert($fd-warning-dark);
$fd-warning-darker: #d15901;
$fd-warning-darker-inverse: findColorInvert($fd-warning-darker);
$fd-secondary: #0093ff;
$fd-secondary-inverse: findColorInvert($fd-secondary);
$fd-success: #38c058;
$fd-success-inverse: findColorInvert($fd-success);
$fd-black: black;
$fd-black-inverse: findColorInvert($fd-black);
$fd-light: #fafbff;
$fd-light-inverse: findColorInvert($fd-light);
$fd-lightblue: #abbccc;
$fd-lightblue-inverse: findColorInvert($fd-lightblue);
$fd-brown: brown;
$fd-brown-inverse: findColorInvert($fd-brown);
$fd-error: #f5b4b4;
$fd-error-inverse: findColorInvert($fd-error);
$dark-transparent: rgba(243, 243, 243, 0.31);
$dark-transparent-inverse: findColorInvert($dark-transparent);
$blue-logo: #2da3cd;
$blue-logo-inverse: findColorInvert($blue-logo);
$fttc: #FAAA43;
$fttc-inverse: #FAAA43;
$fttc-inverse: findColorInvert($fttc);
$ftth: #90ECA0;
$ftth-inverse: findColorInvert($ftth);
@import "~bulma/sass/utilities/derived-variables";

$hovers:(
  "fd-primary": $fd-primary-dark,
  "fd-warning": $fd-warning-dark,
);

$addColors: (
        "transparent": ($transparent, $transparent-invert),
        "blue-logo": ($blue-logo, $blue-logo-inverse),
        "fd-primary": ($fd-primary, $fd-primary-inverse),
        "fd-secondary": ($fd-secondary, $fd-secondary-inverse),
        "fd-warning": ($fd-warning, $fd-warning-inverse),
        "fd-warning-dark": ($fd-warning-dark, $fd-warning-dark-inverse),
        "fd-warning-darker": ($fd-warning-darker, $fd-warning-darker-inverse),
        "fd-success": ($fd-success, $fd-success-inverse),
        "fd-black": ($fd-black, $fd-black-inverse),
        "fd-light": ($fd-light, $fd-light-inverse),
        "fd-lightblue": ($fd-lightblue, $fd-lightblue-inverse),
        "fd-brown": ($fd-brown, $fd-brown-inverse),
        "fd-error": ($fd-error, $fd-error-inverse),
        "dark-transparent": ($dark-transparent, $dark-transparent-inverse),
        "fttc": ($fttc, $fttc-inverse),
        "ftth": ($ftth, $ftth-inverse),
);
$colors: map-merge($colors, $addColors);

@import "~bulma/bulma";


@each $name, $color in $hovers {
  button.button.is-#{$name} {
    &:hover {
      background-color: $color;
    }
  }
}


.has-text-uppercase {
  text-transform: uppercase;
}

$borders-side : (
        t: "top",
        b: "bottom",
        l: "left",
        r: "right",
);

$borders-side-radius: (
        tl: "top-left",
        tr: "top-right",
        bl: "bottom-left",
        br: "bottom-right",
);
$borders-side-radius: map-merge($borders-side, $borders-side-radius);

$borders-size : (
        0: 0,
        1: 0.075rem,
        2: 0.1rem,
        3: 0.125rem,
        4: 0.450rem,
        5: 1rem,
        6: 2rem,
        25: 25%,
        50: 50%,
);

$borders-size-radius : (
        0: 0,
        1: 0.075rem,
        2: 0.1rem,
        3: 0.125rem,
        4: 0.250rem,
        5: 1rem,
        10: 10%,
        50: 50%,
);

$default-border-size: 0.0125rem;

.has-border {
  border: solid $default-border-size;
}

@each $sizename, $size in $borders-size {
  .has-border-#{$sizename} {
    border-width: $size;
  }
}

@each $sidename, $border in $borders-side {

  .has-border-#{$sidename} {
    border-#{$border}: solid $default-border-size;
  }

  @each $sizename, $size in $borders-size {
    .has-border-#{$sidename}-#{$sizename} {
      border-#{$border}: solid $default-border-size;
      border-width: $size;
    }
  }

}

@each $sizename, $size in $borders-size {
  .has-border-#{$sizename} {
    border: solid $size;
  }
}

@each $sizename, $size in $borders-size-radius {
  .is-rounded-#{$sizename} {
    border-radius: $size;
  }
}

@each $sizename, $size in $borders-size-radius {

  .has-border-radius-#{$sizename} {
    border-radius: $size!important;
  }


  @each $sidename, $side in $borders-side-radius {

    .has-border-#{$sidename}-radius-#{$sizename} {
      border-#{$side}-radius: $size!important;
    }

  }
}

@each $colorName, $color in $colors {

  .has-border-#{$colorName} {
    border-color: nth($color, 1);
  }
  .hover-has-text-#{$colorName}, a.hover-has-text-#{$colorName} {

    text-decoration: none;

    &:hover {
      color: nth($color, 1)!important;
    }

    &:link {
      color: nth($color, 1)!important;
    }

    /* visited link */
    &:visited {
      color: nth($color, 1)!important;
    }

    /* mouse over link */
    &:hover {
      color: nth($color, 1)!important;
    }

    /* selected link */
    &:active {
      color: nth($color, 1)!important;
    }
  }

}

.is-link {
  font-weight: 700!important;
}

.is-absolute {
  position: absolute!important;
}

.hover-image-illuminate {
  &:hover {
    filter: brightness(115%);
  }
}

.has-image-centered {
  text-align: center;

  img {
    display: inline-block;
  }

}

.mx-auto {
  margin: auto;
}

.ml-auto {
    margin-left: auto;
}
.mr-auto {
    margin-right: auto;
}
.mt-auto {
    margin-top: auto;
}
.mb-auto {
    margin-bottom: auto;
}

.box-shadow-none {
    box-shadow: none;
}

.has-background-fd-orange-gradient {
    background: linear-gradient(-230deg, #ff7b0d 0%,#ffa84c 100%);
}

.w-50 {
    width: 50%!important;
}

.w-75 {
    width: 75%!important;
}
.w-auto {
    width: auto!important;
}

$tablet: 900px;
$desktop: 1424px;

@include until($tablet) {
    .w-100-mobile {
        width: 100%!important;
    }
    .hidden-mobile {
        display: none!important;
    }
    .full-mobile {
        width: 100%!important;
    }
    .px-0-mobile {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .px-3-mobile {
        padding-left: 0.75rem !important;
        padding-right: 0.75rem !important;
    }
    .px-4-mobile {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
    .px-6-mobile {
        padding-left: 3rem !important;
        padding-right: 3rem !important;
    }
    .pt-2-mobile {
        padding-top: 0.5rem !important;
    }
    .pt-6-mobile {
        padding-top: 3rem !important;
    }
    .mx-auto-mobile {
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .mx-0-mobile {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .mx-3-mobile {
        margin-left: .5rem !important;
        margin-right: .5rem !important;
    }
    .mx-4-mobile {
        margin-left: .6rem !important;
        margin-right: .6rem !important;
    }
    .mt-2-mobile {
        margin-top: .5rem !important;
    }
    .mt-3-mobile {
        margin-top: 3rem !important;
    }
    .my-2-mobile {
        margin-top: .5rem !important;
        margin-bottom: .5rem !important;
    }
    .my-3-mobile {
        margin-top: 3rem !important;
        margin-bottom: 3rem !important;
    }
    .mb-3-mobile {
        margin-bottom: 3rem !important;
    }
    .mt-5-mobile {
        margin-top: 1.5rem !important;
    }
    .w-75-mobile {
        width: 75%!important;
    }
    .w-85-mobile {
        width: 85%!important;
    }
    .mobile-10 {
        flex: none;
        width: 83.33333333%;
    }
    .mobile-11 {
        flex: none;
        width: 91.66666667%;
    }
    .mobile-12 {
        flex: none;
        width: 100%;
    }
}

@include until($desktop) {
    .hidden-touch {
        display: none!important;
    }

    .px-4-touch {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
    .p-1-touch {
        padding: 0.25rem !important;
    }
    .p-3-touch {
        padding: 0.75rem !important;
    }
    .px-6-touch {
        padding-left: 3rem !important;
        padding-right: 3rem !important;
    }
    .mt-3-touch {
        margin-top: 3rem !important;
    }
    .mt-4-touch {
        margin-top: 1rem !important;
    }
    .mx-auto-touch {
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .touch-5 {
        flex: none;
        width: 41.66666667%;
    }
    .touch-6 {
        flex: none;
        width: 50%;
    }
    .touch-12 {
        flex: none;
        width: 100%;
    }
    .full-touch {
        width: 100%!important;
    }
}

@include from($desktop) {
    .hidden-desktop {
        display: none!important;
    }

    .w-50-desktop {
        width: 35%!important;
    }
    .p-0-desktop {
        padding: 0!important;
    }
    .py-6-desktop {
        padding-top: 3rem !important;
        padding-bottom: 3rem !important;
    }
    .mx-6-desktop {
        margin-left: .5rem !important;
        margin-right: .5rem !important;
    }
    .mx-6-desktop {
        margin-left: 3rem !important;
        margin-right: 3rem !important;
    }
    .mt-3-desktop {
        margin-top: 0.75rem !important;
    }
    .mt-6-desktop {
        margin-top: 3rem !important;
    }
    .mr-3-desktop {
        margin-right: 0.75rem !important;
    }
    .ml-3-desktop {
        margin-left: 0.75rem !important;
    }
    .ml-auto-desktop {
        margin-left: auto!important;
    }
    .mr-auto-desktop {
        margin-right: auto!important;
    }
    .mx-auto-desktop {
        margin-left: auto!important;
        margin-right: auto!important;
    }
    .my-6-desktop {
        margin-top: 3rem !important;
        margin-bottom: 3rem !important;
    }
    .desktop-1 {
        flex: none;
        width: 8.33333333%;
    }
    .desktop-2 {
        flex: none;
        width: 16.66666667%;
    }
    .desktop-3 {
        flex: none;
        width: 25%;
    }
    .desktop-4 {
        flex: none;
        width: 33.33333333%;
    }
    .desktop-6 {
        flex: none;
        width: 50%;
    }
    .desktop-7 {
        flex: none;
        width: 58.33333333%;
    }
    .desktop-8 {
        flex: none;
        width: 66.66666667%;
    }
    .desktop-11 {
        flex: none;
        width: 91.66666667%;
    }
    .desktop-12 {
        flex: none;
        width: 100%;
    }
    .offset-1-desktop {
        margin-left: 8.33333333%;
    }
    .px-6-desktop {
        padding-left:3rem!important;
        padding-right:3rem!important;
    }
    .px-7-desktop {
        padding-left:8rem!important;
        padding-right:8rem!important;
    }
}

@media screen and (min-width: $tablet) and (max-width: $desktop) {
    .hidden-tablet-only {
        display: none!important;
    }

    .vcentered-tablet-only {
        align-items: center;
    }
    .tablet-4 {
        flex: none;
        width: 33.33333333%;
    }
    .tablet-6 {
        flex: none;
        width: 50%;
    }
    .tablet-8 {
        flex: none;
        width: 66.66666667%;
    }
    .tablet-12 {
        flex: none;
        width: 100%;
    }

    .px-7-tablet{
        padding-left:8rem!important;
        padding-right:8rem!important;
    }
    .mx-6-tablet {
        margin-left: 3rem !important;
        margin-right: 3rem !important;
    }
    .ml-auto-tablet {
        margin-left: auto!important;
    }
    .mr-auto-tablet {
        margin-right: auto!important;
    }
    .mr-3-tablet {
        margin-right: 0.75rem !important;
    }
    .ml-3-tablet {
        margin-left: 0.75rem !important;
    }
    .mt-6-tablet {
        margin-top: 3rem !important;
    }
    .my-6-tablet {
        margin-top: 3rem !important;
        margin-bottom: 3rem !important;
    }

}

.columns.is-variable.is-6{--columnGap:1.5rem}
.columns.is-variable.is-7{--columnGap:1.75rem}
.px-7{
    padding-left:8rem!important;
    padding-right:8rem!important;
}
.image.is-24x24{height:24px;width:24px}

p {
    a {
        text-decoration: underline;
        text-decoration-thickness: 0.5px;
        text-underline-offset: 2px;
    }
}

a {
    color: white;
}
