<p>Lo sai, la voce, il video, i dati gi&agrave; da tempo viaggiano sulla Rete.</p>
<p>La piattaforma di <strong>Centralino Cloud</strong> di Fiberdroid consente a</p>
<ul>
    <li>smartworker</li>
    <li>ristoranti</li>
    <li>strutture ricettive</li>
    <li>piccole o medie imprese</li>
</ul>
<p>di <strong>dematerializzare i vecchi impianti telefonici.</strong></p>
<p>Infatti grazie alla nostra soluzione Centralino in Cloud l&rsquo;azienda pu&ograve; arrivare ad <strong>abbandonare completamente i classici telefoni</strong> e operare anche totalmente da computer oppure da app su smartphone o tablet.</p>
<p>Il vostro <strong>numero telefonico verr&agrave; mantenuto</strong> e <strong>gestito dai nostri server in datacenter </strong>cos&igrave; da essere raggiungibile anche in mobilit&agrave; e non perdere neanche una telefonata.</p>
<p>La soluzione Fibedroid di <strong>Centralino Cloud</strong> non assomiglia affatto ad un comune centralino telefonico. Consente infatti</p>
<ul>
    <li>l'integrazione con software aziendali</li>
    <li>il fax server integrato</li>
    <li>IVR (Interactive Voice Response) per dirottamento chiamata</li>
    <li>la gestione del Call Center, con report chiamate e sistema di billing.</li>
</ul>
<p>Un Centralino Cloud ti consente inoltre di</p>
<ul>
    <li><strong>liberarti delle classiche prese</strong></li>
</ul>
<p>Le chiamate possono essere effettuate sia da pc/smartphone/tablet mediante un'applicazione chiamata <strong>Softphone</strong> sia con telefoni dedicati chiamati<strong> telefoni IP.</strong></p>
<ul>
    <li><strong>liberarti dei costi fissi di noleggio</strong> degli apparati, in quanto i numeri di telefono possono essere registrati nel centralino via Internet e le tue sedi possono avere pi&ugrave; numerazioni su di un unico sistema di comunicazione.</li>
</ul>
<p>Grazie a dei client specifici, inoltre, puoi <strong>utilizzare il tuo numero</strong> interno aziendale <strong>anche quando sei fuori sede</strong>, dal tuo cellulare (compatibile con Client Sip), per ricevere e poter fare chiamate come se fossi seduto alla tua scrivania.</p>