<ul>
    <li>Computer o smartphone per utilizzo <strong>APP Softphone</strong></li>
    <li>Connettivit&agrave; internet con <strong>banda minima garantita</strong> studiata anticipatamente per le contemporaneit&agrave; necessarie a sostenere le chiamate</li>
    <li><strong>Router / Firewall configurato</strong> / predisposto correttamente per gestire la QoS (Quality of Services) per le chiamate VoIP</li>
    <li>Eventuali <strong>telefoni IP</strong> compatibili con <strong>protocollo SIP</strong></li>
</ul>