body {
    margin: 0;
    line-height: normal;
}

:root {
    /* fonts */
    --font-ibm-plex-sans-hebrew: "IBM Plex Sans Hebrew";
    --font-outfit: Outfit;
    --font-ibm-plex-sans: "IBM Plex Sans";

    /* font sizes */
    --font-size-smi: 13px;
    --font-size-base-4: 15.4px;
    --font-size-13xl-3: 32.3px;
    --font-size-sm-9: 13.9px;
    --font-size-lg-5: 18.5px;
    --font-size-smi-8: 12.8px;
    --font-size-base-1: 15.1px;
    --font-size-12xl-8: 31.8px;
    --font-size-sm-6: 13.6px;
    --font-size-lg-2: 18.2px;
    --font-size-23xl: 42px;
    --font-size-9xl-7: 28.7px;
    --font-size-mini-9: 14.9px;
    --font-size-2xl-6: 21.6px;
    --font-size-mini: 15px;
    --font-size-5xl: 24px;
    --font-size-43xl: 62px;
    --font-size-xl: 20px;
    --font-size-base: 16px;

    /* Colors */
    --color-gray-100: #7d7d7d;
    --color-gray-200: #1b1c1d;
    --color-gray-300: #b0b0b0;
    --color-gray-400: #03040d;
    --color-white: #fff;
    --color-mediumslateblue: #0266ff;
    --color-gainsboro-100: #d9d9d9;
    --color-gainsboro-200: rgba(217, 217, 217, 0.2);
    --color-gainsboro-300: rgba(217, 217, 217, 0.1);
    --color-darkgray: #9f9f9f;
    --color-darkslategray-100: #474747;
    --color-darkslategray-200: #353535;
    --color-darkslategray-300: #313131;
    --color-darkviolet: #a70fee;
    --color-black: #000;

    /* Gaps */
    --gap-7xs: 6px;
    --gap-xl: 20px;

    /* border radiuses */
    --br-5xs-4: 7.4px;
    --br-2xl-1: 21.1px;
    --br-5xs-3: 7.3px;
    --br-xl-8: 20.8px;
    --br-5xl: 24px;
    --br-5xs-5: 7.5px;
    --br-9xl: 28px;
    --br-base-8: 15.8px;
    --br-3xl-6: 22.6px;
    --br-5xs: 8px;
    --br-181xl: 200px;
}

.landing-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 1391.01px;
    height: 1027.13px;
    mix-blend-mode: normal;
}
.chi-siamo,
.servizi {
    position: absolute;
    top: 29px;
    left: calc(50% - 307.94px);
    letter-spacing: 0.2px;
    line-height: 20px;
}
.servizi {
    left: calc(50% - 193.92px);
}
.pacchetti {
    left: calc(50% - 91.78px);
}
.assistance,
.blog,
.pacchetti,
.soluzioni,
.speed-test {
    position: absolute;
    top: 29px;
    letter-spacing: 0.2px;
    line-height: 20px;
}
.soluzioni {
    left: calc(50% + 26px);
    font-size: 14px;
}
.assistance,
.blog,
.speed-test {
    left: 851.13px;
    text-align: left;
}
.assistance,
.speed-test {
    left: 938px;
}
.speed-test {
    left: 1118px;
}
.sign-in {
    top: 5.5px;
    left: 24.31px;
    line-height: 20px;
    font-weight: 500;
}
.a,
.group-child,
.sign-in {
    position: absolute;
}
.a {
    top: 23px;
    left: 1222px;
    border-radius: var(--br-5xs);
    background-color: var(--color-white);
    width: 94.31px;
    height: 33px;
    text-align: left;
    color: var(--color-gray-400);
}
.group-child {
    top: 0;
    left: 0;
    border-bottom: 1px solid #15263f;
    box-sizing: border-box;
    width: 1440px;
    height: 70px;
}
.active-voice-cursor {
    position: absolute;
    top: 70px;
    left: 170px;
    background-color: var(--color-white);
    width: 64px;
    height: 3px;
}
.chi-siamo-parent {
    position: absolute;
    top: 0;
    left: calc(50% - 718px);
    width: 1440px;
    height: 73px;
    text-align: center;
    font-size: var(--font-size-mini);
}
.keep-your-business {
    margin: 0;
}
.keep-your-business-container {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 100%;
    font-weight: 500;
}
.from-voip-and {
    position: absolute;
    top: 158px;
    left: 103px;
    font-size: var(--font-size-xl);
    letter-spacing: 0.5px;
    line-height: 26px;
    font-family: var(--font-ibm-plex-sans-hebrew);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 609px;
}
.keep-your-business-connected-a-parent {
    position: absolute;
    top: 188px;
    left: 311px;
    width: 1000px;
    height: 236px;
    text-align: center;
    font-size: var(--font-size-43xl);
    font-family: var(--font-outfit);
}
.group-inner {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-5xs);
    background-color: var(--color-mediumslateblue);
    width: 170px;
    height: 50px;
}
.shop-now {
    position: absolute;
    top: 15px;
    left: calc(50% - 43px);
    line-height: 20px;
}
.rectangle-div,
.rectangle-parent {
    position: absolute;
    width: 170px;
    height: 50px;
}
.rectangle-parent {
    top: 461px;
    left: 538px;
    font-size: var(--font-size-base);
}
.rectangle-div {
    top: 0;
    left: 0;
    border-radius: var(--br-5xs);
    background-color: var(--color-darkslategray-100);
    opacity: 0.4;
}
.schedule-a-call {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 20px;
    font-weight: 500;
}
.rectangle-group,
.schedule-a-call-wrapper {
    position: absolute;
    top: 16px;
    left: 15px;
    width: 136px;
    height: 20px;
}
.rectangle-group {
    top: 460px;
    left: 737px;
    width: 170px;
    height: 50px;
    font-size: var(--font-size-base);
}
.logo-fiberdroid-white-horizont-icon {
    position: absolute;
    top: 23px;
    left: 101px;
    width: 174.74px;
    height: 31.81px;
    overflow: hidden;
}
.trusted-more-than-container {
    position: absolute;
    top: 622px;
    left: 419px;
    font-size: 26px;
    display: flex;
    font-family: var(--font-ibm-plex-sans);
    text-align: center;
    align-items: center;
    width: 607px;
    height: 31px;
}
.group-child2,
.group-child3,
.rectangle-icon {
    position: absolute;
    left: 0;
    border-radius: var(--br-5xl);
    height: 350px;
}
.rectangle-icon {
    top: 0;
    width: 286.22px;
    object-fit: cover;
}
.group-child2,
.group-child3 {
    background-color: var(--color-gray-300);
    box-sizing: border-box;
}
.group-child2 {
    top: 380px;
    border: 1px solid #161616;
    width: 286.22px;
}
.group-child3 {
    top: 0;
    border: 1px solid var(--color-darkslategray-200);
    width: 286px;
}
.each-time-you {
    position: absolute;
    top: 116px;
    left: 19px;
    letter-spacing: 0.45px;
    font-weight: 500;
    display: flex;
    align-items: center;
    width: 226px;
}
.group-child4,
.group-child5,
.group-child6 {
    position: absolute;
    left: 0;
    border: 0.8px solid var(--color-darkgray);
    box-sizing: border-box;
    width: 62.47px;
    height: 62.47px;
}
.group-child4 {
    top: 0;
    background-color: var(--color-gainsboro-300);
}
.group-child5,
.group-child6 {
    top: 61.82px;
}
.group-child6 {
    top: 123.64px;
}
.group-child7 {
    top: 0;
}
.group-child10,
.group-child7,
.group-child8,
.group-child9 {
    position: absolute;
    left: 61.82px;
    border: 0.8px solid var(--color-darkgray);
    box-sizing: border-box;
    width: 62.47px;
    height: 62.47px;
}
.group-child8 {
    top: 61.82px;
    background-color: var(--color-gainsboro-200);
    opacity: 0.79;
}
.group-child10,
.group-child9 {
    top: 123.64px;
}
.group-child10 {
    top: 0;
    left: 123.64px;
    background-color: var(--color-gainsboro-200);
}
.group-child11 {
    top: 61.82px;
    left: 123.64px;
}
.group-child11,
.group-child12,
.group-child13,
.group-child14,
.group-child15 {
    position: absolute;
    border: 0.8px solid var(--color-darkgray);
    box-sizing: border-box;
    width: 62.47px;
    height: 62.47px;
}
.group-child12 {
    top: 123.64px;
    left: 123.64px;
    background-color: var(--color-gainsboro-300);
}
.group-child13,
.group-child14,
.group-child15 {
    top: 0;
    left: 185.46px;
}
.group-child14,
.group-child15 {
    top: 61.82px;
}
.group-child15 {
    top: 123.64px;
}
.group-parent,
.rectangle-parent2,
.rectangle-parent3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 247.93px;
    height: 186.11px;
}
.group-parent,
.rectangle-parent3 {
    left: 246.78px;
}
.group-parent {
    top: -30.68px;
    left: -21.64px;
    width: 494.7px;
    opacity: 0.3;
}
.mask-group,
.rectangle-parent1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 286px;
    height: 187.83px;
}
.rectangle-parent1 {
    top: 380px;
    height: 350px;
}
.group-child28,
.group-child29,
.group-child30 {
    position: absolute;
    top: 760px;
    left: 0;
    border-radius: var(--br-5xl);
    width: 286.22px;
    height: 350px;
    object-fit: cover;
}
.group-child29,
.group-child30 {
    top: 190px;
    left: 316.78px;
}
.group-child30 {
    top: 570px;
}
.group-div {
    position: absolute;
    top: 934px;
    left: 703px;
    width: 603px;
    height: 1110px;
    font-family: var(--font-outfit);
}
.we-make-internet {
    position: relative;
    line-height: 100%;
    font-weight: 500;
    display: flex;
    align-items: center;
    width: 366px;
}
.value-heading-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.communication-chat-check {
    position: relative;
    width: 28px;
    height: 27px;
    overflow: hidden;
    flex-shrink: 0;
}
.value-icon-holder {
    border-radius: var(--br-181xl);
    background-color: var(--color-black);
    border: 2px solid var(--color-darkslategray-300);
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.paragraph,
.value-heading {
    position: relative;
    letter-spacing: 0.5px;
    display: flex;
    align-items: center;
}
.value-heading {
    font-weight: 500;
    width: 297px;
}
.paragraph {
    font-size: var(--font-size-mini);
    line-height: 20.5px;
    color: var(--color-gray-100);
    width: 368px;
}
.value-heading-holder,
.value-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-7xs);
}
.value-wrapper {
    flex-direction: row;
    gap: var(--gap-xl);
}
.environment-planet {
    position: relative;
    width: 28px;
    height: 29px;
    overflow: hidden;
    flex-shrink: 0;
}
.icon-holder {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding: 7px 6px;
    align-items: center;
    justify-content: center;
}
.system-window-check {
    position: relative;
    width: 24px;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
}
.value-content,
.value-points {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 63px;
    font-size: var(--font-size-5xl);
    font-family: var(--font-ibm-plex-sans-hebrew);
}
.value-content {
    position: absolute;
    top: 1124px;
    left: 137px;
    gap: 93px;
    font-size: var(--font-size-23xl);
    font-family: var(--font-outfit);
}
.group-child31 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 12px;
    background-color: var(--color-gray-200);
    width: 970px;
    height: 431px;
}
.group-child32 {
    position: absolute;
    top: 1px;
    left: 485px;
    background: linear-gradient(180deg, rgba(217, 217, 217, 0), #d9d9d9);
    width: 1px;
    height: 109px;
    opacity: 0.2;
}
.we-cover-99-container {
    position: absolute;
    top: 153px;
    left: 275px;
    letter-spacing: 0.5px;
    font-weight: 500;
}
.group-child33 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-5xs);
    background-color: #333;
    box-shadow: 0 21px 36px rgba(99, 91, 255, 0.12), 0 0 14px rgba(0, 0, 0, 0.25),
    0 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid #515151;
    box-sizing: border-box;
    width: 370px;
    height: 51px;
}
.enter-your-address {
    position: absolute;
    top: 15px;
    left: 17px;
    letter-spacing: 0.5px;
    line-height: 20.5px;
}
.group-child34 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
    background-color: var(--color-mediumslateblue);
    width: 30px;
    height: 30px;
}
.vector-icon {
    position: absolute;
    height: 43.33%;
    width: 43.33%;
    top: 30%;
    right: 30%;
    bottom: 26.67%;
    left: 26.67%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.rectangle-parent6 {
    position: absolute;
    top: 11px;
    left: 329px;
    width: 30px;
    height: 30px;
}
.rectangle-parent5 {
    position: absolute;
    top: 240px;
    left: 300px;
    width: 370px;
    height: 51px;
    font-size: var(--font-size-mini);
    color: var(--color-gray-100);
}
.landing-item,
.mask-group-icon,
.rectangle-parent4 {
    position: absolute;
    left: 265px;
    width: 970px;
    height: 431px;
}
.rectangle-parent4 {
    top: 2155px;
    text-align: center;
    font-size: var(--font-size-5xl);
}
.landing-item,
.mask-group-icon {
    top: 2159px;
}
.landing-item {
    top: 2108px;
    left: 585px;
    width: 330px;
    height: 330px;
}
.curated-solutions-for {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 100%;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 582px;
    height: 44px;
}
.curated-solutions-for-industri-wrapper {
    position: absolute;
    top: 5102px;
    left: 397px;
    width: 582px;
    height: 44px;
    text-align: center;
    font-size: var(--font-size-23xl);
    font-family: var(--font-outfit);
}
.happy-clients {
    top: 4683px;
    left: 120px;
    font-size: var(--font-size-xl);
    letter-spacing: 0.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 281px;
}
.average-response-time,
.div,
.happy-clients {
    position: absolute;
    text-align: center;
}
.div {
    top: 4590px;
    left: 202px;
    font-size: var(--font-size-43xl);
    line-height: 100%;
    font-weight: 300;
    font-family: var(--font-outfit);
}
.average-response-time {
    top: 4679px;
    left: 570px;
    font-size: var(--font-size-xl);
    letter-spacing: 0.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 281px;
}
.hours {
    top: 4590px;
    left: calc(50% - 117px);
    font-size: var(--font-size-43xl);
    line-height: 100%;
    font-weight: 300;
    font-family: var(--font-outfit);
}
.div1,
.hours,
.uptime {
    position: absolute;
    text-align: center;
}
.uptime {
    top: 4679px;
    left: 1020px;
    font-size: var(--font-size-xl);
    letter-spacing: 0.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 281px;
}
.div1 {
    top: 4590px;
    left: 1062px;
    font-size: var(--font-size-43xl);
    line-height: 100%;
    font-weight: 300;
    font-family: var(--font-outfit);
}
.paragraph3 {
    position: relative;
    font-size: var(--font-size-mini);
    letter-spacing: 0.5px;
    line-height: 20.5px;
    color: var(--color-gray-100);
    display: flex;
    align-items: center;
    width: 247px;
}
.value-heading-holder3 {
    width: 247px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-7xs);
}
.value-wrapper3,
.value-wrapper4,
.value-wrapper5,
.value-wrapper6 {
    position: absolute;
    top: 5581px;
    left: 138px;
    width: 247px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: var(--font-size-5xl);
}
.value-wrapper4,
.value-wrapper5,
.value-wrapper6 {
    left: 439px;
}
.value-wrapper5,
.value-wrapper6 {
    left: 743px;
}
.value-wrapper6 {
    top: 5576px;
    left: 1049px;
}
.the-only-provider-container {
    position: absolute;
    top: 4875px;
    left: 304px;
    font-size: var(--font-size-23xl);
    line-height: 100%;
    font-family: var(--font-outfit);
    text-align: center;
}

.cookie-policy,
.privacy-policy {
    top: 354px;
    text-decoration: underline;
    width: 106px;
    height: 18.2px;
}
.privacy-policy {
    position: absolute;
    left: 963px;
    letter-spacing: 0.5px;
    line-height: 20.5px;
    display: flex;
    align-items: center;
}
.cookie-policy {
    left: 1106px;
}
.concilia-web,
.cookie-policy,
.via-enrico-cosenz-container {
    position: absolute;
    letter-spacing: 0.5px;
    line-height: 20.5px;
    display: flex;
    align-items: center;
}
.concilia-web {
    top: 354px;
    left: 1231px;
    text-decoration: underline;
    width: 106px;
    height: 18.2px;
}
.via-enrico-cosenz-container {
    top: 306px;
    left: 135px;
    width: 346px;
    height: 79px;
}
.centralino-cloud,
.cloud-wifi,
.fiberdroid,
.fibra,
.servizi1,
.siamo-lazienda-che-container,
.voip,
.wireless {
    position: absolute;
    top: 116px;
    left: 135px;
    letter-spacing: 0.5px;
    line-height: 20.5px;
    display: flex;
    align-items: center;
    width: 371px;
    height: 138px;
}
.centralino-cloud,
.cloud-wifi,
.fiberdroid,
.fibra,
.servizi1,
.voip,
.wireless {
    top: 23.4px;
    left: 500px;
    width: 99px;
    height: 18.2px;
}
.centralino-cloud,
.cloud-wifi,
.fiberdroid,
.servizi1,
.voip,
.wireless {
    top: 50.26px;
    width: 72px;
}
.centralino-cloud,
.cloud-wifi,
.fiberdroid,
.servizi1,
.wireless {
    top: 77.61px;
    width: 88px;
    height: 18px;
}
.centralino-cloud,
.cloud-wifi,
.fiberdroid,
.servizi1 {
    top: 103.98px;
    width: 89px;
    height: 18.2px;
}
.centralino-cloud,
.fiberdroid,
.servizi1 {
    top: 130.61px;
    width: 149px;
    height: 18px;
}
.fiberdroid,
.servizi1 {
    top: 0;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--color-white);
    width: 68px;
    height: 18.2px;
}
.fiberdroid {
    top: 215.61px;
    left: 0;
    width: 426px;
    height: 18px;
}
.fibra-parent {
    position: absolute;
    top: 75.39px;
    left: 135px;
    width: 649px;
    height: 233.61px;
}
.router,
.router1,
.telefoni-voip {
    position: absolute;
    top: 23.4px;
    left: 0;
    letter-spacing: 0.5px;
    line-height: 20.5px;
    display: flex;
    align-items: center;
    width: 74px;
    height: 18.2px;
}
.router1,
.telefoni-voip {
    top: 50.61px;
    width: 95px;
    height: 18px;
}
.router1 {
    top: 77.12px;
    width: 61px;
    height: 18.2px;
}
.pachetti,
.router-parent {
    position: absolute;
    width: 110px;
}
.pachetti {
    top: 0;
    left: 0;
    letter-spacing: 0.5px;
    line-height: 20.5px;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--color-white);
    display: flex;
    align-items: center;
    height: 18.2px;
}
.router-parent {
    top: 75.39px;
    left: 838px;
    height: 95.32px;
}
.hospitality,
.manufactory,
.public-services,
.retalifood,
.soluzioni1,
.startups {
    position: absolute;
    top: 23.61px;
    left: 0;
    letter-spacing: 0.5px;
    line-height: 20.5px;
    display: flex;
    align-items: center;
    width: 105px;
    height: 17px;
}
.hospitality,
.public-services,
.retalifood,
.soluzioni1,
.startups {
    top: 50.61px;
    width: 97px;
    height: 18px;
}
.hospitality,
.public-services,
.soluzioni1,
.startups {
    top: 77.61px;
    width: 128px;
}
.hospitality,
.soluzioni1,
.startups {
    top: 103.98px;
    width: 83px;
    height: 18.2px;
}
.soluzioni1,
.startups {
    top: 129.61px;
}
.soluzioni1 {
    top: 0;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--color-white);
    width: 128px;
}
.manufactory-parent {
    position: absolute;
    top: 75.39px;
    left: 1047px;
    width: 128px;
    height: 147.81px;
}
.logo-fiberdroid-white-horizont-icon1 {
    position: absolute;
    top: 62px;
    left: 135px;
    width: 174.74px;
    height: 31.81px;
    overflow: hidden;
}
.group-child36 {
    position: absolute;
    top: 272.96px;
    left: 135px;
    background-color: var(--color-gainsboro-100);
    width: 1170px;
    height: 0.87px;
    opacity: 0.2;
}

.image-26-icon,
.landing-child1,
.landing-inner {
    position: absolute;
    top: 5231.06px;
    left: 130px;
    border-radius: 22.56px;
    width: 269px;
    height: 328.94px;
    object-fit: cover;
}
.image-26-icon,
.landing-child1 {
    top: 5231px;
    left: 435px;
}
.image-26-icon {
    top: 5229px;
    left: 130px;
    border-radius: 18.93px;
    width: 270.64px;
    height: 331px;
}
.image-23-icon,
.image-29-icon,
.image-29-icon1 {
    position: absolute;
    top: 5226.49px;
    left: 435px;
    border-radius: 20.15px;
    width: 269px;
    height: 333.48px;
    object-fit: cover;
}
.image-23-icon,
.image-29-icon1 {
    top: 5226px;
    left: 739.88px;
    border-radius: 13.71px;
    width: 267.25px;
    height: 331.66px;
}
.image-23-icon {
    left: 1043.97px;
    border-radius: 13.72px;
    width: 267.52px;
    height: 332px;
}
.build-your-ideal-solution-to-k-wrapper {
    position: absolute;
    top: 2705px;
    left: 448px;
    width: 553px;
    height: 84px;
    text-align: center;
    font-size: var(--font-size-23xl);
    font-family: var(--font-outfit);
}
.group-child37 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15.81px;
    background-color: var(--color-gray-300);
    border: 0.7px solid var(--color-darkslategray-200);
    box-sizing: border-box;
    width: 387.51px;
    height: 284.17px;
}
.group-child38,
.group-child39,
.group-child40 {
    position: absolute;
    left: 0;
    border: 0.6px solid var(--color-darkgray);
    box-sizing: border-box;
    width: 54.94px;
    height: 54.94px;
}
.group-child38 {
    top: 0;
    background-color: var(--color-gainsboro-300);
}
.group-child39,
.group-child40 {
    top: 54.37px;
}
.group-child40 {
    top: 108.74px;
}
.group-child41 {
    top: 0;
}
.group-child41,
.group-child42,
.group-child43,
.group-child44 {
    position: absolute;
    left: 54.37px;
    border: 0.6px solid var(--color-darkgray);
    box-sizing: border-box;
    width: 54.94px;
    height: 54.94px;
}
.group-child42 {
    top: 54.37px;
    background-color: var(--color-gainsboro-200);
    opacity: 0.79;
}
.group-child43,
.group-child44 {
    top: 108.74px;
}
.group-child44 {
    top: 0;
    left: 108.74px;
    background-color: var(--color-gainsboro-200);
}
.group-child45 {
    top: 54.37px;
    left: 108.74px;
}
.group-child45,
.group-child46,
.group-child47,
.group-child48,
.group-child49 {
    position: absolute;
    border: 0.6px solid var(--color-darkgray);
    box-sizing: border-box;
    width: 54.94px;
    height: 54.94px;
}
.group-child46 {
    top: 108.74px;
    left: 108.74px;
    background-color: var(--color-gainsboro-300);
}
.group-child47,
.group-child48,
.group-child49 {
    top: 0;
    left: 163.11px;
}
.group-child48,
.group-child49 {
    top: 54.37px;
}
.group-child49 {
    top: 108.74px;
}
.group-parent1,
.rectangle-parent10,
.rectangle-parent9 {
    position: absolute;
    top: 0;
    left: 0;
    width: 218.06px;
    height: 163.69px;
}
.group-parent1,
.rectangle-parent10 {
    left: 217.04px;
}
.group-parent1 {
    top: -26.98px;
    left: -19.04px;
    width: 435.1px;
    opacity: 0.3;
}
.mask-group1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 387.51px;
    height: 225.71px;
}
.connettivit,
.fibra-adsl-wireless {
    position: absolute;
    top: 151.27px;
    left: 28.95px;
    line-height: 100%;
    font-weight: 300;
    display: flex;
    align-items: center;
    width: 247.45px;
    height: 24.28px;
}
.connettivit {
    top: 67.73px;
    left: 29.23px;
    font-size: 42.02px;
    font-weight: 500;
    width: 311.37px;
    height: 71.31px;
}
.rectangle-parent8 {
    position: absolute;
    top: 0;
    left: 0;
    width: 387.51px;
    height: 284.17px;
    font-size: 21.63px;
}
.group-icon {
    position: absolute;
    top: 148.88px;
    left: 152.96px;
    width: 246.11px;
    height: 246.11px;
}
.group-child62,
.learn-more {
    position: absolute;
    top: 0;
    left: 0;
}
.group-child62 {
    border-radius: 7.47px;
    background-color: var(--color-mediumslateblue);
    width: 143.8px;
    height: 39.22px;
}
.learn-more {
    line-height: 18.68px;
    font-weight: 600;
}
.learn-more-wrapper,
.rectangle-parent11 {
    position: absolute;
    top: 10.27px;
    left: 30.81px;
    width: 79px;
    height: 19px;
}
.rectangle-parent11 {
    top: 215.7px;
    width: 143.8px;
    height: 39.22px;
    font-family: var(--font-ibm-plex-sans-hebrew);
}
.group-child88 {
    border-radius: var(--br-9xl);
    background-color: var(--color-mediumslateblue);
    box-shadow: 27.99502944946289px 24.995559692382812px 21px
    rgba(13, 13, 13, 0.15),
    0 0 50.99px rgba(13, 13, 13, 0.48),
    3.9992895126342773px 3.9992895126342773px 13px rgba(0, 0, 0, 0.25) inset;
    border: 1px solid var(--color-mediumslateblue);
    box-sizing: border-box;
}
.group-child88,
.group-wrapper,
.rectangle-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 144.13px;
    height: 144.13px;
}
.group-wrapper {
    top: 199.87px;
    left: 203.95px;
}
.rectangle-parent16 {
    position: absolute;
    top: 0;
    left: 886px;
    width: 387.51px;
    height: 284.17px;
    font-size: 21.63px;
}
.group-child115,
.group-frame {
    position: absolute;
    width: 144.13px;
    height: 144.13px;
}
.group-child115 {
    top: 0;
    left: 0;
    border-radius: var(--br-9xl);
    background-color: var(--color-darkviolet);
    box-shadow: 27.99502944946289px 24.995559692382812px 21px
    rgba(13, 13, 13, 0.15),
    0 0 50.99px rgba(13, 13, 13, 0.48),
    3.9992895126342773px 3.9992895126342773px 13px rgba(0, 0, 0, 0.25) inset;
    border: 1px solid var(--color-darkviolet);
    box-sizing: border-box;
}
.group-frame {
    top: 199.87px;
    left: 1090.09px;
}
.rectangle-parent19 {
    position: absolute;
    top: 215.7px;
    left: 916.95px;
    width: 143.8px;
    height: 39.22px;
    font-family: var(--font-ibm-plex-sans-hebrew);
}
.centralino-voip-txt-container {
    line-break: anywhere;
    width: 100%;
}
.centralino-voip {
    position: absolute;
    top: 68px;
    left: 29px;
    line-height: 100%;
    font-weight: 500;
    display: flex;
    align-items: center;
    width: 359px;
    height: 118px;
}
.rectangle-parent20 {
    position: absolute;
    top: 0;
    left: 443px;
    width: 388px;
    height: 284.17px;
    font-size: 42.02px;
}
.group-child142,
.group-wrapper1 {
    position: absolute;
    width: 144.13px;
    height: 144.13px;
}
.group-child142 {
    top: 0;
    left: 0;
    border-radius: var(--br-9xl);
    background-color: #fd7771;
    box-shadow: 27.99502944946289px 24.995559692382812px 21px
    rgba(13, 13, 13, 0.15),
    0 0 50.99px rgba(13, 13, 13, 0.48),
    3.9992895126342773px 3.9992895126342773px 13px rgba(0, 0, 0, 0.25) inset;
    border: 1px solid #fc916c;
    box-sizing: border-box;
}
.group-wrapper1 {
    top: 199.87px;
    left: 651.22px;
}
.rectangle-parent23 {
    position: absolute;
    top: 215.7px;
    left: 478.08px;
    width: 143.8px;
    height: 39.22px;
    font-family: var(--font-ibm-plex-sans-hebrew);
}
.system-wifi-high {
    position: absolute;
    top: 237.17px;
    left: 237.17px;
    width: 74.7px;
    height: 74.7px;
    overflow: hidden;
}
.communication-phone,
.shape-shield {
    position: absolute;
    top: 240.91px;
    left: 690.98px;
    width: 67.23px;
    height: 67.23px;
    overflow: hidden;
}
.shape-shield {
    top: 246.51px;
    left: 1132.65px;
    width: 60.69px;
    height: 60.69px;
}
.group-container,
.landing-inner1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 1273.51px;
    height: 344px;
}
.landing-inner1 {
    top: 2869px;
    left: 79px;
    font-size: 14.94px;
    font-family: var(--font-outfit);
}
.mask-group-icon1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 1244.63px;
    height: 497.53px;
    object-fit: cover;
}
.group-child144 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 23.63px;
    background-color: #010101;
    box-shadow: 0 0 44.37px rgba(45, 45, 45, 0.12);
    border: 1.8px solid #1a1a1a;
    box-sizing: border-box;
    width: 1246.7px;
    height: 515.5px;
}
.take-our-interactive {
    position: absolute;
    top: 220.17px;
    left: 0.3px;
    letter-spacing: 0.46px;
    line-height: 18.95px;
    display: flex;
    align-items: center;
    width: 337.25px;
    height: 59.99px;
}
.lets-find-the-container,
.need-help-deciding {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16.64px;
    line-height: 100%;
    display: flex;
    align-items: center;
    width: 240.15px;
    height: 17.71px;
}
.lets-find-the-container {
    top: 53px;
    font-size: 57.31px;
    font-weight: 600;
    font-family: var(--font-outfit);
    width: 654px;
    height: 119px;
}
.take-our-interactive-quiz-and-parent {
    position: absolute;
    top: 66.73px;
    left: 87px;
    width: 654px;
    height: 280.16px;
}
.group-wrapper2,
.rectangle-parent24 {
    position: absolute;
    top: 0;
    left: 0;
    width: 1246.7px;
    height: 515.5px;
}
.group-wrapper2 {
    top: 29.79px;
    left: 26.29px;
    font-size: 15.29px;
}
.group-child145 {
    position: absolute;
    top: 410.53px;
    left: 338.29px;
    border-radius: 7.53px;
    background-color: var(--color-darkslategray-100);
    width: 197.4px;
    height: 46px;
    opacity: 0.4;
}
.schedule-a-call2 {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 18.83px;
    display: flex;
    align-items: center;
    width: 177.35px;
    height: 18.57px;
}
.group-child146,
.schedule-a-call-frame {
    position: absolute;
    top: 425.34px;
    left: 372.51px;
    width: 177.35px;
    height: 18.57px;
}
.group-child146 {
    top: 0;
    left: 0;
    border-radius: 7.53px;
    background-color: var(--color-mediumslateblue);
    width: 197.4px;
    height: 46.42px;
}
.start-quiz {
    position: absolute;
    top: calc(50% - 9.23px);
    left: calc(50% - 45.54px);
    line-height: 18.83px;
    display: flex;
    align-items: center;
    width: 106.83px;
    height: 18.57px;
}
.rectangle-parent25 {
    position: absolute;
    top: 410.55px;
    left: 108.12px;
    width: 197.4px;
    height: 46.42px;
}
.mask-group-parent {
    position: absolute;
    top: 3908.47px;
    left: 74.71px;
    width: 1272.99px;
    height: 545.29px;
    font-size: 15.06px;
}
.image-41-icon {
    position: absolute;
    top: 3950px;
    left: 705px;
    width: 596px;
    height: 476px;
    object-fit: cover;
}
.mask-group-icon2,
.mask-group-icon3 {
    position: absolute;
    top: 3391px;
    left: 2828px;
    width: 376px;
    height: 421px;
    object-fit: cover;
}
.mask-group-icon3 {
    top: 3404px;
    left: 1508px;
    width: 353px;
    height: 442px;
}
.the-only-platform {
    position: absolute;
    top: 80px;
    left: 19px;
    letter-spacing: 0.45px;
    font-weight: 500;
    display: flex;
    align-items: center;
    width: 226px;
}
.rectangle-parent26,
.rectangle-parent29 {
    position: absolute;
    top: 1057px;
    left: 1848px;
    width: 286px;
    height: 350px;
    font-family: var(--font-outfit);
}
.rectangle-parent29 {
    top: 1430px;
    left: 1857px;
}
.landing-child2,
.rectangle-parent32 {
    position: absolute;
    left: 1524px;
    height: 350px;
}
.landing-child2 {
    top: 1238px;
    border-radius: var(--br-5xl);
    width: 286.22px;
    object-fit: cover;
}
.rectangle-parent32 {
    top: 867px;
    width: 286px;
    font-family: var(--font-outfit);
}
.we-support-ecosystem {
    position: absolute;
    top: 98px;
    left: 19px;
    letter-spacing: 0.45px;
    font-weight: 500;
    display: flex;
    align-items: center;
    width: 226px;
}
.most-popular-plans-wrapper,
.rectangle-parent35 {
    position: absolute;
    top: 1609px;
    left: 1524px;
    width: 286px;
    height: 350px;
    font-family: var(--font-outfit);
}
.most-popular-plans-wrapper {
    top: 3302px;
    left: 542px;
    width: 357px;
    height: 42px;
    text-align: center;
    font-size: var(--font-size-23xl);
}
.group-child247 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20.76px;
    background-color: var(--color-gray-200);
    width: 355.56px;
    height: 432.72px;
}
.div2,
.month {
    text-align: center;
}
.div2 {
    position: absolute;
    top: 368px;
    left: 69px;
    font-size: 18.16px;
    line-height: 100%;
    text-transform: uppercase;
    font-weight: 600;
}
.month {
    top: 371.03px;
    left: 130.28px;
    opacity: 0.4;
}
.backup,
.from,
.month {
    position: absolute;
    line-height: 100%;
}
.from {
    top: 371px;
    left: 37px;
    text-align: center;
    opacity: 0.4;
}
.backup {
    top: 6.81px;
    left: 6.86px;
    text-transform: uppercase;
}
.backup-parent,
.group-child248 {
    position: absolute;
    width: 64.3px;
    height: 27.23px;
}
.group-child248 {
    top: 0;
    left: 0;
    border-radius: 20.76px;
    border: 0.8px solid var(--color-white);
    box-sizing: border-box;
    opacity: 0.2;
}
.backup-parent {
    top: 36.31px;
    left: 39.34px;
    text-align: center;
}
.g-outdoor-cat6-container {
    position: absolute;
    top: 68px;
    left: 44px;
    font-size: 31.77px;
    line-height: 100%;
    font-weight: 500;
    font-family: var(--font-outfit);
}
.group-child249 {
    top: 147.52px;
    left: 41.61px;
    background-color: var(--color-gainsboro-100);
    width: 285.2px;
    height: 0.76px;
    opacity: 0.2;
}
.group-child249,
.group-child250,
.vector-icon1 {
    position: absolute;
    border-radius: 20.76px;
}
.group-child250 {
    top: 326.05px;
    left: 41.61px;
    background-color: var(--color-gainsboro-100);
    width: 285.2px;
    height: 0.76px;
    opacity: 0.2;
}
.vector-icon1 {
    height: 58.51%;
    width: 5.19%;
    top: 17.73%;
    right: 94.81%;
    bottom: 23.76%;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.copertura-con-vodafone {
    position: absolute;
    top: 0;
    left: 27.61px;
    letter-spacing: 0.38px;
    line-height: 15.51px;
}
.vector-parent {
    position: absolute;
    height: 3.7%;
    width: 73.86%;
    top: 43.88%;
    right: 13.69%;
    bottom: 52.42%;
    left: 12.45%;
    font-size: 15.13px;
}
.vector-icon2 {
    position: absolute;
    height: 58.51%;
    width: 5.41%;
    top: 17.73%;
    right: 94.59%;
    bottom: 23.76%;
    left: 0;
    border-radius: 20.76px;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.vector-group {
    position: absolute;
    height: 3.7%;
    width: 70.77%;
    top: 53.85%;
    right: 16.79%;
    bottom: 42.46%;
    left: 12.45%;
    font-size: 15.13px;
}
.vector-icon3 {
    position: absolute;
    height: 58.51%;
    width: 8.43%;
    top: 17.73%;
    right: 91.57%;
    bottom: 23.76%;
    left: 0;
    border-radius: 20.76px;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.vector-container {
    position: absolute;
    height: 3.7%;
    width: 45.45%;
    top: 63.81%;
    right: 42.1%;
    bottom: 32.49%;
    left: 12.45%;
    font-size: 15.13px;
}
.group-child251 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 7.27px;
    background-color: var(--color-mediumslateblue);
    width: 123.31px;
    height: 33.63px;
}
.add-to-cart {
    position: absolute;
    top: 0;
    left: 27.22px;
    line-height: 16.01px;
    font-weight: 600;
}
.vector-icon4 {
    position: absolute;
    height: 94.2%;
    width: 14.82%;
    top: 0;
    right: 85.18%;
    bottom: 5.8%;
    left: 0;
    border-radius: 7.27px;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.add-to-cart-parent {
    position: absolute;
    top: 8.81px;
    left: 10.41px;
    width: 97.22px;
    height: 17px;
}
.rectangle-parent39 {
    position: absolute;
    top: 360.85px;
    left: 203.5px;
    width: 123.31px;
    height: 33.63px;
    font-size: 12.81px;
}
.landing-inner2,
.rectangle-parent38 {
    position: absolute;
    top: 0;
    left: 0;
    width: 355.56px;
    height: 432.72px;
}
.landing-inner2 {
    top: 3426px;
    left: 2852px;
    font-size: 13.62px;
}
.mask-group-icon4 {
    position: absolute;
    top: 3385px;
    left: 3274px;
    width: 376px;
    height: 421px;
    object-fit: cover;
}
.backup-group,
.div3,
.month1 {
    position: absolute;
    text-align: center;
}
.div3 {
    top: 368.42px;
    left: 38.58px;
    font-size: 18.16px;
    line-height: 100%;
    text-transform: uppercase;
    font-weight: 600;
}
.backup-group,
.month1 {
    font-size: 13.62px;
}
.month1 {
    top: 371.44px;
    left: 99.86px;
    line-height: 100%;
    opacity: 0.4;
}
.backup-group {
    top: 36.31px;
    left: 39.34px;
    width: 64.3px;
    height: 27.23px;
}
.wireless-100-basic-container {
    position: absolute;
    top: 65.7px;
    left: 39.34px;
    font-size: 31.77px;
    line-height: 100%;
    font-weight: 500;
    font-family: var(--font-outfit);
}
.vector-icon5 {
    position: absolute;
    height: 58.51%;
    width: 7.22%;
    top: 17.73%;
    right: 92.78%;
    bottom: 23.76%;
    left: 0;
    border-radius: 20.76px;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.vector-icon6,
.vector-parent1 {
    position: absolute;
    height: 3.7%;
    width: 53.05%;
    top: 43.88%;
    right: 34.51%;
    bottom: 52.42%;
    left: 12.45%;
}
.vector-icon6 {
    height: 58.51%;
    width: 8.59%;
    top: 17.73%;
    right: 91.41%;
    bottom: 23.76%;
    left: 0;
    border-radius: 20.76px;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.vector-parent2,
.vector-parent3 {
    position: absolute;
    height: 3.7%;
    width: 44.61%;
    top: 53.85%;
    right: 42.94%;
    bottom: 42.46%;
    left: 12.45%;
}
.vector-parent3 {
    width: 45.45%;
    top: 63.81%;
    right: 42.1%;
    bottom: 32.49%;
}
.group-child257,
.landing-inner3 {
    position: absolute;
    width: 355.56px;
    height: 432.72px;
}
.landing-inner3 {
    top: 3420px;
    left: 3298px;
    font-size: 15.13px;
}
.group-child257 {
    top: 490.82px;
    left: 0;
    border-radius: 20.76px;
    background-color: var(--color-gray-200);
}
.div4 {
    top: 859.24px;
    left: 43.58px;
    font-size: 18.16px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
}
.div4,
.month2,
.voip2 {
    position: absolute;
    line-height: 100%;
}
.month2 {
    top: 862.26px;
    left: 99.86px;
    font-size: 13.62px;
    text-align: center;
    opacity: 0.4;
}
.voip2 {
    top: 6.81px;
    left: 16.86px;
    text-transform: uppercase;
}
.voip-parent {
    position: absolute;
    top: 527.13px;
    left: 39.34px;
    width: 64.3px;
    height: 27.23px;
    text-align: center;
    font-size: 13.62px;
}
.numero-voip-singolo-container {
    position: absolute;
    top: 566px;
    left: 39.73px;
    font-size: 31.77px;
    line-height: 100%;
    font-weight: 500;
    font-family: var(--font-outfit);
}
.group-child259 {
    top: 638.34px;
    left: 41.61px;
    background-color: var(--color-gainsboro-100);
    width: 285.2px;
    height: 0.76px;
    opacity: 0.2;
}
.group-child259,
.group-child260,
.vector-icon9 {
    position: absolute;
    border-radius: 20.76px;
}
.group-child260 {
    top: 816.87px;
    left: 41.61px;
    background-color: var(--color-gainsboro-100);
    width: 285.2px;
    height: 0.76px;
    opacity: 0.2;
}
.vector-icon9 {
    height: 1.34%;
    width: 0.92%;
    top: 98.11%;
    right: 99.08%;
    bottom: 0.55%;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.numero-singolo {
    position: absolute;
    top: 680.7px;
    left: 27.61px;
    letter-spacing: 0.38px;
    line-height: 15.51px;
}
.screenshot-2023-07-19-at-1831 {
    position: absolute;
    top: 0;
    left: 889.47px;
    width: 559px;
    height: 165px;
}
.screenshot-2023-07-19-at-1832 {
    position: absolute;
    top: 141px;
    left: 900.47px;
    width: 580px;
    height: 179px;
}
.vector-icon10,
.vector-parent4 {
    position: absolute;
    height: 75.44%;
    width: 97.1%;
    top: 0;
    right: 0;
    bottom: 24.56%;
    left: 2.9%;
}
.vector-icon10 {
    height: 29.26%;
    width: 7.67%;
    top: 33.87%;
    right: 92.33%;
    bottom: 36.88%;
    left: 0;
    border-radius: 20.76px;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.vector-icon11,
.vector-parent5 {
    position: absolute;
    height: 3.46%;
    width: 11.65%;
    top: 77.51%;
    right: 85.45%;
    bottom: 19.03%;
    left: 2.9%;
}
.vector-icon11 {
    height: 29.26%;
    width: 5.31%;
    top: 18.24%;
    right: 94.69%;
    bottom: 52.5%;
    left: 0;
    border-radius: 20.76px;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.vector-parent6 {
    position: absolute;
    height: 3.46%;
    width: 16.83%;
    top: 82.72%;
    right: 80.27%;
    bottom: 13.82%;
    left: 2.9%;
}
.rectangle-parent43 {
    position: absolute;
    top: 851.67px;
    left: 203.5px;
    width: 123.31px;
    height: 33.63px;
    font-size: 12.81px;
}
.landing-inner4,
.rectangle-parent42 {
    position: absolute;
    top: 0;
    left: 0;
    width: 1524.73px;
    height: 923.54px;
}
.landing-inner4 {
    top: 2935px;
    left: 1534.27px;
    font-size: 15.13px;
}
.mask-group-icon5 {
    position: absolute;
    top: 3401px;
    left: 1952px;
    width: 353px;
    height: 442px;
    object-fit: cover;
}
.gnr-100-numeri {
    position: absolute;
    top: 81.7px;
    left: 39.34px;
    font-size: 31.77px;
    line-height: 100%;
    font-weight: 500;
    font-family: var(--font-outfit);
}
.vector-icon13 {
    position: absolute;
    height: 58.51%;
    width: 12.31%;
    top: 17.73%;
    right: 87.69%;
    bottom: 23.76%;
    left: 0;
    border-radius: 20.76px;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.vector-icon14,
.vector-parent7 {
    position: absolute;
    height: 3.7%;
    width: 31.11%;
    top: 43.88%;
    right: 56.44%;
    bottom: 52.42%;
    left: 12.45%;
}
.vector-icon14 {
    height: 29.26%;
    width: 5.03%;
    top: 20.81%;
    right: 94.97%;
    bottom: 49.94%;
    left: 0;
    border-radius: 20.76px;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.fino-a-1281 {
    position: absolute;
    top: 0;
    left: 27.47px;
    letter-spacing: 0.38px;
    line-height: 15.51px;
    display: flex;
    align-items: center;
    width: 243px;
}
.vector-icon15,
.vector-parent8 {
    position: absolute;
    height: 7.4%;
    width: 76.07%;
    top: 52.96%;
    right: 11.48%;
    bottom: 39.64%;
    left: 12.45%;
}
.vector-icon15 {
    height: 29.26%;
    width: 5.11%;
    top: 8.69%;
    right: 94.89%;
    bottom: 62.06%;
    left: 0;
    border-radius: 20.76px;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.nuovi-o-portati {
    position: absolute;
    top: 0;
    left: 27.47px;
    letter-spacing: 0.38px;
    line-height: 15.51px;
    display: flex;
    align-items: center;
    width: 239px;
}
.vector-parent9 {
    position: absolute;
    height: 7.4%;
    width: 74.94%;
    top: 63.82%;
    right: 12.61%;
    bottom: 28.78%;
    left: 12.45%;
}
.landing-inner5 {
    position: absolute;
    top: 3422.82px;
    left: 1978.27px;
    width: 355.56px;
    height: 432.72px;
    font-size: 15.13px;
}
.mask-group-icon6 {
    position: absolute;
    top: 3399px;
    left: 2396px;
    width: 353px;
    height: 442px;
    object-fit: cover;
}
.centrale-voip-cloud-container {
    position: absolute;
    top: 72.7px;
    left: 39.34px;
    font-size: 31.77px;
    line-height: 100%;
    font-weight: 500;
    font-family: var(--font-outfit);
}
.vector-icon17 {
    position: absolute;
    height: 58.51%;
    width: 6.47%;
    top: 17.73%;
    right: 93.53%;
    bottom: 23.76%;
    left: 0;
    border-radius: 20.76px;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.vector-icon18,
.vector-parent10 {
    position: absolute;
    height: 3.7%;
    width: 59.23%;
    top: 38.17%;
    right: 27.9%;
    bottom: 58.13%;
    left: 12.86%;
}
.vector-icon18 {
    height: 58.51%;
    width: 9.75%;
    top: 17.73%;
    right: 90.25%;
    bottom: 23.76%;
    left: 0;
    border-radius: 20.76px;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.vector-icon19,
.vector-parent11 {
    position: absolute;
    height: 3.7%;
    width: 39.27%;
    top: 45.34%;
    right: 47.87%;
    bottom: 50.97%;
    left: 12.86%;
}
.vector-icon19 {
    height: 58.51%;
    width: 7.34%;
    top: 17.73%;
    right: 92.66%;
    bottom: 23.76%;
    left: 0;
    border-radius: 20.76px;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.vector-icon20,
.vector-parent12 {
    position: absolute;
    height: 3.7%;
    width: 52.2%;
    top: 52.5%;
    right: 34.94%;
    bottom: 43.8%;
    left: 12.86%;
}
.vector-icon20 {
    height: 58.51%;
    width: 9.97%;
    top: 17.73%;
    right: 90.03%;
    bottom: 23.76%;
    left: 0;
    border-radius: 20.76px;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.vector-icon21,
.vector-parent13 {
    position: absolute;
    height: 3.7%;
    width: 38.42%;
    top: 59.9%;
    right: 48.72%;
    bottom: 36.41%;
    left: 12.86%;
}
.vector-icon21 {
    height: 58.51%;
    width: 13.67%;
    top: 17.73%;
    right: 86.33%;
    bottom: 23.76%;
    left: 0;
    border-radius: 20.76px;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.vector-parent14 {
    position: absolute;
    height: 3.7%;
    width: 28.02%;
    top: 67.29%;
    right: 59.12%;
    bottom: 29.01%;
    left: 12.86%;
}
.landing-inner6 {
    position: absolute;
    top: 3420.82px;
    left: 2422.27px;
    width: 355.56px;
    height: 432.72px;
    font-size: 15.13px;
}
.landing-child3 {
    position: absolute;
    top: calc(50% - 2383px);
    left: calc(50% - 657px);
    width: 1326.8px;
    height: 103px;
    object-fit: cover;
}
.mask-group-icon7 {
    position: absolute;
    top: 0;
    left: 0;
    width: 359.53px;
    height: 449.54px;
    object-fit: cover;
}
.group-child272 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 21.13px;
    background-color: var(--color-gray-200);
    width: 361.49px;
    height: 440.29px;
}
.div7 {
    top: 374.86px;
    left: 39.23px;
    font-size: 18.47px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    width: 61.95px;
}
.connettivit2,
.div7,
.month5 {
    position: absolute;
    line-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.month5 {
    top: 377.94px;
    left: 101.53px;
    font-size: 13.86px;
    text-align: center;
    width: 49.96px;
    opacity: 0.4;
}
.connettivit2 {
    top: 7.12px;
    left: 0;
    text-transform: uppercase;
    width: 142.34px;
}
.group-child273 {
    position: absolute;
    top: 0;
    left: 3.05px;
    border-radius: 21.13px;
    border: 0.8px solid var(--color-white);
    box-sizing: border-box;
    width: 136.24px;
    height: 27.47px;
    opacity: 0.2;
}
.connettivit-parent {
    position: absolute;
    top: 36.81px;
    left: 37.34px;
    width: 142.34px;
    height: 27.47px;
    text-align: center;
    font-size: 13.86px;
}
.mega {
    position: absolute;
    top: 83.13px;
    left: 39.99px;
    font-size: 32.33px;
    line-height: 100%;
    font-weight: 500;
    font-family: var(--font-outfit);
    display: flex;
    align-items: center;
    width: 158.88px;
}
.group-child274 {
    top: 150.1px;
    left: 42.3px;
    background-color: var(--color-gainsboro-100);
    width: 289.96px;
    height: 0.77px;
    opacity: 0.2;
}
.group-child274,
.group-child275,
.vector-icon23 {
    position: absolute;
    border-radius: 21.13px;
}
.group-child275 {
    top: 331.75px;
    left: 42.3px;
    background-color: var(--color-gainsboro-100);
    width: 289.96px;
    height: 0.77px;
    opacity: 0.2;
}
.vector-icon23 {
    height: 59.53%;
    width: 8.11%;
    top: 12.63%;
    right: 92.34%;
    bottom: 27.84%;
    left: -0.45%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.mega-in-download1 {
    position: absolute;
    top: 0;
    left: 28.07px;
    letter-spacing: 0.38px;
    line-height: 15.78px;
    display: flex;
    align-items: center;
    width: 163.87px;
}
.vector-icon24,
.vector-parent15 {
    position: absolute;
    height: 3.63%;
    width: 53.1%;
    top: 43.88%;
    right: 34.46%;
    bottom: 52.48%;
    left: 12.45%;
}
.vector-icon24 {
    height: 59.53%;
    width: 9.11%;
    top: 12.63%;
    right: 91.4%;
    bottom: 27.84%;
    left: -0.51%;
    border-radius: 21.13px;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.mega-in-upload1 {
    position: absolute;
    top: 0;
    left: 28.07px;
    letter-spacing: 0.38px;
    line-height: 15.78px;
    display: flex;
    align-items: center;
    width: 142.89px;
}
.vector-icon25,
.vector-parent16 {
    position: absolute;
    height: 3.63%;
    width: 47.29%;
    top: 53.85%;
    right: 40.26%;
    bottom: 42.52%;
    left: 12.45%;
}
.vector-icon25 {
    height: 59.53%;
    width: 9.44%;
    top: 12.63%;
    right: 91.08%;
    bottom: 27.84%;
    left: -0.52%;
    border-radius: 21.13px;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.ip-statico-pubblico2 {
    position: absolute;
    top: 0;
    left: 28.07px;
    letter-spacing: 0.38px;
    line-height: 15.78px;
    display: flex;
    align-items: center;
    width: 136.89px;
}
.vector-parent17 {
    position: absolute;
    height: 3.63%;
    width: 45.63%;
    top: 63.81%;
    right: 41.92%;
    bottom: 32.55%;
    left: 12.45%;
}
.group-child276 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-5xs-4);
    background-color: var(--color-mediumslateblue);
    width: 125.37px;
    height: 34.22px;
}
.add-to-cart5 {
    position: absolute;
    top: 0;
    left: 27.68px;
    line-height: 16.29px;
    font-weight: 600;
    display: flex;
    align-items: center;
    width: 70.94px;
}
.vector-icon26 {
    position: absolute;
    height: 105.43%;
    width: 16.51%;
    top: -4.79%;
    right: 84.32%;
    bottom: -0.64%;
    left: -0.83%;
    border-radius: var(--br-5xs-4);
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.add-to-cart-parent3 {
    position: absolute;
    top: 8.96px;
    left: 10.58px;
    width: 98.62px;
    height: 17px;
}
.rectangle-parent49 {
    position: absolute;
    top: 367.16px;
    left: 206.9px;
    width: 125.37px;
    height: 34.22px;
    font-size: 13.04px;
}
.rectangle-parent48 {
    position: absolute;
    top: 22.2px;
    left: 27.73px;
    width: 361.49px;
    height: 440.29px;
}
.mask-group-group {
    position: absolute;
    top: 2.03px;
    left: 0;
    width: 389.22px;
    height: 462.49px;
}
.div8 {
    top: 375.64px;
    left: 40.39px;
    font-size: 18.47px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    justify-content: center;
    width: 72.94px;
}
.div8,
.ftth-25-gbps,
.month6 {
    position: absolute;
    line-height: 100%;
    display: flex;
    align-items: center;
}
.month6 {
    top: 377.67px;
    left: 116.64px;
    font-size: 13.86px;
    text-align: center;
    justify-content: center;
    width: 49.96px;
    opacity: 0.4;
}
.ftth-25-gbps {
    top: 83.13px;
    left: 39.99px;
    font-size: 32.33px;
    font-weight: 500;
    font-family: var(--font-outfit);
    width: 212.83px;
}
.vector-icon27 {
    position: absolute;
    height: 59.53%;
    width: 8.61%;
    top: 12.63%;
    right: 91.87%;
    bottom: 27.84%;
    left: -0.48%;
    border-radius: 21.13px;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.giga-in-download {
    position: absolute;
    top: 0;
    left: 28.07px;
    letter-spacing: 0.38px;
    line-height: 15.78px;
    display: flex;
    align-items: center;
    width: 152.88px;
}
.vector-icon28,
.vector-parent18 {
    position: absolute;
    height: 3.63%;
    width: 50.06%;
    top: 43.88%;
    right: 37.5%;
    bottom: 52.48%;
    left: 12.45%;
}
.vector-icon28 {
    height: 59.53%;
    width: 10.67%;
    top: 12.63%;
    right: 89.92%;
    bottom: 27.84%;
    left: -0.59%;
    border-radius: 21.13px;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.giga-in-upload {
    position: absolute;
    top: 0;
    left: 28.07px;
    letter-spacing: 0.38px;
    line-height: 15.78px;
    display: flex;
    align-items: center;
    width: 117.91px;
}
.vector-parent19 {
    position: absolute;
    height: 3.63%;
    width: 40.38%;
    top: 53.85%;
    right: 47.17%;
    bottom: 42.52%;
    left: 12.45%;
}
.mask-group-container {
    position: absolute;
    top: 3.05px;
    left: 451.41px;
    width: 389.22px;
    height: 462.49px;
}
.div9 {
    top: 374.86px;
    left: 33.13px;
    font-size: 18.47px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    justify-content: center;
    width: 72.94px;
}
.div9,
.ftth-10-gbps,
.month7 {
    position: absolute;
    line-height: 100%;
    display: flex;
    align-items: center;
}
.month7 {
    top: 377.94px;
    left: 107.63px;
    font-size: 13.86px;
    text-align: center;
    justify-content: center;
    width: 49.96px;
    opacity: 0.4;
}
.ftth-10-gbps {
    top: 83.13px;
    left: 40px;
    font-size: 32.33px;
    font-weight: 500;
    font-family: var(--font-outfit);
    width: 201.84px;
}
.vector-icon31 {
    position: absolute;
    height: 59.53%;
    width: 8.85%;
    top: 12.63%;
    right: 91.64%;
    bottom: 27.84%;
    left: -0.49%;
    border-radius: 21.13px;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.giga-in-download1 {
    position: absolute;
    top: 0;
    left: 28.07px;
    letter-spacing: 0.38px;
    line-height: 15.78px;
    display: flex;
    align-items: center;
    width: 147.88px;
}
.vector-parent21 {
    position: absolute;
    height: 3.63%;
    width: 48.68%;
    top: 43.88%;
    right: 38.88%;
    bottom: 52.48%;
    left: 12.45%;
}
.group-parent9,
.mask-group-parent1 {
    position: absolute;
    top: 0;
    left: 884.52px;
    width: 389.22px;
    height: 462.49px;
}
.group-parent9 {
    top: 3414px;
    left: 73.09px;
    width: 1273.74px;
    height: 465.54px;
    font-size: 15.39px;
}
.linkedin-icon {
    position: absolute;
    top: calc(50% + 2908px);
    left: calc(50% - 580.78px);
    width: 26.09px;
    height: 25px;
}
.landing,
.union-icon {
    position: relative;
    width: 30.83px;
    height: 23.09px;
}
.landing {
    background-color: var(--color-gray-400);
    width: 100%;
    height: 6212px;
    overflow: hidden;
    text-align: left;
    font-size: 28.66px;
    color: var(--color-white);
    font-family: var(--font-ibm-plex-sans-hebrew);
}





.rectangle-parent7 {
    width: 100%;
    height: 409px;
    font-size: var(--font-size-mini);
    color: var(--color-gray-100);
}

.group-child35 {
    margin: auto;
    position: relative;
    background-color: var(--color-black);
    width: 100%;
    height: 409px;
}
