<ul class=\"\&quot;ul1\&quot;\">
    <ul class=\"\&quot;ul1\&quot;\">
        <li class=\"\&quot;li4\&quot;\"><span class=\"\&quot;s1\&quot;\">ADSL 7 Mega in Download (BMG </span><span
                class=\"\&quot;s3\&quot;\">1M)</span></li>
        <li class=\"\&quot;li4\&quot;\"><span class=\"\&quot;s1\&quot;\">700 kBps in Upload (BMG </span><span
                class=\"\&quot;s3\&quot;\">300K)</span></li>
        <li class=\"\&quot;li5\&quot;\"><span class=\"\&quot;s1\&quot;\">IP statico Pubblico incluso nel canone.</span>
        </li>
        <li class=\"\&quot;li5\&quot;\"><span class=\"\&quot;s1\&quot;\">Erogazione del servizio in xDSL in base alla disponibilit&agrave; di zona</span>
        </li>
        <li class=\"\&quot;li5\&quot;\"><span class=\"\&quot;s1\&quot;\">Assistenza tecnica</span></li>
        <li class=\"\&quot;li5\&quot;\"><span class=\"\&quot;s1\&quot;\">Aderiamo all&rsquo;iniziativa &ldquo;Modem Libero&rdquo;</span>
        </li>
    </ul>
</ul>
<p class=\"\&quot;p4\&quot;\"><span
        class=\"\&quot;s1\&quot;\"><strong><em>Canone Mensile : 29,90 (iva Esclusa)</em></strong></span></p>
<p class=\"\&quot;p4\&quot;\"><span class=\"\&quot;s1\&quot;\">Vuoi ancora pi&ugrave; velocit&agrave;? scegli la nostra offerta ADSL 20 MEGA</span>
</p>
