<p class="p2"><span class="s1">Una<span
        class="Apple-converted-space">&nbsp; </span>ADSL &egrave; una connessione asimmetrica perch&egrave; divide il range di frequenze disponibili in una linea telefonica in maniera non simmetrica tra la parte di ricezione e quella di trasmissione dei dati.</span>
</p>
<p class="p2"><span class="s1">Assegna infatti una larghezza di banda<strong>/velocit&agrave; di connessione maggiore </strong>per la ricezione <strong>(download) </strong>dei dati rispetto alla trasmissione (upload) dei dati supponendo che la maggior parte degli utenti &ldquo;scarichi&rdquo; molti pi&ugrave; dati di quelli che invia in rete.</span>
</p>
<p class="p2"><span class="s1">La velocit&agrave; di download &egrave; il parametro pi&ugrave; importante nell'uso di un servizio ADSL dal momento che le operazioni principali di cui si compone sono la riproduzione di filmati, lo scaricamento di file, la visualizzazione di pagine.</span>
</p>
<p class="p2"><span class="s1">Per questo &egrave; il valore che viene indicato primariamente nelle offerte dei vari operatori: "<strong>ADSL 20 Mega</strong>" si riferisce quindi alla velocit&agrave; di download.</span>
</p>
<p class="p2"><span class="s1">Ma bisogna fare attenzione perch&egrave; &egrave; un <strong>valore nominale, </strong>misura l'ampiezza massima di banda della connessione e non quella effettiva. Per questo &egrave; importante farsi comunicare dall&rsquo;operatore la distanza dalla centrale pubblica e la banda stimata media oltre alla <strong>banda minima garantita,</strong> cio&egrave;<span
        class="Apple-converted-space">&nbsp; </span>la velocit&agrave;<span
        class="Apple-converted-space">&nbsp; </span>minima sotto la quale la connessione non deve scendere.</span>
</p>
