<p class=\"\&quot;p4\&quot;\"><span class=\"\&quot;s1\&quot;\">Per capire <strong>come funziona l'ADSL </strong>bisogna sapere qualcosa circa la normale linea telefonica.</span>
</p>
<p class=\"\&quot;p2\&quot;\"><span class=\"\&quot;s1\&quot;\"><strong>Le linee telefoniche tradizionali</strong> sono state progettate per la comunicazione in voce e sono state costruite limitando il range di frequenze che verranno trasportate. La voce umana pu&ograve; essere trasportata limitandone le frequenze <strong>da 0 a 3400 Hertz</strong> (la banda minima per l'intelligibilit&agrave; della voce umana).</span>
</p>
<p class=\"\&quot;p2\&quot;\"><span class=\"\&quot;s1\&quot;\">La ragione per cui ridurre le frequenze trasportate &egrave; storica: va ricordato che il sistema telefonico &egrave; stato costruito portando una coppia di cavi in rame direttamente ad ogni casa. Limitando le frequenze trasportate potevano essere aggregati insieme molti cavi in uno spazio molto piccolo <strong>senza che ci fossero interferenze tra le linee.</strong></span>
</p>
<p class=\"\&quot;p2\&quot;\"><span class=\"\&quot;s1\&quot;\">Questo &egrave; un range molto piccolo confrontato con quello che potrebbero trasportare i cavi in rame (<strong>fino a diversi milioni di Hertz</strong>.)</span>
</p>
<p class=\"\&quot;p2\&quot;\"><span
        class=\"\&quot;s1\&quot;\">Oggi la connessione<strong> ADSL invia dati digitali </strong>e non analogici come quelli di una telefonata e per questo<strong> pu&ograve; sfruttare tutto il range di frequenze</strong> della linea telefonica senza preoccuparsi delle interferenze tra le linee.</span>
</p>
