<p class="p10"><span class="s1">HDSL si riferisce ad una rete sviluppata nei primi anni Novanta ed &egrave; la prima delle tecnologie x-DSL ad essere stata sviluppata. Ancora oggi &egrave; una delle soluzioni pi&ugrave; veloci in alternativa a quelle su fibra.</span>
</p>
<p class="p10"><span class="s1">&Egrave; un <strong>collegamento simmetrico ad alta velocit&agrave; </strong>che viaggia su doppino dedicato, ossia su una linea per ogni utente, ed esiste <strong>solo per il traffico dati </strong>e non per quello voce anche se supporta il VoIP dal momento che quest'ultimo tratta la fonia vocale come qualsiasi altro dato che viaggi su Internet.</span>
</p>
<p class="p10"><span class="s1">A differenza dell'ADSL la connessione &egrave; simmetrica nel senso che la velocit&agrave; di download e di upload &egrave; uguale e consente di raggiungere velocit&agrave; fino a 16<strong> Mb/sec.</strong></span>
</p>
