<p class=\"\&quot;p2\&quot;\"><span class=\"\&quot;s1\&quot;\">
    Per poter sfruttare la linea telefonica &egrave; necessario che i dati del computer
    siano convertiti in segnali analogici.<strong> Il modem </strong>&egrave;
    il dispositivo che compie questa operazione, gestendo lo scambio di informazioni indispensabili per la navigazione in Internet.</span>
</p>
<p class=\"\&quot;p2\&quot;\"><span class=\"\&quot;s1\&quot;\">Il suo nome deriva proprio dalle due operazioni che compie: <strong>modulazione, </strong>nella direzione dal computer verso la rete, e <strong>demodulazione,</strong> quando riconverte il segnale analogico dal doppino in segnale digitale verso il computer.</span>
</p>
