<p class=\"\&quot;p2\&quot;\"><span class=\"\&quot;s1\&quot;\">
    Il termine router viene spesso confuso con il termine modem,
    anche perch&egrave; ormai perlopi&ugrave; il router integra anche le funzioni di modem.
    Usare in maniera intercambiabile i due termini &egrave; per&ograve; tecnicamente sbagliato.
</span></p>
