<p class=\"\&quot;p2\&quot;\"><span class=\"\&quot;s1\&quot;\">Cerchiamo ora di capire meglio insieme cosa sia una linea ADSL e come funzioni un p&ograve; pi&ugrave; nel dettaglio.</span>
</p>
<p class=\"\&quot;p2\&quot;\"><span
        class=\"\&quot;s1\&quot;\">L'ADSL (<strong>Asymmetric Digital Subscriber Line) </strong>&egrave; una tecnologia di trasmissione usata per l'accesso digitale ad Internet ad alta velocit&agrave; che utilizza gli stessi cavi in rame (<strong>il</strong> <strong>doppino telefonico</strong>) della linea telefonica regolare </span><span
        class=\"\&quot;s8\&quot;\">per collegare la singola abitazione alla centrale della compagnia telefonica</span><span
        class=\"\&quot;s1\&quot;\">, ma in modo diverso perch&egrave; fa viaggiare i tuoi dati in aggiunta alla tua voce.</span>
</p>
<p class=\"\&quot;p2\&quot;\"><span class=\"\&quot;s1\&quot;\">Questo vuol dire che <strong>puoi utilizzare la tua linea telefonica per navigare in Internet e per telefonare nello stesso tempo</strong>, cosa che non era possibile con i vecchi modem fino a 56 Kbps.</span>
</p>
<p class=\"\&quot;p2\&quot;\"><span class=\"\&quot;s1\&quot;\">Vediamo come tutto questo &egrave; possibile.</span></p>
