<p class="\&quot;p2\&quot;"><span class="\&quot;s1\&quot;">Esistono diversi<strong> fattori </strong>che influenzano la velocit&agrave; di connessione ad Internet, eccone una lista che ci aiuter&agrave; a comprendere quali ottimizzazioni possiamo intraprendere per navigare sfruttando al meglio il potenziale della nostra rete:</span>
</p>
<ul class="\&quot;ul1\&quot;">
    <li class="\&quot;li2\&quot;"><span class="\&quot;s1\&quot;"><strong>distanza della cabina</strong> o centrale telefonica dall'appartamento: essendo i cavi molto lunghi ci sar&agrave; una maggiore <strong>dispersione del segnale;</strong></span>
    </li>
    <li class="\&quot;li2\&quot;"><span class="\&quot;s1\&quot;"><strong>numero troppo elevato di persone </strong>che stanno utilizzando Internet contemporaneamente: durante il lockdown abbiamo tutti constatato che la connessione era molto rallentata visto l'elevato numero di persone che si connettevano da casa alla rete. Questo vale sia per le connessioni ADSL sia per le connessioni fibra, anche se in misura minore.</span>
    </li>
    <li class="\&quot;li2\&quot;"><span class="\&quot;s1\&quot;"><strong>condizioni metereologiche:</strong> possono andare ad agire sulla cabina pubblica se non di ultime generazione, dove arriva il segnale del fornitore che viene instradato in tutte le abitazioni che hanno effettuato l'allaccio.</span>
    </li>
    <li class="\&quot;li2\&quot;"><span
            class="\&quot;s1\&quot;"><strong>computer, </strong>se troppo troppo datato;</span></li>
    <li class="\&quot;li2\&quot;"><span class="\&quot;s1\&quot;"><strong>interferenza o dispersione del segnale</strong> nell'impianto di rete o wifi dell'appartamento;</span>
    </li>
</ul>
