.fd-card-same-height {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.fd-card-blog {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.fd-card-content-blog {
  display: flex;
  flex-direction: column;
  height: 100%;
}

@include desktop {
  .no-card {
    box-shadow: none;
    background-color: transparent
  }

  .fd-card-content-blog {
    padding-left: 0;
    padding-right: 0;
  }
}
