$banner-height-desktop: 82vh;
$banner-height-tablet: $banner-height-desktop;
$banner-height-mobile: 30vh;

.fd-home-banner-height {
  width: 100vw;
}
@include desktop {
  .fd-home-banner-height {
    height: $banner-height-desktop;
  }
}
@include tablet {
  .fd-home-banner-height {
    height: $banner-height-tablet;
  }
}
@include mobile {
  .fd-home-banner-height {
    height: $banner-height-mobile;
  }
}