.fd-blockquote {
    background: transparent!important;
    border: none!important;

    &:before {
        content: "\201C";
        position: absolute;
        width: 100%;
        font-size: 10rem;
        margin-top: -4.5rem;
        margin-left: -2rem;
        z-index: 0;
        color: rgba(255,255,255,0.75);
        opacity: 0.3;
        font-family: Georgia, serif;
    }
}

