<p class="p1">La fibra ottica &egrave; una tecnologia di trasmissione dati che utilizza la luce al posto di segnali elettronici, come invece avviene nei cavi di rame utilizzati per le connessioni Adsl. La luce &egrave; trasmessa attraverso un sottile filo di vetro o di plastica, che trasmette i dati a velocit&agrave; incredibili, fino a decine di Gigabit per secondo (Gbps).</p>
<p class="p1">Ma come funziona la fibra ottica? Vediamolo nel dettaglio.</p>
<p class="p1">La connessione in fibra ottica avviene grazie a una serie di infrastrutture che servono per fornire il servizio ai clienti. Prima di tutto, ci sono i POP (Point of Presence), ovvero i punti di presenza, che rappresentano i punti di connessione tra l'operatore e la rete di distribuzione. Questi punti sono presenti su tutto il territorio e permettono l'accesso alla rete di distribuzione di Internet.</p>
<p class="p1">A livello territoriale, la rete di distribuzione &egrave; costituita da cablaggi in fibra ottica, che partono dai POP e si diramano per collegare i vari armadi di distribuzione presenti in strada. Gli armadi di distribuzione sono dei piccoli armadi metallici che contengono i nodi di distribuzione, ovvero i dispositivi che consentono di collegare l'infrastruttura in fibra ottica alle singole abitazioni o uffici.</p>
<p class="p1">I nodi di distribuzione, a loro volta, si interfacciano con gli ONT (Optical Network Terminal), che sono i terminali di rete a cui gli utenti si collegano per avere accesso alla connessione in fibra ottica. Gli ONT sono degli apparecchi che convertono il segnale in fibra ottica in un segnale di rete utilizzabile dalle apparecchiature dei clienti, come modem, router o computer.</p>
<p class="p1">In sintesi, per avere accesso alla connessione in fibra ottica, <strong>&egrave; necessario che la propria abitazione o ufficio sia collegata alla rete di distribuzione tramite un nodo di distribuzione e un ONT</strong>, che converte il segnale in fibra ottica in un segnale utilizzabile dalle apparecchiature di rete dei clienti.</p>
