<p class="p1"><strong>Le reti PON hanno una configurazione viene anche punto-multipunto, in cui la stessa rete collega la centrale di trasmissione dati a pi&ugrave; utenti</strong>. In queste reti, il segnale di trasmissione viene inviato da una stazione centrale OLT (Optical Line Terminal) attraverso una fibra ottica a una serie di dispositivi di terminazione di rete ONT (Optical Network Terminal), che si trovano presso le abitazioni o le aziende degli utenti: questo permette di utilizzare delle reti condivise tra pi&ugrave; utenti, riducendone i costi. Questa &egrave; la configurazione adottata da Open Fiber per la posa dell&rsquo;infrastruttura FTTH del Paese.</p>
<p class="p1">La trasmissione dei dati avviene in modo ottico, senza la necessit&agrave; di convertire il segnale in forma elettrica durante la trasmissione. Questa tipologia di reti &egrave; caratterizzata dalla presenza di una serie di componenti passivi, come splitter ottici, che consentono di distribuire il segnale in modo efficiente e ridurre i costi di manutenzione e gestione della rete. Il segnale ottico viene suddiviso in diverse lunghezze d'onda tramite tecniche di multiplexing, che consentono di trasportare pi&ugrave; segnali sulla stessa fibra ottica.<span class="Apple-converted-space">&nbsp;</span></p>
<p class="p1">In generale, le reti PON offrono numerosi vantaggi rispetto ad altre tecnologie di rete, come la maggiore velocit&agrave; di trasmissione, la riduzione dei costi di gestione e manutenzione, e la maggiore affidabilit&agrave; e stabilit&agrave; del servizio. Questo tipo di rete necessita per&ograve; un'infrastruttura di fibra ottica dedicata e pu&ograve; richiedere un investimento iniziale significativo per la loro installazione e configurazione.</p>
<p class="p1">Le reti PON possono essere suddivise in diverse categorie a seconda della velocit&agrave; di trasmissione e delle specifiche tecniche utilizzate,<span class="Apple-converted-space">&nbsp; </span>la cui differenza principale nella velocit&agrave; di trasmissione dati, nella distanza massima di copertura, nel numero di clienti serviti e nella struttura del segnale trasmesso. In generale, le tecnologie PON sono classificate in base alla velocit&agrave; di downstream e upstream, ovvero la velocit&agrave; di download e upload della connessione. le principali categorie di queste reti sono:</p>
<ul class="ul1">
    <li class="li1">Reti PON</li>
    <li class="li1">Reti SPON</li>
    <li class="li1">Reti GPON</li>
    <li class="li1">Reti EPON</li>
    <li class="li1">Reti XPON</li>
</ul>
<p class="p1">Le <strong>reti PON (Passive Optical Network) utilizzano un singolo segnale ottico condiviso da pi&ugrave; utenti</strong>. La velocit&agrave; massima di downstream &egrave; di solito di 2,5 Gbps, con una velocit&agrave; massima di upstream di 1,25 Gbps. Queste reti sono principalmente impiegate per le connessioni a banda larga verso un numero limitato di utenti, come piccoli quartieri o condomini.</p>
<p class="p1">Le <strong>reti SPON (Symmetric PON) sono una variante di quelle PON</strong> che si caratterizzano per una velocit&agrave; di downstream e upstream uguale, che pu&ograve; raggiungere i 10 Gbps. <a href="https://fiberdroid.it/servizi/fibra-dedicata"><span class="s2">SPON &egrave; utilizzato principalmente per fornire connessioni simmetriche ILC</span></a> (In Line Compounded) a banda larga per utenti commerciali.</p>
<p class="p1">Le <strong>reti GPON (Gigabit PON) si rivolgono a comunit&agrave; pi&ugrave; ampie rispetto alle reti PON</strong>, come quartieri residenziali o impianti industriali. Queste reti offrono una velocit&agrave; massima di downstream di 2,5 Gbps e una velocit&agrave; massima di upstream di 1,25 Gbps.<span class="Apple-converted-space">&nbsp;</span></p>
<p class="p1">Le <strong>reti EPON (Ethernet PON) si affidano al protocollo Ethernet</strong> per la trasmissione dei dati una tecnologia di rete a fibra ottica che utilizza Ethernet come protocollo di trasmissione dei dati. EPON offre una velocit&agrave; massima di downstream e upstream di 1 Gbps ed &egrave; utilizzato principalmente per connessioni a banda larga in ambienti aziendali.</p>
<p class="p1">Le <strong>reti XPON (XG-PON, XGS-PON, NG-PON2) sono tecnologie PON di nuova generazione</strong> che offrono una velocit&agrave; massima di downstream di 10 Gbps o pi&ugrave; e una velocit&agrave; massima di upstream di 2,5 Gbps o superiore. Queste reti sono utilizzate principalmente per fornire servizi a banda ultra-larga, come video ad alta definizione, giochi online e altre applicazioni ad alta intensit&agrave; di dati.</p>
<p class="p1">Le <strong>reti WDM-PON (Wavelength Division Multiplexing PON), utilizzano la tecnologia di multiplexing per dividere le diverse lunghezza </strong>d'onda di un segnale al fine di aumentare la capacit&agrave; della rete. Ciascuna lunghezza d&rsquo;onda viene associata a un diverso flusso di dati. In questo modo, &egrave; possibile trasmettere pi&ugrave; flussi di dati simultaneamente su una singola fibra ottica, senza compromettere la velocit&agrave; di trasmissione o la qualit&agrave; del servizio. Queste reti possono essere implementate in diverse configurazioni, tra cui WDM-PON a singolo canale (SC-WDM-PON) e WDM-PON a pi&ugrave; canali (MC-WDM-PON). Il principale vantaggio delle reti WDM-PON consiste nella maggiore capacit&agrave; di trasmissione che permette una maggiore scalabilit&agrave; della rete. Il principale difetto di queste reti &egrave; che richiedono una maggior complessit&agrave; nella gestione e nella configurazione.</p>
