<p class="p2">La fibra ottica &egrave; disponibile in diverse tipologie di connessione, ognuna delle quali utilizza una tecnologia e strumenti specifici per fornire una connessione internet affidabile e veloce. Qui di seguito vedremo le principali tipologie di connessione in fibra ottica disponibili sul mercato:</p>
<ul class="ul1">
    <li class="li2">FTTH (Fiber to the Home)</li>
    <li class="li2">FTTC (Fiber to the Cabinet)</li>
    <li class="li2">FTTO (Fiber to the Office)</li>
    <li class="li2">FTTB (Fiber to the Building)</li>
    <li class="li2">FTTN (Fiber to the Node)</li>
    <li class="li2">FWA (Fixed Wireless Access)</li>
</ul>
<p class="p2">Le soluzioni <strong>FTTH (Fiber to the Home) sono la tipologia di connessione in fibra ottica pi&ugrave; avanzata e veloce</strong>. Come suggerisce il nome, la fibra connette direttamente la centrale di trasmissione dati alla casa del cliente, passando per l&rsquo;armadio di ripartizione in strada: questo garantisce velocit&agrave; di connessione elevatissime. La connessione FTTH utilizza un terminale ottico (ONT) che converte il segnale ottico in un segnale elettrico che pu&ograve; essere utilizzato dal modem per fornire la connessione. Le connessioni FTTH sono le uniche a potersi definire in &ldquo;fibra ottica pura&rdquo;, in quanto l&rsquo;intero tratto &egrave; cablato con questa tecnologia.</p>
<p class="p2">Nelle configurazioni <strong>FTTC (Fiber to the Cabinet)</strong> il tratto cablato in fibra ottica della centrale di trasmissione arriva fino a un armadio posto nelle vicinanze della casa del cliente: l'ultimo tratto di connessione avviene attraverso la rete di rame esistente. Questo significa che la velocit&agrave; di connessione in FTTC &egrave; inferiore rispetto a quella di FTTH, ma comunque superiore rispetto alle tecnologie ADSL o VDSL. La connessione FTTC utilizza un modem VDSL2 che si collega alla rete di rame esistente.</p>
<p class="p2">Le <strong>connessioni FTTO (Fiber to the Office)</strong> sono simili a quelle FTTH, ma declinate per le esigenze delle aziende. In una FFTO, la fibra ottica arriva direttamente all'ufficio dell'azienda, garantendo velocit&agrave; di connessione elevate e affidabili. Anche in questo caso, viene utilizzato un terminale ottico (ONT) che converte il segnale ottico in un segnale elettrico che pu&ograve; essere utilizzato dal modem per fornire la connessione.</p>
<p class="p2">Con la <strong>cablatura FTTB (Fiber to the Building)</strong> la fibra arriva fino all'edificio in cui si trova l'utente, senza raggiungere direttamente all'appartamento o all'ufficio. In questo caso, l'ultimo tratto di connessione avviene attraverso la rete di rame esistente. La connessione FTTB &egrave; una soluzione intermedia tra le connessioni FTTH e FFTC e utilizza anche&rsquo;essa un modem VDSL2 che per collegarsi alla rete di rame esistente.</p>
<p class="p2">La <strong>configurazione FTTN (Fiber to the Node) </strong>&egrave; un tipo di connessione fibra misto rame simile a quella FTTC: la fibra arriva fino ad un nodo posto nelle vicinanze dell'utente, mentre l'ultimo tratto di connessione avviene attraverso la rete di rame esistente. Anche la connessione FTTN utilizza un modem VDSL2 che si collega alla rete di rame esistente. La principale differenza tra FTTN e FTTC &egrave; che la prima si ferma al nodo di connessione in strada che collega un maggior numero di edifici, mentre la seconda arriva fino alla cabina pi&ugrave; vicina al cliente: di conseguenza, il tratto cablato in rame sar&agrave; maggiore per le connessioni FTTN rispetto a quelle FTTC.</p>
<p class="p2">Le trasmissioni in fibra ottica possono anche integrarsi con le connessioni wireless, come nel caso delle<span class="Apple-converted-space">&nbsp;</span></p>
<p class="p2"><strong>FWA (Fixed Wireless Access)</strong>. In questo caso, la connessione in fibra ottica arriva fino ad una stazione di trasmissione wireless che invia il segnale radio fino alla casa del cliente, dove viene ricevuto da un ricevitore dedicato. Questa tecnologia &egrave; utilizzata soprattutto in zone rurali o in cui non &egrave; possibile installare la fibra ottica a causa di problemi logistici o di costi.</p>
<p class="p2">Questa distinzione &egrave; utile per comprendere quale connessione sia la pi&ugrave; indicata per le proprie esigenze.</p>
