<p>Conviene davvero acquistare una fibra ottica? Quanto costa in pi&ugrave; rispetto a una connettivit&agrave; adsl tradizionale? Come viene installata una fibra ottica a casa mia?&nbsp;</p>
<p>Sono tantissime le domande che ogni giorno vengono fatte in rete, per rispondere a tutte queste domande &egrave; necessario distinguere tra due tipologie di connettivit&agrave; in fibra ottica, l'fttc e l'ftth.</p>
