<p><em>fttc o fiber to the cabinet</em> &egrave; una tipologia di connettivit&agrave; in cui i dati vengono trasmetti con un cavo in fibra ottica fino all'armadio di rete pi&ugrave; vicino, dal quale arrivano a casa tua con un tradizionale doppino telefonico di rame.</p>
