<p>Smart working o sempre pi&ugrave; spesso lavoro agile, non &egrave; solo lavorare da casa <span class="\&quot;s1\&quot;">altrimenti si classifica come <strong>telelavoro</strong> cio&egrave; con vincoli di orario<span class="\&quot;Apple-converted-space\&quot;">&nbsp; </span>e regole contrattuali precise e<span class="\&quot;Apple-converted-space\&quot;">&nbsp; </span>dislocato esclusivamente in un posto diverso dall&rsquo;ufficio, di solito a casa del dipendente.</span></p>
<p><strong>Smart working</strong> ha un significato molto pi&ugrave; profondo legato al rapporto tra il lavoratori, per dirlo con parole semplici potremmo dire che &egrave; un modo di rivedere il rapporto tra il lavoratore e l'azienda, dando autonomia nelle modalit&agrave; di lavoro in cambio del completo raggiungimento del risultato; in questo modo ci si libera da tutti quei vincoli intellettuali, spaziali e temporali legati al lavoro tradizionale.&nbsp;Si pensi solo al tempo perso per raggiungere l'ufficio!</p>
<p>Per dirlo in modo un p&ograve; pi&ugrave; preciso citiamo&nbsp;<span class="\&quot;s2\&quot;"><strong><em>la School of Management del Politecnico di Milano&nbsp;</em></strong></span>che recentemente ha definito lo smart working come:</p>
<blockquote class="fd-blockquote">
    <x-text color="grey-dark" style="position: relative; z-index: 1">
        <p class="is-h4"><i>una nuova filosofia manageriale fondata sulla restituzione alle persone di flessibilità e autonomia nella scelta degli spazi, degli orari e degli strumenti da utilizzare a fronte di una maggiore responsabilizzazione sui risultati</i></p>
    </x-text>
</blockquote>
