<p class="\&quot;p1\&quot;"><span class="\&quot;s1\&quot;">Il <strong>lavoro agile</strong>, o <em>smart-working </em>&egrave; stato definito nell'ordinamento italiano come:</span></p>
<blockquote class="fd-blockquote">
    <x-text color="grey-dark" style="position: relative; z-index: 1">
        <p class="is-h4"><i>una modalità di esecuzione del rapporto di lavoro subordinato stabilita mediante accordo tra le parti, anche con forme di organizzazione per fasi, cicli e obiettivi e senza precisi vincoli di orario o di luogo di lavoro, con il possibile utilizzo di strumenti tecnologici per lo svolgimento dell'attività lavorativa.</i></p>
    </x-text>
</blockquote>
<p>Questi dubbi, nascono spesso dal fatto che viene confuso il telelavoro con lo smart working. Durante la pandemia di coronavirus, ci siamo trovati di colpo ad affrontare l'impensabile costringendoci ad adottare provvedimenti istantantanei di emergenza, per cui spesso ci si &egrave; ritrovati a svolgere il proprio lavoro da casa, al meglio delle possibilit&agrave;.</p>
<p>Seppur simile non &egrave; questa la filosofia di uno smart worker, infatti un lavoratore da remoto &egrave; in grado di portare a termine completamente i suoi obbiettivi e anzi <strong>trarre vantaggi dalla completa autonomia sui luoghi di lavoro</strong>.</p>
