<p>In questo periodo di emergenza le istituzioni hanno dovuto regolamentare il tema dei lavoratori agile, infatti in questo periodo ci sono delle procedure semplificate per poter accedere allo smart working.</p>
<p>Di seguito abbiamo creato una mappa concettuale col fine di esprimere come si &egrave; evoluto nel tempo lo smart working con i vari decreti.</p>