<p>Come avrai capito la ricetta per uno smart working perfetto non esiste, ma se il tuo tipo di lavoro si presta a essere svolto in questa modalit&agrave; agile; una volta preso il ritmo non potrai pi&ugrave; farne a meno.</p>
<p>Di seguito riportiamo quali sono i vantaggi che spiccano di pi&ugrave;:</p>
<ul>
    <li>Riduzione drastica dei tempi morti, nel tempo in cui raggiungevi l'ufficio ora hai gi&agrave; bevuto il caff&egrave; e ti sei messo alla scrivania.</li>
    <li>Nessun vincolo di movimento, stop alle spese di trasporto e non da meno contribuirai a ridurre l'inquinamento ambientale.</li>
    <li>Maggiore autonomia temporale, oggi non hai potuto lavorare per un impegno inderogabile? Nessun problema ora hai tutti gli strumenti a casa per recuperare il tempo perso a qualsiasi ora, magari con una tazza di t&egrave; fumante.</li>
    <li>Maggiore autonomia nelle modalit&agrave; di lavoro. Dallo smart working derivano grandi responsabilit&agrave;, autonomia nella scelta degli strumenti di lavoro significa poter mostrare il proprio vero potenziale. Allo stesso tempo ne consegue anche una maggiore gratificazione del lavoratore al raggiungimento degli obbiettivi.</li>
    <li>Aumento della produttivit&agrave; in breve tempo e i giorni di malattia diminuiscono.</li>
    <li>I lavoratori pap&agrave; potranno imparare a fare la lavatrice</li>
</ul>
<p>Come tutte le cose non possiamo fare a meno di considerarne anche gli svantaggi legati a questo mondo:</p>
<ul>
    <li>Necessit&agrave; di doversi approcciare a nuovi strumenti, nuove tecnologie e un nuovo modo di vedere il lavoro.</li>
    <li>Difficolt&agrave; di comunicazione, specialmente in contesti in cui si fa ancora poco uso di strumenti di teleconferenza.</li>
    <li>Scarso controllo, soprattuto in alcune realt&agrave;, da parte dei datori di lavori che non riescono ad avere degli strumenti adeguati per monitorare l'operato dei propri dipendenti.</li>
    <li>Lo smart working non funziona ugualmente bene per tutte le mansioni, anche all'interno della stessa realt&agrave;.</li>
</ul>
