<p class="\&quot;p1\&quot;">Gi&agrave; prima delle epidemia di coronavirus, erano piu di 500mila i lavoratori agile in Italia. Questo testimonia come, anche prima dell'emergenza sempre pi&ugrave; aziende abbiano scelto di percorrere la strada dello smart working. Sono infatti moltissime le testimonianze entusiaste di aziende che hanno tratto benefici da questa \"nuova\" modalit&agrave; di lavoro.</p>
<p class="\&quot;p1\&quot;"><span class="\&quot;s1\&quot;">In particolare tra i vantaggi pi&ugrave; testimoniati troviamo l'<strong>aumento di produttivit&agrave;</strong> e la <strong>diminuzione di assenteismo</strong>. Che uniti ai vantaggi dovuti alla libert&agrave; sui luoghi di lavoro forma un pacchetto completo di vantaggi a cui diventa sempre pi&ugrave; difficile rinunciare.</span></p>
