<p>Qui di seguito trovi riassunto tutto ci&ograve; ti forniremo se decidi di scegliere il Centralino VoIP
    Fiberdroid:</p>
<ul>
    <li><strong>Server Hardware</strong></li>
    <li><strong>Installazione e configurazione</strong> passo passo con il cliente</li>
    <li><strong>Personalizzazioni</strong> e/o integrazioni software</li>
    <li>Sistema di <strong>monitoraggio remoto </strong>e aggiornamenti periodici</li>
    <li>Assistenza e <strong>Manutenzione in remoto</strong></li>
    <li><strong>Backup cloud </strong>dell&rsquo;impianto (opzionale)</li>
</ul>
