<p>Un centralino telefonico (anche chiamato PBX, Private Branch Exchange) viene usato nelle aziende per fornire una
    <strong>rete telefonica interna</strong> e connetterla con la rete telefonica pubblica.</p>
<p>La sua funzione &egrave; quella di permettere ad un'azienda di <strong>ridurrre il numero di linee in
    uscita </strong>da chiedere all'operatore telefonico: il numero di linee garantite in uscita viene dimensionato in
    base al traffico medio dell'azienda e non &egrave; cos&igrave; necessario prevedere una linea dedicata per ogni
    utente all'interno dell'azienda.</p>
