<ul>
    <li>Interno VoIP raggiungibile tramite client software oppure apparato SIP standard da Internet ovunque ci si trovi
        (anche su rete mobile)
    </li>
    <li>Casella vocale con registrazione e invio messaggi vocali in automatico su mail, in caso di mancata risposta</li>
    <li>Gestione e personalizzazione dei numeri interni, tramite interfaccia web, con possibilit&agrave; di deviazione
        automatica chiamate in ingresso, gestione orario di lavoro e messaggi automatici in risposta
    </li>
    <li>Risponditore automatico con possibilit&agrave; di post-selezione e musica di attesa</li>
    <li>Possibilit&agrave; di selezione passante per interni</li>
    <li>Gruppi personalizzati di risposta e gestione code chiamate</li>
    <li>Integrazione con tutti i principali provider VoIP, al fine di lasciare al cliente la libert&agrave; di scelta
        del carrier preferito
    </li>
    <li>Possibilit&agrave; di noleggio dei telefoni con assicurazione Kasko</li>
    <li>Assistenza, modifiche e personalizzazioni in remoto incluse nel canone</li>
</ul>
<p>Contratto a progetto, contatta il team di fiberdroid alla mail&nbsp;<a href="mailto:speed@fiberdroid.it">speed@fiberdroid.it</a>&nbsp;per
    maggiori informazioni</p>
