<p>Grazie alla piattaforma cloud di Fiberdroid siamo tra i pochi provider a poter installare un centralino telefonico
    VoIP hardware dal cliente e <strong>garantirgli la continuita&rsquo; del servizio</strong> (con alcuni limitazioni
    definite in fase di progetto) <strong>con un</strong> <strong>backup in cloud</strong>.</p>
<p>Si perche&rsquo; nei casi in cui installiamo un centralino on premise dal cliente (anche multi sede) impostiamo l&rsquo;ambiente
    per un <strong>eventuale backup cloud </strong>che si attivi nel caso in cui quello locale si guasti.</p>
