<p>Un access point &egrave; un apparato che si collega attraverso un cavo collegato al router (o al modem) alla rete cablata principale e fornisce una rete WI-FI a cui collegare ad esempio smartphone, computer e smart tv.</p>
<p>Gli access point si differenziano dai ripetitori perch&eacute; non ripetono solo il segnale ampliandone la copertura (con stesso nome rete e password) ma permettono di creare reti dedicate (per esempio per gli ospiti) creando loro stessi un accesso wireless alla rete attraverso cui servire i dispositivi.</p>