<p>Hai bisogno di un access point quando:</p>
<ul>
    <li>il tuo router non ha il WI-FI e non puoi collegare facilmente i tuoi device</li>
    <li>il tuo router non copre col WI-FI completamente la casa o l&rsquo;ufficio</li>
    <li>necessiti di reti separate</li>
</ul>
<p>Nel primo caso <strong>si collega al router di casa per aumentarne la copertura</strong> e potendo cos&igrave; collegarsi via WI-FI dalle stanze pi&ugrave; lontane, (esistono router senza la funzionalit&agrave; del collegamento wireless e altri dove questo &egrave; presente ma non &egrave; sufficiente a sopperire a tutte le richieste.)</p>
<p>Nel secondo caso si collega <strong>un access point per consentire la creazione di diverse reti</strong>, per esempio quella per gli ospiti dove puoi decidere di concedere per esempio un download limitato per evitare rallentamenti al collegamento internet principale oppure puoi impedire l&rsquo;accesso ai device della LAN, ad esempio se non vuoi che accedano ai tuoi dati riservati o alla tua stampante.</p>
<p>L&rsquo;access point non crea una nuovo accesso alla rete Internet ma estende quella esistente.</p>
<p>I router WI-FI di ultima generazione hanno spesso la funzione access point integrata ma se non hai questi apparecchi un access point pu&ograve; risolvere il tuo problema.</p>