<p>Per prima cosa stabilisci esattamente i tuoi bisogni: valuta se ti serve a uso casalingo o aziendale (molti client collegati), se da interno o esterno e persino se applicarlo al soffitto, la distanza da coprire valutabile anche in metri quadri il bisogno di accessi in contemporanea, la necessit&agrave; di isolare alcuni utenti (reti guest) e addirittura assegnargli orari di accesso limitati.</p>
<p><strong>Non valutarlo in base alla quantit&agrave; di antenne ma in base a quanti Mbps erogano e il numero massimo di dispositivi che puoi connettere.</strong></p>