<strong>Ci sono diversi tipi di access point&nbsp; le caratteristiche principali da considerare sono:</strong></p>
<ul>
    <li>la velocit&agrave; di trasferimento dati cio&egrave; la <strong>quantit&agrave; di Mbps</strong> che possono supportare gli access point (in ordine: classe b (802.11b)&nbsp; fino a 11 Mbps, classe g (802.11g) max a 54 Mbps, classe n (802.11n)&nbsp; fino 300 o 450 Mbps e AC (802.11ac) che arriva fino 1.3Gbps)</li>
    <li>se sono <strong>dual band</strong> o no (se possono trasmettere sia su 2,4 GHz che 5 Ghz).</li>
    <li>quanti <strong>client</strong> al massimo supportano (in teoria fino a diverse decine di device per antenna, e tanti quanti sono gli indirizzi ip che si pu&ograve; assegnare, in pratica in condizioni ottimali un access point pu&ograve; gestire fino a 32 client su 2,4 Ghz e altri 32 su 5 GHz, questo perch&eacute; la banda disponibile viene suddivisa tra i device connessi)</li>
    <li><strong>Multi SSID </strong>per creare pi&ugrave; connessioni WI-FI virtuali (reti con nomi e password differenti)</li>
    <li>se vanno posizionati in ufficio o <strong>in esterno</strong></li>
    <li>se gestiscono il <strong>roaming</strong> (smistamento dinamico dei client su pi&ugrave; access point che permette di restare connesso anche in movimento)</li>
    <li>se hanno <strong>antenne</strong> interne o esterne, fisse o removibili (pi&ugrave; dB hanno pi&ugrave; sono potenti)</li>
    <li><strong>la sicurezza</strong> con la crittografia WPA/WPA2/WPA3</li>
    <li>supportano o no il <strong>beamforming </strong>(tecnologia che orienta la trasmissione e la ricezione del segnale WI-FI verso i dispositivi connessi avendo cos&igrave; a disposizione una banda maggiore e una trasmissione pi&ugrave; stabile)</li>
    <li>Fiberdroid si serve di <u>access point Ubiquiti</u>, una delle aziende leader del settore.</li>
</ul>