<p class="\&quot;p6\&quot;"><span class="\&quot;s1\&quot;">Il protocollo VoIP utilizza la <strong>tecnologia di commutazione a pacchetto</strong>: questo vuol dire che un messaggio viene suddiviso in pi&ugrave; parti (pacchetti) prima di essere inviato in rete, e una volta arrivati a destinazione i pacchetti vengono riassemblati nell'ordine corretto.</span>
</p>
<p class="\&quot;p6\&quot;"><span class="\&quot;s1\&quot;">I pacchetti vengono inoltrati in rete attraverso un <strong>percorso non definito a priori.</strong> Ogni pacchetto seguir&agrave; una propria strada venendo trasmesso tra i vari nodi della rete prima di raggiungere la destinazione finale.</span>
</p>
<p class="\&quot;p6\&quot;"><span class="\&quot;s1\&quot;">In questo modo viene <strong>ottimizzato l'utilizzo delle risorse di rete</strong> dal momento che il percorso tra due nodi della rete non viene assegnato in modo esclusivo ad una comunicazione ma pu&ograve; essere utilizzato contemporaneamente per la trasmissione di pi&ugrave; comunicazioni.</span>
</p>
<p class="\&quot;p6\&quot;"><span class="\&quot;s1\&quot;"><em>Una curiosit&agrave;:</em>&nbsp;</span><span
        class="\&quot;s1\&quot;">La commutazione di pacchetto si sviluppa nel periodo della <strong>Guerra Fredda </strong>per garantire l'inoltro di informazioni anche in caso di scomparsa di alcuni nodi della rete.</span>
</p>
<p class="\&quot;p6\&quot;"><span class="\&quot;s1\&quot;">L'idea alla base era che ogni pacchetto in base alla disponibilit&agrave; di nodi liberi potesse <strong>decidere autonomamente quale percorso seguire</strong> senza che questo venisse stabilito in precedenza: in questo modo se una porzione di rete veniva improvvisamente a mancare il pacchetto poteva scegliere una strada alternativa tra quelle ancora disponibili.</span>
</p>
<p class="\&quot;p6\&quot;"><span class="\&quot;s1\&quot;">Questa scelta dettata da esigenze di sicurezza in un periodo di guerra ha in realt&agrave; avuto come conseguenza la possibilit&agrave; di sfruttare al meglio le risorse di rete: non avendo un percorso prestabilito i pacchetti possono utilizzare di volta in volta i nodi liberi in quel momento velocizzando ed ottimizzando la trasmissione.</span>
</p>
