<p class="\&quot;p6\&quot;"><span class="\&quot;s1\&quot;">Nel caso il cliente sia gi&agrave; in possesso di una numerazione telefonica di rete fissa e desideri mantenere tale numerazione pu&ograve; richiedere a Fiberdroid di usufruire del servizio di number portability che consente di <strong>trasferire il proprio numero geografico mantenendo la numerazione.</strong></span>
</p>
<p class="\&quot;p6\&quot;"><span class="\&quot;s1\&quot;">Tale richiesta disattiver&agrave; tutti i servizi di telefonia erogati dal precedente operatore ed &egrave; quindi bene ricordare che &egrave; necessario <strong>attivare un nuovo contratto dati</strong> (Adsl, Fibra o Wireless) per poter usufruire della tecnologia VoIP.</span>
</p>
<p class="\&quot;p6\&quot;"><span class="\&quot;s1\&quot;">Alcuni dettagli relativi a tale passaggio</span></p>
<ul class="\&quot;ul1\&quot;">
    <li class="\&quot;li6\&quot;"><span class="\&quot;s1\&quot;">la richiesta di portabilit&agrave; del numero pu&ograve; essere fatta una volta che il nuovo contratto VoIP sia <strong>gi&agrave; attivo</strong></span>
    </li>
    <li class="\&quot;li6\&quot;"><span class="\&quot;s1\&quot;">l'attuale gestore deve fornire il <strong>codice di sblocco</strong> della numerazione geografica</span>
    </li>
    <li class="\&quot;li6\&quot;"><span class="\&quot;s1\&quot;">per il trasferimento del numero sono necessari mediamente <strong>10/15 giorni </strong>dalla richiesta</span>
    </li>
</ul>
