<p class="\&quot;p6\&quot;"><span class="\&quot;s1\&quot;">Per poter scegliere di utilizzare la tecnologia VoIP &egrave; necessario avere:</span>
</p>
<ul class="\&quot;ul1\&quot;">
    <li class="\&quot;li6\&quot;"><span class="\&quot;s1\&quot;">una connessione Internet (preferibilmente flat)</span>
    </li>
    <li class="\&quot;li6\&quot;"><span class="\&quot;s1\&quot;">Computer con cuffie o casse e microfono</span></li>
    <li class="\&quot;li6\&quot;"><span class="\&quot;s1\&quot;">Smartphone con nostra APP (Client VoIP / Soft-phone) installato</span>
    </li>
    <li class="\&quot;li6\&quot;"><span class="\&quot;s1\&quot;">Un modem/router VoIP (come ad esempio il Fritz!) per fare e ricevere telefonate direttamente dai tuoi telefoni di casa con il computer spento.</span>
    </li>
</ul>
