<p class="\&quot;p6\&quot;"><span class="\&quot;s1\&quot;">Nella rete telefonica tradizionale <strong>PSTN</strong> (Public Switched Telephone Network) viene utilizzata la <strong>commutazione di \"circuito\" </strong>in quanto la comunicazione tra due utenti &egrave; possibile riservando una \"connessione\" che li collega per tutta la durata della comunicazione.</span>
</p>
<p class="\&quot;p6\&quot;"><span class="\&quot;s1\&quot;">Questo vuol dire che devono essere disponibili molte risorse per rendere fruibile il servizio a tutti gli utenti, comportando costi della connessione elevati. Il costo del traffico telefonico tradizionale &egrave; infatti a <strong>tempo.</strong></span>
</p>
<p class="\&quot;p6\&quot;"><span class="\&quot;s1\&quot;">Inoltre pi&ugrave; gli utenti sono fisicamente lontani pi&ugrave; risorse risultano occupate e maggiore sar&agrave; il costo della telefonata. Ed ecco perch&eacute; il costo <strong>dipende fortemente anche dalla distanza </strong>(basti pensare ai costi delle chiamate internazionali).</span>
</p>
<p class="\&quot;p6\&quot;"><span
        class="\&quot;s1\&quot;">Per fare un esempio, fino a circa gli <strong>anni '60 </strong>se una telefonata durava 10 minuti veniva <strong>dedicato un collegamento</strong> costituito da connessioni di doppini di rame che coprissero tutta la tratta da un capo all'altro della telefonata per tutta la durata della chiamata.</span>
</p>
<p class="\&quot;p6\&quot;"><span class="\&quot;s1\&quot;">I costi delle telefonate erano notevoli e aumentavano vertiginosamente all'aumentare della distanza: se i due utenti distavano 1000 km, per 10 minuti utilizzavano 1000 km di doppino in rame a loro esclusivamente riservati.</span>
</p>
<p class="\&quot;p6\&quot;"><span class="\&quot;s1\&quot;">Oggi giorno la rete telefonica tradizionale &egrave; diventata pi&ugrave; efficiente e i costi si sono ridotti rispetto al passato. La voce viene digitalizzata e la conversazione di un utente pu&ograve; essere combinata con quella di migliaia di altri in un singolo cavo di fibra ottica per la maggior parte del tragitto (anche se c'&egrave; sempre una parte di trasmissione legata al doppino in rame nell'ultima tratta verso l'appartamento dell'utente).</span>
</p>
<p class="\&quot;p6\&quot;"><span class="\&quot;s1\&quot;">La rete tradizionale per&ograve; nonostante questi miglioramenti risulta ancora molto poco competitiva a causa della tecnologia di commutazione a circuito utilizzata che pur essendo solida, affidabile e garantendo un'ottima qualit&agrave; della comunicazione non permette uno sfruttamento efficiente delle risorse di rete e comporta quindi <strong>costi decisamente elevati.</strong></span>
</p>
