<p class="p6"><span class="s1">VoIP<span
        class="Apple-converted-space">&nbsp; </span>&egrave; un acronimo per <strong>Voice Over Internet Protocol</strong> &ndash; la \"Voce su IP\" &ndash; ed &egrave; una tecnologia che rende possibile che la voce venga trasformata in dato digitale per essere trasmessa al pari di altri dati su una connessione Internet o un'altra rete dedicata che utilizza sempre il protocollo IP (come ad esempio una LAN all'interno di un'azienda).</span>
</p>
<p class="p6"><span class="s1">Ma quindi il <strong>VoIP cos&rsquo;&egrave;?</strong> Questa tecnologia consiste in pratica nell'utilizzo della rete Internet per trasportare un particolare tipo di traffico, la digitalizzazione di una conversazione telefonica.</span>
</p>
<p class="p6"><span class="s1">Ma affinch&eacute; due utenti possano sostenere una telefonata vera e propria &egrave; necessario che lo scambio sia in tempo reale, il che implica un flusso bidirezionale con il <strong>minimo ritardo possibile.<span
        class="Apple-converted-space">&nbsp; </span></strong>A questo scopo bisogna che la velocit&agrave; della connessione Internet sia compatibile con la banda necessaria a trasportare l'audio.</span>
</p>
<p class="p6"><span class="s1">Questo &egrave; possibile grazie:</span></p>
<ul class="ul1">
    <li class="li6"><span class="s1">alla sempre maggiore <strong>diffusione delle connessioni a banda larga</strong> che ha permesso un aumento della velocit&agrave; di rete</span>
    </li>
    <li class="li6"><span class="s1">e allo sviluppo di <strong>tecniche per la compressione dei segnali </strong>audio sempre pi&ugrave; efficaci che hanno permesso di ridurre la quantit&agrave; di informazione da trasmettere</span>
    </li>
</ul>
<p class="p6"><span class="s1">Grazie a queste evoluzioni un pubblico sempre maggiore sta avendo accesso alla telefonia via Internet.</span>
</p>
<p class="p6"><span class="s1">Iniziamo a vedere come funziona la vecchia rete telefonica tradizionale per capire quali vantaggi ci possa offrire scegliere una soluzione VoIP.</span>
</p>
