<p class="p6"><span class="s1">Come abbiamo detto uno dei vantaggi di questa tecnologia &egrave; che essa elimina l'obbligo di riservare della banda per ogni telefonata sfruttando l'<strong>allocazione dinamica delle risorse</strong>.</span>
</p>
<p class="p6"><span class="s1">Inoltre i pacchetti di dati contenenti le informazioni vocali vengono codificati in forma digitale e instradati in rete solo nel momento in cui uno degli utenti sta realmente parlando (eliminando cos&igrave; l'inutile trasmissione di quelle parti di conversazione in cui entrambi gli interlocutori sono in silenzio e riducendo cos&igrave; la quantit&agrave; di informazione da trasmettere).</span>
</p>
<p class="p6"><span class="s1">Il VoIP permette poi di utilizzare <strong>risorse di rete gi&agrave; esistenti </strong>consentendo quindi una notevole riduzione dei costi sia per i privati che per le aziende:</span>
</p>
<ul class="ul1">
    <li class="li6"><span
            class="s1">nel primo caso il privato pu&ograve; sfruttare un <strong>collegamento ad Internet </strong>a banda larga (gi&agrave; esistente e sempre attivo) per effettuare chiamate telefoniche economicamente molto vantaggiose (specialmente per le chiamate internazionali)</span>
    </li>
    <li class="li6"><span class="s1">nel secondo caso un'azienda potr&agrave; utilizzare la <strong>rete aziendale LAN o rete metropolitana MAN</strong> gi&agrave; esistente per le comunicazioni vocali, riducendo drasticamente le spese di comunicazioni interaziendali.</span>
    </li>
</ul>
<p class="p6"><span
        class="s1">Ecco in sintesi i principali vantaggi che si possono avere scegliendo una soluzione VoIP:</span></p>
<ul class="ul1">
    <li class="li6"><span class="s1"><strong>riduzione dei costi delle telefonate</strong></span></li>
    <ul class="ul2">
        <li class="li6"><span
                class="s1">non vi &egrave; pi&ugrave; differenza tra chiamate locali e a lunga distanza</span></li>
        <li class="li6"><span class="s1">&egrave; possibile fare telefonate gratuite tra utenti della stessa rete</span>
        </li>
        <li class="li6"><span
                class="s1">&egrave; possibile utilizzare una rete LAN per le comunicazioni interaziendali</span></li>
    </ul>
    <li class="li6"><span class="s1"><strong>delocalizzazione del numero</strong></span></li>
    <li><span class="s1">possibilit&agrave; di avere <strong>diversi numeri telefonici</strong> su un unico apparecchio telefonico</span>
    </li>
</ul>
<p class="p6"><span class="s1"> Il numero di telefono non &egrave; pi&ugrave; legato alla sede fisica: il cliente configura il proprio numero sul telefono IP e collegandolo alla rete diventa raggiungibile indipendentemente dalla sede in cui si trova. Non si &egrave; pi&ugrave; vincolati ad un cavetto di rame. Un esempio? Se andate in vacanza dove avete una connessione Wi-Fi, con un telefono che abbia un client VoIP portate con voi in vacanza il vostro numero di casa.</span>
</p>
<p class="p6"><span class="s1">Aggiungere o spostare numerazioni telefoniche sar&agrave; semplice e veloce, non perderete i vostri numeri di rete fissa nazionale o ne aggiungerete facilmente uno nuovo, il numero delle possibili nuove linee dipende solo dalla capacit&agrave; della linea internet. Pensate alla comodit&agrave; di decidere quando volete di dedicare un numero solo ai fornitori, uno all&rsquo;assistenza ecc...</span></p>
<p class="p10"><span class="s1">Possibilit&agrave; di <strong>salvare messaggi vocali sul proprio pc</strong></span></p>
<ul class="ul1">
    <li class="li6"><span class="s1">deviazione di chiamata (per esempio fuori orario vanno su cellulare)</span></li>
    <li class="li6"><span class="s1">inoltro a un cellulare senza che si veda il numero ricevente la chiamata</span>
    </li>
    <li class="li6"><span class="s1">chiamata in attesa</span></li>
    <li class="li6"><span class="s1">chiamata a tre o pi&ugrave; interlocutori</span></li>
    <li class="li6"><span class="s1">integrazione tra segreteria telefonica ed email (i messaggi possono arrivare via mail come allegati)</span>
    </li>
    <li class="li6"><span class="s1">attribuzione di un numero virtuale in un altro Paese con ridirezione via Internet verso l'Italia</span>
    </li>
</ul>
<p class="p6"><span class="s1"> non essendo necessario alcun intervento in sede o sopralluogo l&rsquo;attivazione sar&agrave; semplice e veloce.</span>
</p>
