<p>
    L’<strong>opzione DHI</strong> (Digital Human Interface)
    ti permette completare l’esperienza dei tuoi clienti tramite interazione con un Avatar
    con cui può conversare. Caricamento di una immagine di background, scelta del proprio Avatar
    da un catalogo di circa 20 modelli, Modalità browser automation.
</p>
