<p>
    <strong>FIBERBOT</strong> è la piattaforma che ti permette di creare l’Assistente Virtuale
    perfetto per le PMI, distribuirlo su vari canali e misurare le sue
    performance in real time.

    Il Virtual Assistant può parlare massimo in una lingua e include:
    <ul>
        <li>Riconoscimento e sintesi vocale</li>
        <li>Intent Recognition</li>
        <li>Conversational Form ed Information Extraction Engine</li>
        <li>Browser Automation</li>
        <li>Live Chat, Area operatori Live Chat</li>
        <li>Storico delle conversazioni effettuate</li>
        <li>Area per il reinforcement learning</li>
        <li>Area per personalizzazione del lessico dell’assistente</li>
        <li>Votazione delle risposte da parte degli utenti, Dashboard di Analytics</li>
    </ul>
</p>
