<template>
    <div style="width: 100%; display: flex">
        <canvas v-show="!loading" ref="render" style="margin: auto; width: 1100px; height: 720px; background: transparent">
        </canvas>
    </div>
</template>

<script>
import * as BABYLON from "babylonjs";
import * as GUI from "babylonjs-gui";
import 'babylonjs-loaders';

export default {
    name: "FiberdroidModel",
    data() {
        return {
            canvas: null,
            engine: null,
            scene: null,
            loading: true,
        }
    },
    methods: {
        getMeshByProperty(prop) {
            // Property of mesh are custom and
            // setted on blender using the mesh name
            // For example: MeshName|Property1|Property2
            // This find all meshes with a given Property
            const result = []

            for (const mesh of this.scene.meshes) {
                if (mesh.name.includes("|")) {
                    const properties = mesh.name.split("|").slice(1)

                    for (const property of properties) {
                        if (property.startsWith(prop)) {
                            result.push(mesh)
                        }
                    }
                }
            }

            return result
        },
        getMeshByPrefix(prefix) {
            const result = []

            for (const mesh of this.scene.meshes) {
                if (mesh.name.startsWith(prefix)) {
                    result.push(mesh)
                }
            }

            return result
        },
        async createScene() {
            this.scene = new BABYLON.Scene(this.engine);
            const scene = this.scene

            const camera = new BABYLON.ArcRotateCamera("Camera", 0, 0, 17, new BABYLON.Vector3(0, 0, 0), scene);

            // This positions the camera
            camera.setPosition(new BABYLON.Vector3(-18, 6, 25));

            // Attach the camera to the canvas
            camera.attachControl(this.canvas, false);

            // 1.18 <= alpha <= 1.44
            // 1.43 <= beta <= 3.5
            //camera.lowerRadiusLimit = camera.radius;
            //camera.upperRadiusLimit = camera.radius;
            camera.lowerBetaLimit = 1.18;
            camera.upperBetaLimit = 1.44;
            camera.lowerAlphaLimit = 1.43;
            camera.upperAlphaLimit = 3.5;

            const glowLayer = new BABYLON.GlowLayer("glow", scene);
            glowLayer.intensity = 0.4

            const hdrTexture = new BABYLON.HDRCubeTexture("https://fiberdroid.it/hdr/ocean.hdr", scene, 512);

            const hemiLight = new BABYLON.HemisphericLight("HemiLight", new BABYLON.Vector3(0, 1, 0), scene);
            hemiLight.intensity = 1.2

            await BABYLON.SceneLoader.ImportMeshAsync("", "https://fiberdroid.it/", "office2.glb", scene, function (progress) {
                console.log("Progress...", progress)
            },   ".glb");

            scene.getMaterialByName("Wood").alphaMode = 0;

            const glasses = this.getMeshByPrefix("Glass")
            const neon = this.getMeshByPrefix("NeonText")
            const cabinets = this.getMeshByPrefix("Cabinet")

            const {glassMaterial, metallicMaterial} = this.materials(hdrTexture)

            for (const glass of glasses) {
                glass.material = glassMaterial
            }

            for (const cabinet of cabinets) {
                cabinet.material = metallicMaterial
            }

            for (const neonMesh of neon) {
                glowLayer.addIncludedOnlyMesh(neonMesh)
            }

            for (const mesh of scene.meshes) {
                mesh.freezeWorldMatrix();
                mesh.doNotSyncBoundingInfo = true;
            }

            const pickables = [
                'Phone',
                'WifiPoint',
                'WifiPoint2',
                'Router',
                'Cabinet',
                'PingPong'
            ].map(el => this.getMeshByPrefix(el))


            const self = this
            scene.onPointerDown = function (evt, pickResult) {
                // We try to pick an object
                if (pickResult.hit) {
                    //console.log(pickResult.pickedMesh)

                    const closest = self.findClosest(pickResult.pickedPoint, pickables)
                    camera.setTarget(closest)
                }
            };

            this.scene.performancePriority = BABYLON.ScenePerformancePriority.Aggressive

            this.loading = false;
            this.scene = this.debug(scene)
            return this.scene;
        },
        debug(scene) {
            // Instrumentation
            var instrumentation = new BABYLON.EngineInstrumentation(this.engine);
            instrumentation.captureGPUFrameTime = true;
            instrumentation.captureShaderCompilationTime = true;

            // GUI
            var advancedTexture = GUI.AdvancedDynamicTexture.CreateFullscreenUI("UI");
            var stackPanel = new GUI.StackPanel();
            stackPanel.verticalAlignment = GUI.Control.VERTICAL_ALIGNMENT_TOP;
            stackPanel.isVertical = true;
            advancedTexture.addControl(stackPanel);

            var text1 = new GUI.TextBlock();
            text1.text = "";
            text1.color = "white";
            text1.fontSize = 16;
            text1.height = "30px";
            //stackPanel.addControl(text1);

            var text2 = new GUI.TextBlock();
            text2.text = "";
            text2.color = "white";
            text2.fontSize = 16;
            text2.height = "30px";
            //stackPanel.addControl(text2);

            var text3 = new GUI.TextBlock();
            text3.text = "";
            text3.color = "white";
            text3.fontSize = 16;
            text3.height = "30px";
            //stackPanel.addControl(text3);

            var text4 = new GUI.TextBlock();
            text4.text = "";
            text4.color = "white";
            text4.fontSize = 16;
            text4.height = "30px";
            //stackPanel.addControl(text4);

            var text5 = new GUI.TextBlock();
            text5.text = "";
            text5.color = "white";
            text5.fontSize = 16;
            text5.height = "30px";
            //stackPanel.addControl(text5);

            const engine = this.engine
            scene.registerBeforeRender(function () {
                text1.text = "current frame time (GPU): " + (instrumentation.gpuFrameTimeCounter.current * 0.000001).toFixed(2) + "ms" + `(${engine.getFps().toFixed()} FPS)`;
                text2.text = "average frame time (GPU): " + (instrumentation.gpuFrameTimeCounter.average * 0.000001).toFixed(2) + "ms";
                text3.text = "total shader compilation time: " + (instrumentation.shaderCompilationTimeCounter.total).toFixed(2) + "ms";
                text4.text = "average shader compilation time: " + (instrumentation.shaderCompilationTimeCounter.average).toFixed(2) + "ms";
                text5.text = "compiler shaders count: " + instrumentation.shaderCompilationTimeCounter.count;
            });

            return scene;
        },
        materials(hdrTexture) {
            const glassMaterial = new BABYLON.PBRMaterial("glass", this.scene);
            glassMaterial.reflectionTexture = hdrTexture;
            glassMaterial.indexOfRefraction = 1.450;
            glassMaterial.alpha = 0.5;
            glassMaterial.directIntensity = 0.3;
            glassMaterial.environmentIntensity = 0.3;
            glassMaterial.cameraExposure = 0.66;
            glassMaterial.cameraContrast = 1.66;
            glassMaterial.microSurface = 1;
            glassMaterial.reflectivityColor = new BABYLON.Color3(0.2, 0.2, 0.2);
            glassMaterial.albedoColor = new BABYLON.Color3(0.95, 0.95, 0.95);

            var metallicMaterial = new BABYLON.PBRMaterial("mettalic", this.scene);

            metallicMaterial.albedoColor = new BABYLON.Color3(1.0, 0.766, 0.336);
            metallicMaterial.metallic = 1.0;
            metallicMaterial.roughness = 0.5;
            metallicMaterial.reflectionTexture = hdrTexture

            return {glassMaterial, metallicMaterial}
        },
        findClosest(from, targets) {
            let bestDist = Number.MAX_VALUE
            let closest = null

            console.log("FROM ", from.x, from.y, from.z)
            for (const target of targets) {
                if (!target || !target[0]) continue

                const mesh = target[0]
                const point = mesh.getAbsolutePosition()

                const dist = Math.sqrt(
                    (point.x - from.x)**2 + (point.y - from.y)**2 + (point.z - from.z)**2
                )

                console.log({mesh: mesh.name, point, dist})

                if (dist < bestDist) {
                    bestDist = dist
                    closest = mesh
                }
            }

            return closest
        }
    },
    async mounted() {
        this.canvas = this.$refs.render
        this.engine = new BABYLON.Engine(this.canvas, true, null, true);

        const scene = await this.createScene();

        scene.clearColor = new BABYLON.Color4(0, 0, 0, 0);

        this.engine.resize();

        this.engine.runRenderLoop(function(){
            scene.render();
        });

        window.addEventListener('resize', function(){
            this.engine.resize();
        });
    }
};
</script>

<style>
@import "http://127.0.0.1:8000/css/app.css?v=64d5f3d63ec6f";

canvas {
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
}
</style>
