<template>
    <div class="columns is-multiline is-mobile mx-6-desktop mt-3-mobile mx-3-mobile mb-0">
        <div class="column desktop-6 touch-12">
            <div class="box coverage-box p-6">
                <CoverageInput name="city" @input="citySelected" :options="cities" v-model="form.city" label="Comune" placeholder="Inserisci un comune"/>
                <CoverageInput with-label ref="roadInput" @input="roadSelected" name="road" @search-changed="getStreets" v-model="form.road" :options="streets" label="Strada" placeholder="Inserisci una strada" :disabled="!form.city" disable-search/>
                <CoverageInput ref="numberInput" name="number" @input="getStairs" @search-changed="getCivics" v-model="form.number" :options="civics" label="Civico" placeholder="Inserisci un civico" :disabled="!form.road" disable-search/>
                <CoverageInput name="stair" v-if="hasNoStairs" label="Scala" placeholder="Nessuna scala disponibile" :disabled="true"/>
                <CoverageInput ref="stairInput" name="stair" v-else :options="stairs" label="Scala" placeholder="Inserisci una scala" v-model="form.stair" :disabled="stairs.length === 0"/>

                <button @click="coverage" class="button coverage-button is-fd-primary" :disabled="!formReady">Verifica</button>
            </div>
        </div>
        <div class="column desktop-6 touch-12" style="display: flex">
            <div class="box coverage-box p-6" :class="{'blur': noCoverage}">
                <div v-if="!isLoading">
                    <p class="coverage-box-title mb-6">Riepilogo</p>

                    <div class="columns is-multiline">
                        <div class="column is-12">
                            <CoverageResult
                                :info="coverageResult.ftth.info"
                                :providers="coverageResult.ftth.coverage.map(el => el.carrier.name).filter((value, index, array) => array.indexOf(value) === index)"
                                :data="coverageResult.fttc.coverage.filter(el => el.technology.name === 'FTTH')"
                                :url="url"
                            />
                        </div>

                        <div class="column is-12">
                            <CoverageResult
                                :info="coverageResult.fttc.info"
                                :providers="coverageResult.fttc.coverage.map(el => el.carrier.name).filter((value, index, array) => array.indexOf(value) === index)"
                                :data="coverageResult.fttc.coverage.filter(el => el.technology.name === 'FTTC')"
                                :url="url"
                            />
                        </div>

                        <div class="column is-12">
                            <CoverageResult
                                :info="coverageResult.wireless.info"
                                :providers="coverageResult.wireless.coverage.filter(el => el.data.length > 0).map(el => el.carrier.name).filter((value, index, array) => array.indexOf(value) === index)"
                                :data="coverageResult.wireless.coverage"
                                :url="url"
                            />
                        </div>

                        <div class="column is-12">
                            <CoverageResult
                                :info="{name: '4G/5G', icon: '4g.png'}"
                                :providers="[]"
                                :data="null"
                                force-active
                                :url="url"
                            />
                        </div>
                    </div>
                </div>
                <div class="coverage-loading" v-else>
                    <div style="display: inline; margin: auto; width: 70%; text-align: center">
                        <p class="subtitle-text">Verificando la copertura...</p>
                        <progress class="progress is-fd-primary is-small mt-4" max="100">20%</progress>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-12" v-show="!noCoverage" :class="{'blur': isLoading}">
            <div class="box coverage-box p-6">
                <p class="coverage-box-title mb-6">Copertura</p>

                <FttcResult :url="url" @showMap="showCabinetsMap" @click.native="coverageActive = 'fttc'" :opened="coverageActive === 'fttc'" :data="coverageResult.fttc.coverage" type="fibra"/>
                <FtthResult :url="url" @click.native="coverageActive = 'ftth'" :opened="coverageActive === 'ftth'" :data="coverageResult.ftth.coverage" type="project"/>
                <WirelessResult :url="url" @showMap="showBtsMap" @click.native="coverageActive = 'wireless'" :opened="coverageActive === 'wireless'" :data="coverageResult.wireless.coverage" type="wireless"/>
                <GResult :url="url" :opened="coverageActive === '4g/5g'" @click.native="coverageActive = '4g/5g'" :data="coverageResult.wireless.coverage" type="4g5g" />

                <div data-coverage-products-section style="display: none">
                    <p class="coverage-box-title mt-5 mb-6">Prodotti</p>

                    <div class="columns is-multiline mx-6-tablet mx-6-desktop mx-3-mobile" data-section data-coverage-products>

                    </div>
                </div>
            </div>
        </div>

        <CoverageMap
            :url="url"
            :opened="showMap"
            :geodata="geodata"
            :bts-ids="btsIds"
            :disable-bts="disableAllBts"
            :active-cabinet-id="activeCabinetId"
            @close="showMap = false"
        />
    </div>
</template>


<script>
import CoverageInput from "@/helpers/coverage/CoverageInput";
import axios from "axios";
import CoverageResult from "@/helpers/coverage/CoverageResult";
import FtthResult from "@/helpers/coverage/coverageResults/FtthResult";
import FttcResult from "@/helpers/coverage/coverageResults/FttcResult";
import WirelessResult from "@/helpers/coverage/coverageResults/WirelessResult";
import CoverageMap from "@/helpers/coverage/CoverageMap";
import GResult from "@/helpers/coverage/coverageResults/GResult";

export default {
    components: {GResult, CoverageMap, WirelessResult, FttcResult, FtthResult, CoverageResult, CoverageInput},
    data() {
        return {
            noCoverage: true,
            form: {
                city: null,
                road: null,
                number: null,
                stair: null,
            },
            cities: [],
            streets: [],
            street_types: [],
            civics: [],
            stairs: [],
            hasNoStairs: false,

            isLoading: false,

            coverageResult: null,
            geodata: null,
            btsIds: [],
            disableAllBts: false,
            activeCabinetId: -1,
            coverageActive: 'fttc',

            showMap: false,


        }
    },
    mounted() {
        this.getCities()

        const coverage = JSON.parse("{\"coverage\":[{\"carrier\":{\"name\":\"WIC\",\"value\":\"wic\",\"description\":\"WIC\",\"logo_url\":\"https:\\/\\/coverage.mywic.it\\/carriers\\/wic\\/logo\"},\"agcom_sticker_url\":\"https:\\/\\/coverage.mywic.it\\/icons\\/sticker-ff\",\"technology\":{\"name\":\"FTTH\",\"value\":\"FTTH\",\"description\":\"FTTHome\",\"sticker\":\"ff\",\"family\":{\"name\":\"FTTX\",\"value\":\"FTTX\",\"description\":\"FTTx - Fibra ottica condivisa\",\"order\":3}},\"family\":\"FTTX\",\"covered\":false,\"status\":\"NON ATTIVO\",\"data\":[]},{\"carrier\":{\"name\":\"WIC\",\"value\":\"wic\",\"description\":\"WIC\",\"logo_url\":\"https:\\/\\/coverage.mywic.it\\/carriers\\/wic\\/logo\"},\"agcom_sticker_url\":\"https:\\/\\/coverage.mywic.it\\/icons\\/sticker-ff\",\"technology\":{\"name\":\"FIBER_P2P\",\"value\":\"FIBRA_P2P\",\"description\":\"Fibra dedicata\",\"sticker\":\"ff\",\"family\":{\"name\":\"Fiber\",\"value\":\"P2P\",\"description\":\"FTTH - Fibra ottica dedicata\",\"order\":1}},\"family\":\"P2P\",\"covered\":false,\"status\":\"NON ATTIVO\",\"data\":{\"fascia_circuiti_fibra\":4}},{\"carrier\":{\"name\":\"WIC\",\"value\":\"wic\",\"description\":\"WIC\",\"logo_url\":\"https:\\/\\/coverage.mywic.it\\/carriers\\/wic\\/logo\"},\"agcom_sticker_url\":\"https:\\/\\/coverage.mywic.it\\/icons\\/sticker-w\",\"technology\":{\"name\":\"WIRELESS\",\"value\":\"WIRELESS\",\"description\":\"FWA Fixed Wireless\",\"sticker\":\"w\",\"family\":{\"name\":\"FixedWireless\",\"value\":\"FWA\",\"description\":\"FWA - Fixed Wireless condivisa\",\"order\":4}},\"family\":\"FWA\",\"covered\":false,\"status\":\"NON ATTIVO\",\"data\":[],\"max_speed\":0},{\"carrier\":{\"name\":\"WIC\",\"value\":\"wic\",\"description\":\"WIC\",\"logo_url\":\"https:\\/\\/coverage.mywic.it\\/carriers\\/wic\\/logo\"},\"agcom_sticker_url\":\"https:\\/\\/coverage.mywic.it\\/icons\\/sticker-w\",\"technology\":{\"name\":\"WIRELESS_P2P\",\"value\":\"WIRELESS_P2P\",\"description\":\"Fixed Wireless Punto-Punto\",\"sticker\":\"w\",\"family\":{\"name\":\"FWA_P2P\",\"value\":\"FWA-P2P\",\"description\":\"FWA - Fixed Wireless dedicata\",\"order\":2}},\"family\":\"FWA-P2P\",\"covered\":false,\"status\":\"NON ATTIVO\",\"data\":[],\"max_speed\":0},{\"carrier\":{\"name\":\"WICal\",\"value\":\"wical\",\"description\":\"WICal\",\"logo_url\":\"https:\\/\\/coverage.mywic.it\\/carriers\\/wical\\/logo\"},\"agcom_sticker_url\":\"https:\\/\\/coverage.mywic.it\\/icons\\/sticker-w\",\"technology\":{\"name\":\"WIRELESS\",\"value\":\"WIRELESS\",\"description\":\"FWA Fixed Wireless\",\"sticker\":\"w\",\"family\":{\"name\":\"FixedWireless\",\"value\":\"FWA\",\"description\":\"FWA - Fixed Wireless condivisa\",\"order\":4}},\"family\":\"FWA\",\"covered\":false,\"status\":\"NON ATTIVO\",\"data\":[],\"max_speed\":0},{\"carrier\":{\"name\":\"WICal\",\"value\":\"wical\",\"description\":\"WICal\",\"logo_url\":\"https:\\/\\/coverage.mywic.it\\/carriers\\/wical\\/logo\"},\"agcom_sticker_url\":\"https:\\/\\/coverage.mywic.it\\/icons\\/sticker-w\",\"technology\":{\"name\":\"WIRELESS_P2P\",\"value\":\"WIRELESS_P2P\",\"description\":\"Fixed Wireless Punto-Punto\",\"sticker\":\"w\",\"family\":{\"name\":\"FWA_P2P\",\"value\":\"FWA-P2P\",\"description\":\"FWA - Fixed Wireless dedicata\",\"order\":2}},\"family\":\"FWA-P2P\",\"covered\":false,\"status\":\"NON ATTIVO\",\"data\":[],\"max_speed\":0},{\"carrier\":{\"name\":\"TIM\",\"value\":\"tim\",\"description\":\"TIM\",\"logo_url\":\"https:\\/\\/coverage.mywic.it\\/carriers\\/tim\\/logo\"},\"agcom_sticker_url\":\"https:\\/\\/coverage.mywic.it\\/icons\\/sticker-rf\",\"technology\":{\"name\":\"FTTC\",\"value\":\"FTTC\",\"description\":\"FTTCab\",\"sticker\":\"rf\",\"family\":{\"name\":\"FTTX\",\"value\":\"FTTX\",\"description\":\"FTTx - Fibra ottica condivisa\",\"order\":3}},\"family\":\"FTTX\",\"covered\":true,\"status\":\"ATTIVO\",\"data\":{\"copertura\":\"Attivo\",\"velocita_down\":134.11,\"velocita_up\":31.16,\"max_speed\":200,\"pianificazione\":null,\"velocita_dettaglio\":{\"download\":{\"fttc\":81.59,\"evdsl\":134.11},\"upload\":{\"fttc\":31.16,\"evdsl\":31.16}},\"distanza\":176.07,\"edr\":\"00200P_12X\",\"tipo_edr\":\"Armadio\",\"clli_centrale\":\"MILAITCK\",\"edr_info\":{\"id\":112448,\"codice_acl\":\"00200P\",\"elemento\":\"12X\",\"clli_onu\":\"MILAITCK023\",\"lat\":45.544901388889,\"lng\":9.1183102777778,\"provincia\":\"MILANO\",\"comune\":\"BOLLATE\",\"particella\":\"VIA\",\"via\":\"GIACOMO MATTEOTTI\",\"civico\":\"3\",\"stato_fttc\":\"ATTIVO\",\"velocita_fttc\":\"200\",\"data_apertura_fttc\":\"2015-06-24\",\"data_pianificazione_fttc\":null,\"macroarea\":\"MILANO\"},\"edr_map\":\"https:\\/\\/coverage.mywic.it\\/minimaps\\/23c7692e74fa8eec439362d1bfe7351b\",\"categoria\":\"8\",\"tag\":\"MILANO\"}},{\"carrier\":{\"name\":\"TIM\",\"value\":\"tim\",\"description\":\"TIM\",\"logo_url\":\"https:\\/\\/coverage.mywic.it\\/carriers\\/tim\\/logo\"},\"agcom_sticker_url\":\"https:\\/\\/coverage.mywic.it\\/icons\\/sticker-ff\",\"technology\":{\"name\":\"FIBER_P2P\",\"value\":\"FIBRA_P2P\",\"description\":\"Fibra dedicata\",\"sticker\":\"ff\",\"family\":{\"name\":\"Fiber\",\"value\":\"P2P\",\"description\":\"FTTH - Fibra ottica dedicata\",\"order\":1}},\"family\":\"P2P\",\"covered\":true,\"status\":\"ATTIVO\",\"data\":{\"copertura\":\"SI\",\"edr\":\"MILAITCK\",\"max_speed\":10000,\"tipo_edr\":\"Centrale\",\"clli_ftto\":\"MILAITCK\",\"fascia_circuiti_fibra\":\"B1\",\"edr_info\":{\"id\":10718,\"nome\":\"MI-BOLLATE\",\"nome_sede_gat\":\"BOLLATE\",\"codice_gat\":\"002047\",\"codice_clli\":\"MILAITCK\",\"codice_centrale_acl\":\"002166\",\"codice_idbre\":\"007578\",\"codice_idbre_sede\":\"000163\",\"codice_acl_area\":\"00200P\",\"regione\":\"LOMBARDIA\",\"lat\":45.54305417,\"lng\":9.11814694,\"indirizzo\":\"VIA CRISTOFORO DA BOLLATE->\",\"comune\":\"BOLLATE\",\"provincia\":\"MILANO\",\"sgu\":\"MI CERTOSA\",\"clli_sgu\":\"MILAITBY\",\"codice_idbre_sgu\":\"000050\",\"ntr\":true,\"certificazione_coordinate\":true,\"in_dismissione\":false,\"note\":\"\",\"stato_adsl_atm\":\"SATURO\",\"velocita_adsl_atm\":\"20\",\"semaforo_giallo_adsl_atm\":false,\"risorsa_semaforo_giallo_adsl_atm\":\"\",\"occupazione_semaforo_giallo_adsl_atm\":\"\",\"stato_adsl_eth\":\"ATTIVO\",\"velocita_adsl_eth\":\"20\",\"data_apertura_adsl_eth\":\"2010-01-01\",\"stato_fttc\":\"ATTIVO\",\"data_apertura_fttc\":null,\"data_pianificazione_fttc\":null,\"macroarea\":\"MILANO\",\"fascia\":0},\"edr_map\":\"https:\\/\\/coverage.mywic.it\\/minimaps\\/d87160e7c89ac6e77eb37535938f0658\",\"categoria\":\"8\",\"clli_centrale\":\"MILAITCK\",\"tag\":\"B1\"}},{\"carrier\":{\"name\":\"TIM\",\"value\":\"tim\",\"description\":\"TIM\",\"logo_url\":\"https:\\/\\/coverage.mywic.it\\/carriers\\/tim\\/logo\"},\"agcom_sticker_url\":\"https:\\/\\/coverage.mywic.it\\/icons\\/sticker-r\",\"technology\":{\"name\":\"ASIM_ETH\",\"value\":\"ASIM_ETH\",\"description\":\"ADSL Ethernet\",\"sticker\":\"r\",\"family\":{\"name\":\"ADSL\",\"value\":\"ADSL\",\"description\":\"ADSL - Circuiti asimmetrici\",\"order\":6}},\"family\":\"ADSL\",\"covered\":true,\"status\":\"ATTIVO\",\"data\":{\"copertura\":\"Attivo 20M QinQ\\/LD\",\"edr\":\"MILAITCK\",\"max_speed\":20,\"tipo_edr\":\"Centrale\",\"velocita_down\":\"17.91\",\"velocita_up\":\"1.06\",\"velocita_dettaglio\":{\"download\":{\"6db\":17.91,\"11db\":14.22,\"12db\":14.22},\"upload\":{\"6db\":1.06,\"11db\":0.88,\"12db\":0.98}},\"distanza\":421.07,\"edr_info\":{\"id\":10718,\"nome\":\"MI-BOLLATE\",\"nome_sede_gat\":\"BOLLATE\",\"codice_gat\":\"002047\",\"codice_clli\":\"MILAITCK\",\"codice_centrale_acl\":\"002166\",\"codice_idbre\":\"007578\",\"codice_idbre_sede\":\"000163\",\"codice_acl_area\":\"00200P\",\"regione\":\"LOMBARDIA\",\"lat\":45.54305417,\"lng\":9.11814694,\"indirizzo\":\"VIA CRISTOFORO DA BOLLATE->\",\"comune\":\"BOLLATE\",\"provincia\":\"MILANO\",\"sgu\":\"MI CERTOSA\",\"clli_sgu\":\"MILAITBY\",\"codice_idbre_sgu\":\"000050\",\"ntr\":true,\"certificazione_coordinate\":true,\"in_dismissione\":false,\"note\":\"\",\"stato_adsl_atm\":\"SATURO\",\"velocita_adsl_atm\":\"20\",\"semaforo_giallo_adsl_atm\":false,\"risorsa_semaforo_giallo_adsl_atm\":\"\",\"occupazione_semaforo_giallo_adsl_atm\":\"\",\"stato_adsl_eth\":\"ATTIVO\",\"velocita_adsl_eth\":\"20\",\"data_apertura_adsl_eth\":\"2010-01-01\",\"stato_fttc\":\"ATTIVO\",\"data_apertura_fttc\":null,\"data_pianificazione_fttc\":null,\"macroarea\":\"MILANO\",\"fascia\":0},\"edr_map\":\"https:\\/\\/coverage.mywic.it\\/minimaps\\/d87160e7c89ac6e77eb37535938f0658\",\"categoria\":\"8\",\"tag\":\"MILANO\"}},{\"carrier\":{\"name\":\"TIM\",\"value\":\"tim\",\"description\":\"TIM\",\"logo_url\":\"https:\\/\\/coverage.mywic.it\\/carriers\\/tim\\/logo\"},\"agcom_sticker_url\":\"https:\\/\\/coverage.mywic.it\\/icons\\/sticker-ff\",\"technology\":{\"name\":\"FTTH\",\"value\":\"FTTH\",\"description\":\"FTTHome\",\"sticker\":\"ff\",\"family\":{\"name\":\"FTTX\",\"value\":\"FTTX\",\"description\":\"FTTx - Fibra ottica condivisa\",\"order\":3}},\"family\":\"FTTX\",\"covered\":false,\"status\":\"NON ATTIVO\",\"data\":[]},{\"carrier\":{\"name\":\"TIM\",\"value\":\"tim\",\"description\":\"TIM\",\"logo_url\":\"https:\\/\\/coverage.mywic.it\\/carriers\\/tim\\/logo\"},\"agcom_sticker_url\":\"https:\\/\\/coverage.mywic.it\\/icons\\/sticker-r\",\"technology\":{\"name\":\"SIM_ATM_BOND\",\"value\":\"SIM_ATM_BOND\",\"description\":\"SHDSL ATM Bonding\",\"sticker\":\"r\",\"family\":{\"name\":\"HDSL\",\"value\":\"HDSL\",\"description\":\"SHDSL - Circuiti simmetrici\",\"order\":5}},\"family\":\"HDSL\",\"covered\":false,\"status\":\"SATURO\",\"data\":{\"copertura\":\"Saturo\",\"edr\":\"MILAITCK\",\"max_speed\":4,\"tipo_edr\":\"Centrale\",\"distanza\":421.07,\"edr_info\":{\"id\":10718,\"nome\":\"MI-BOLLATE\",\"nome_sede_gat\":\"BOLLATE\",\"codice_gat\":\"002047\",\"codice_clli\":\"MILAITCK\",\"codice_centrale_acl\":\"002166\",\"codice_idbre\":\"007578\",\"codice_idbre_sede\":\"000163\",\"codice_acl_area\":\"00200P\",\"regione\":\"LOMBARDIA\",\"lat\":45.54305417,\"lng\":9.11814694,\"indirizzo\":\"VIA CRISTOFORO DA BOLLATE->\",\"comune\":\"BOLLATE\",\"provincia\":\"MILANO\",\"sgu\":\"MI CERTOSA\",\"clli_sgu\":\"MILAITBY\",\"codice_idbre_sgu\":\"000050\",\"ntr\":true,\"certificazione_coordinate\":true,\"in_dismissione\":false,\"note\":\"\",\"stato_adsl_atm\":\"SATURO\",\"velocita_adsl_atm\":\"20\",\"semaforo_giallo_adsl_atm\":false,\"risorsa_semaforo_giallo_adsl_atm\":\"\",\"occupazione_semaforo_giallo_adsl_atm\":\"\",\"stato_adsl_eth\":\"ATTIVO\",\"velocita_adsl_eth\":\"20\",\"data_apertura_adsl_eth\":\"2010-01-01\",\"stato_fttc\":\"ATTIVO\",\"data_apertura_fttc\":null,\"data_pianificazione_fttc\":null,\"macroarea\":\"MILANO\",\"fascia\":0},\"edr_map\":\"https:\\/\\/coverage.mywic.it\\/minimaps\\/d87160e7c89ac6e77eb37535938f0658\",\"categoria\":\"8\",\"tag\":\"MILANO\"}},{\"carrier\":{\"name\":\"TIM\",\"value\":\"tim\",\"description\":\"TIM\",\"logo_url\":\"https:\\/\\/coverage.mywic.it\\/carriers\\/tim\\/logo\"},\"agcom_sticker_url\":\"https:\\/\\/coverage.mywic.it\\/icons\\/sticker-r\",\"technology\":{\"name\":\"SIM_ETH\",\"value\":\"SIM_ETH\",\"description\":\"SHDSL Ethernet\",\"sticker\":\"r\",\"family\":{\"name\":\"HDSL\",\"value\":\"HDSL\",\"description\":\"SHDSL - Circuiti simmetrici\",\"order\":5}},\"family\":\"HDSL\",\"covered\":true,\"status\":\"ATTIVO\",\"data\":{\"copertura\":\"Attivo\",\"edr\":\"MILAITCK\",\"max_speed\":10,\"tipo_edr\":\"Centrale\",\"distanza\":421.07,\"edr_info\":{\"id\":10718,\"nome\":\"MI-BOLLATE\",\"nome_sede_gat\":\"BOLLATE\",\"codice_gat\":\"002047\",\"codice_clli\":\"MILAITCK\",\"codice_centrale_acl\":\"002166\",\"codice_idbre\":\"007578\",\"codice_idbre_sede\":\"000163\",\"codice_acl_area\":\"00200P\",\"regione\":\"LOMBARDIA\",\"lat\":45.54305417,\"lng\":9.11814694,\"indirizzo\":\"VIA CRISTOFORO DA BOLLATE->\",\"comune\":\"BOLLATE\",\"provincia\":\"MILANO\",\"sgu\":\"MI CERTOSA\",\"clli_sgu\":\"MILAITBY\",\"codice_idbre_sgu\":\"000050\",\"ntr\":true,\"certificazione_coordinate\":true,\"in_dismissione\":false,\"note\":\"\",\"stato_adsl_atm\":\"SATURO\",\"velocita_adsl_atm\":\"20\",\"semaforo_giallo_adsl_atm\":false,\"risorsa_semaforo_giallo_adsl_atm\":\"\",\"occupazione_semaforo_giallo_adsl_atm\":\"\",\"stato_adsl_eth\":\"ATTIVO\",\"velocita_adsl_eth\":\"20\",\"data_apertura_adsl_eth\":\"2010-01-01\",\"stato_fttc\":\"ATTIVO\",\"data_apertura_fttc\":null,\"data_pianificazione_fttc\":null,\"macroarea\":\"MILANO\",\"fascia\":0},\"edr_map\":\"https:\\/\\/coverage.mywic.it\\/minimaps\\/d87160e7c89ac6e77eb37535938f0658\",\"categoria\":\"8\",\"tag\":\"MILANO\"}},{\"carrier\":{\"name\":\"TIM\",\"value\":\"tim\",\"description\":\"TIM\",\"logo_url\":\"https:\\/\\/coverage.mywic.it\\/carriers\\/tim\\/logo\"},\"agcom_sticker_url\":\"https:\\/\\/coverage.mywic.it\\/icons\\/sticker-ff\",\"technology\":{\"name\":\"FTTO\",\"value\":\"FTTO\",\"description\":\"Fibra dedicata simmetrica\",\"sticker\":\"ff\",\"family\":{\"name\":\"Fiber\",\"value\":\"P2P\",\"description\":\"FTTH - Fibra ottica dedicata\",\"order\":1}},\"family\":\"P2P\",\"covered\":true,\"status\":\"ATTIVO\",\"data\":{\"copertura\":\"SI\",\"edr\":\"MILAITCK\",\"max_speed\":1000,\"tipo_edr\":\"Centrale\",\"clli_ftto\":\"MILAITCK\",\"fascia_circuiti_fibra\":\"B\",\"edr_info\":{\"id\":10718,\"nome\":\"MI-BOLLATE\",\"nome_sede_gat\":\"BOLLATE\",\"codice_gat\":\"002047\",\"codice_clli\":\"MILAITCK\",\"codice_centrale_acl\":\"002166\",\"codice_idbre\":\"007578\",\"codice_idbre_sede\":\"000163\",\"codice_acl_area\":\"00200P\",\"regione\":\"LOMBARDIA\",\"lat\":45.54305417,\"lng\":9.11814694,\"indirizzo\":\"VIA CRISTOFORO DA BOLLATE->\",\"comune\":\"BOLLATE\",\"provincia\":\"MILANO\",\"sgu\":\"MI CERTOSA\",\"clli_sgu\":\"MILAITBY\",\"codice_idbre_sgu\":\"000050\",\"ntr\":true,\"certificazione_coordinate\":true,\"in_dismissione\":false,\"note\":\"\",\"stato_adsl_atm\":\"SATURO\",\"velocita_adsl_atm\":\"20\",\"semaforo_giallo_adsl_atm\":false,\"risorsa_semaforo_giallo_adsl_atm\":\"\",\"occupazione_semaforo_giallo_adsl_atm\":\"\",\"stato_adsl_eth\":\"ATTIVO\",\"velocita_adsl_eth\":\"20\",\"data_apertura_adsl_eth\":\"2010-01-01\",\"stato_fttc\":\"ATTIVO\",\"data_apertura_fttc\":null,\"data_pianificazione_fttc\":null,\"macroarea\":\"MILANO\",\"fascia\":0},\"edr_map\":\"https:\\/\\/coverage.mywic.it\\/minimaps\\/d87160e7c89ac6e77eb37535938f0658\",\"categoria\":\"8\",\"tag\":\"B\"}},{\"carrier\":{\"name\":\"Eolo\",\"value\":\"eolo\",\"description\":\"Eolo\",\"logo_url\":\"https:\\/\\/coverage.mywic.it\\/carriers\\/eolo\\/logo\"},\"agcom_sticker_url\":\"https:\\/\\/coverage.mywic.it\\/icons\\/sticker-w\",\"technology\":{\"name\":\"WIRELESS\",\"value\":\"WIRELESS\",\"description\":\"FWA Fixed Wireless\",\"sticker\":\"w\",\"family\":{\"name\":\"FixedWireless\",\"value\":\"FWA\",\"description\":\"FWA - Fixed Wireless condivisa\",\"order\":4}},\"family\":\"FWA\",\"covered\":true,\"status\":\"ATTIVO\",\"data\":[{\"id\":718,\"nome\":\"Arluno\",\"lat\":45.4989,\"lng\":8.9364,\"attiva\":true,\"tech_string\":\"EOLOwave + EOLOwaveG\",\"elevation\":152,\"data_attivazione\":\"2010-01-01\",\"file_mappa\":\"acc2e8c24bf35594104e22da3ce468c9.png\",\"inf_sx_lat\":45.318988,\"inf_sx_lng\":8.679773,\"sup_dx_lat\":45.678812,\"sup_dx_lng\":9.193027,\"max_speed\":200,\"distance\":15099.73818555837,\"expected_signal_18\":-72,\"expected_signal_24\":-66,\"azimuth\":249,\"altitude\":160,\"tilt\":-0,\"color\":\"#f4cc86\",\"uid\":\"eolo_718\"},{\"id\":7250,\"nome\":\"Arese\",\"lat\":45.54981,\"lng\":9.07898,\"attiva\":true,\"tech_string\":\"EOLOwaveG\",\"elevation\":162,\"data_attivazione\":\"2022-12-02\",\"file_mappa\":\"04334a3c393cb5ca590776c36333863a.png\",\"inf_sx_lat\":45.459813,\"inf_sx_lng\":8.95051,\"sup_dx_lat\":45.639807,\"sup_dx_lng\":9.20745,\"max_speed\":200,\"distance\":3088.9633611889894,\"expected_signal_18\":-58,\"expected_signal_24\":-52,\"azimuth\":278,\"altitude\":160,\"tilt\":0,\"color\":\"#b53f09\",\"uid\":\"eolo_7250\"},{\"id\":1074,\"nome\":\"Cirimido\",\"lat\":45.70108,\"lng\":9.01132,\"attiva\":true,\"tech_string\":\"EOLOwave + EOLOwaveG\",\"elevation\":319,\"data_attivazione\":\"2010-01-01\",\"file_mappa\":\"1e7bc92ca078e2da5819a7d5d91a08d8.png\",\"inf_sx_lat\":45.52117,\"inf_sx_lng\":8.753786,\"sup_dx_lat\":45.88099,\"sup_dx_lng\":9.268854,\"max_speed\":200,\"distance\":19156.178134556245,\"expected_signal_18\":-74,\"expected_signal_24\":-68,\"azimuth\":334,\"altitude\":160,\"tilt\":0.5,\"color\":\"#ddb516\",\"uid\":\"eolo_1074\"},{\"id\":684,\"nome\":\"Cisliano\",\"lat\":45.44482,\"lng\":9.00125,\"attiva\":true,\"tech_string\":\"EOLOwave + EOLOwaveG\",\"elevation\":125,\"data_attivazione\":\"2010-01-01\",\"file_mappa\":\"a72695ede61fc22069a48c80ab782b8d.png\",\"inf_sx_lat\":45.26491,\"inf_sx_lng\":8.744828,\"sup_dx_lat\":45.62473,\"sup_dx_lng\":9.257672,\"max_speed\":200,\"distance\":14472.250201255078,\"expected_signal_18\":-71,\"expected_signal_24\":-65,\"azimuth\":219,\"altitude\":160,\"tilt\":-0.1,\"color\":\"#5aabfc\",\"uid\":\"eolo_684\"},{\"id\":1265,\"nome\":\"Busto Garolfo\",\"lat\":45.54658,\"lng\":8.87545,\"attiva\":true,\"tech_string\":\"EOLOwave + EOLOwaveG\",\"elevation\":181,\"data_attivazione\":\"2010-01-01\",\"file_mappa\":\"88e578b34cdc18d2da41874e3da28214.png\",\"inf_sx_lat\":45.366658,\"inf_sx_lng\":8.618606,\"sup_dx_lat\":45.726502,\"sup_dx_lng\":9.132294,\"max_speed\":200,\"distance\":18907.76853759222,\"expected_signal_18\":-74,\"expected_signal_24\":-68,\"azimuth\":270,\"altitude\":160,\"tilt\":0.1,\"color\":\"#0ea39e\",\"uid\":\"eolo_1265\"},{\"id\":1946,\"nome\":\"Cologno Monzese\",\"lat\":45.52325,\"lng\":9.2623,\"attiva\":true,\"tech_string\":\"EOLOwave\",\"elevation\":134,\"data_attivazione\":\"2010-01-01\",\"file_mappa\":\"e91fa9e1bb589342c57baa75b6ea7306.png\",\"inf_sx_lat\":45.343338,\"inf_sx_lng\":9.005572,\"sup_dx_lat\":45.703162,\"sup_dx_lng\":9.519028,\"max_speed\":30,\"distance\":11498.844758627833,\"expected_signal_18\":-69,\"expected_signal_24\":-63,\"azimuth\":102,\"altitude\":160,\"tilt\":-0.1,\"color\":\"#d976f7\",\"uid\":\"eolo_1946\"},{\"id\":649,\"nome\":\"Seregno\",\"lat\":45.64807,\"lng\":9.21687,\"attiva\":true,\"tech_string\":\"WiMAX\",\"elevation\":224,\"data_attivazione\":\"2010-01-01\",\"file_mappa\":\"2653b94c8ca0eff2d91f797abb25ccff.png\",\"inf_sx_lat\":45.468148,\"inf_sx_lng\":8.959521,\"sup_dx_lat\":45.827992,\"sup_dx_lng\":9.474219,\"max_speed\":30,\"distance\":13710.880734198003,\"expected_signal_18\":-71,\"expected_signal_24\":-65,\"azimuth\":33,\"altitude\":160,\"tilt\":0.3,\"color\":\"#ff4297\",\"uid\":\"eolo_649\"},{\"id\":496,\"nome\":\"Vimercate\",\"lat\":45.59895,\"lng\":9.36238,\"attiva\":true,\"tech_string\":\"EOLOwave + EOLOwaveG\",\"elevation\":180,\"data_attivazione\":\"2010-01-01\",\"file_mappa\":\"a7c0cc50b877bb4231354091bc80b83e.png\",\"inf_sx_lat\":45.41904,\"inf_sx_lng\":9.10525,\"sup_dx_lat\":45.77886,\"sup_dx_lng\":9.61951,\"max_speed\":200,\"distance\":19897.603646572123,\"expected_signal_18\":-74,\"expected_signal_24\":-68,\"azimuth\":72,\"altitude\":160,\"tilt\":0.1,\"color\":\"#bc323e\",\"uid\":\"eolo_496\"},{\"id\":4103,\"nome\":\"Cant\u00f9\",\"lat\":45.7173,\"lng\":9.16088,\"attiva\":true,\"tech_string\":\"EOLOwave + EOLOwaveG\",\"elevation\":308,\"data_attivazione\":\"2010-01-01\",\"file_mappa\":\"1421034d331c84a53a808ca473842480.png\",\"inf_sx_lat\":45.537378,\"inf_sx_lng\":8.903228,\"sup_dx_lat\":45.897222,\"sup_dx_lng\":9.418532,\"max_speed\":200,\"distance\":19346.893710547036,\"expected_signal_18\":-74,\"expected_signal_24\":-68,\"azimuth\":9,\"altitude\":160,\"tilt\":0.4,\"color\":\"#ea2ce7\",\"uid\":\"eolo_4103\"},{\"id\":5182,\"nome\":\"Legnano \",\"lat\":45.58378,\"lng\":8.91438,\"attiva\":true,\"tech_string\":\"EOLOwave + EOLOwaveG\",\"elevation\":203,\"data_attivazione\":\"2010-01-01\",\"file_mappa\":\"1d96fee9eaf4ea9e0d1d30c1eb79c839.png\",\"inf_sx_lat\":45.40387,\"inf_sx_lng\":8.657351,\"sup_dx_lat\":45.76369,\"sup_dx_lng\":9.171409,\"max_speed\":200,\"distance\":16420.680448030307,\"expected_signal_18\":-73,\"expected_signal_24\":-67,\"azimuth\":284,\"altitude\":160,\"tilt\":0.2,\"color\":\"#b5781e\",\"uid\":\"eolo_5182\"},{\"id\":2357,\"nome\":\"Lissone EI\",\"lat\":45.60092,\"lng\":9.24775,\"attiva\":true,\"tech_string\":\"EOLOwave + EOLOwaveG\",\"elevation\":184,\"data_attivazione\":\"2010-01-01\",\"file_mappa\":\"0dac384eec53b94c10ed70cc16d93f08.png\",\"inf_sx_lat\":45.42101,\"inf_sx_lng\":8.99062,\"sup_dx_lat\":45.78083,\"sup_dx_lng\":9.50488,\"max_speed\":200,\"distance\":11792.224825306497,\"expected_signal_18\":-70,\"expected_signal_24\":-64,\"azimuth\":58,\"altitude\":160,\"tilt\":0.1,\"color\":\"#e5c5f9\",\"uid\":\"eolo_2357\"},{\"id\":1664,\"nome\":\"CiniselloBalsamo\",\"lat\":45.5628,\"lng\":9.23823,\"attiva\":true,\"tech_string\":\"EOLOwave\",\"elevation\":154,\"data_attivazione\":\"2010-01-01\",\"file_mappa\":\"16eef22333d0a461c3f3729f3618a96f.png\",\"inf_sx_lat\":45.382878,\"inf_sx_lng\":8.981285,\"sup_dx_lat\":45.742722,\"sup_dx_lng\":9.495175,\"max_speed\":30,\"distance\":9529.52140030115,\"expected_signal_18\":-68,\"expected_signal_24\":-62,\"azimuth\":78,\"altitude\":160,\"tilt\":-0,\"color\":\"#13dd3f\",\"uid\":\"eolo_1664\"},{\"id\":553,\"nome\":\"Arcore\",\"lat\":45.6208,\"lng\":9.32255,\"attiva\":true,\"tech_string\":\"EOLOwave + EOLOwaveG\",\"elevation\":187,\"data_attivazione\":\"2010-01-01\",\"file_mappa\":\"e865755c0024944894aad8280f31bfea.png\",\"inf_sx_lat\":45.44089,\"inf_sx_lng\":9.065319,\"sup_dx_lat\":45.80071,\"sup_dx_lng\":9.579781,\"max_speed\":200,\"distance\":17949.35817690767,\"expected_signal_18\":-73,\"expected_signal_24\":-67,\"azimuth\":62,\"altitude\":160,\"tilt\":0.1,\"color\":\"#2fd685\",\"uid\":\"eolo_553\"},{\"id\":11005,\"nome\":\"Arluno\",\"lat\":45.49866,\"lng\":8.93689,\"attiva\":true,\"tech_string\":\"EOLOwave + EOLOwaveG\",\"elevation\":153,\"data_attivazione\":\"2023-02-02\",\"file_mappa\":\"8314f2d502484b08459ae5c5585fcf34.png\",\"inf_sx_lat\":45.318748,\"inf_sx_lng\":8.680263,\"sup_dx_lat\":45.678572,\"sup_dx_lng\":9.193517,\"max_speed\":200,\"distance\":15073.231288431974,\"expected_signal_18\":-72,\"expected_signal_24\":-66,\"azimuth\":249,\"altitude\":160,\"tilt\":-0,\"color\":\"#e20917\",\"uid\":\"eolo_11005\"},{\"id\":214,\"nome\":\"Milano Breda\",\"lat\":45.48035,\"lng\":9.19948,\"attiva\":true,\"tech_string\":\"EOLOwave\",\"elevation\":124,\"data_attivazione\":\"2010-01-01\",\"file_mappa\":\"74732d2ad45ccef2c5ce7c0e01b39478.png\",\"inf_sx_lat\":45.300438,\"inf_sx_lng\":8.942954,\"sup_dx_lat\":45.660262,\"sup_dx_lng\":9.456006,\"max_speed\":30,\"distance\":9651.943217941429,\"expected_signal_18\":-68,\"expected_signal_24\":-62,\"azimuth\":138,\"altitude\":160,\"tilt\":-0.2,\"color\":\"#10bab1\",\"uid\":\"eolo_214\"},{\"id\":973,\"nome\":\"Milano Stephenson\",\"lat\":45.51013,\"lng\":9.12577,\"attiva\":true,\"tech_string\":\"EOLOwave + EOLOwaveG\",\"elevation\":137,\"data_attivazione\":\"2010-01-01\",\"file_mappa\":\"55e7638b2eb1769d2b88476bc650cce6.png\",\"inf_sx_lat\":45.330218,\"inf_sx_lng\":8.869042,\"sup_dx_lat\":45.690042,\"sup_dx_lng\":9.382498,\"max_speed\":200,\"distance\":4018.38061411059,\"expected_signal_18\":-60,\"expected_signal_24\":-54,\"azimuth\":171,\"altitude\":160,\"tilt\":-0.3,\"color\":\"#ea6907\",\"uid\":\"eolo_973\"},{\"id\":974,\"nome\":\"Milano Silva\",\"lat\":45.47912,\"lng\":9.14672,\"attiva\":true,\"tech_string\":\"EOLOwave + EOLOwaveG\",\"elevation\":124,\"data_attivazione\":\"2010-01-01\",\"file_mappa\":\"16d53aeb7a2483c54cedb16208d6f223.png\",\"inf_sx_lat\":45.299208,\"inf_sx_lng\":8.890194,\"sup_dx_lat\":45.659032,\"sup_dx_lng\":9.403246,\"max_speed\":200,\"distance\":7747.991237837935,\"expected_signal_18\":-66,\"expected_signal_24\":-60,\"azimuth\":163,\"altitude\":160,\"tilt\":-0.3,\"color\":\"#a4fca1\",\"uid\":\"eolo_974\"},{\"id\":3377,\"nome\":\"Origgio\",\"lat\":45.58173,\"lng\":9.00357,\"attiva\":true,\"tech_string\":\"EOLOwave + EOLOwaveG\",\"elevation\":186,\"data_attivazione\":\"2010-01-01\",\"file_mappa\":\"7109bd0fe5cefca4e225674a5a416d6b.png\",\"inf_sx_lat\":45.40182,\"inf_sx_lng\":8.746541,\"sup_dx_lat\":45.76164,\"sup_dx_lng\":9.260599,\"max_speed\":200,\"distance\":9777.132802200125,\"expected_signal_18\":-68,\"expected_signal_24\":-62,\"azimuth\":294,\"altitude\":160,\"tilt\":0.2,\"color\":\"#5a34aa\",\"uid\":\"eolo_3377\"},{\"id\":5907,\"nome\":\"Settimo Milanese Tetto\",\"lat\":45.46303,\"lng\":9.05122,\"attiva\":true,\"tech_string\":\"EOLOwave + EOLOwaveG\",\"elevation\":129,\"data_attivazione\":\"2010-01-01\",\"file_mappa\":\"f72fe1e9710001a799f87a0568f091e5.png\",\"inf_sx_lat\":45.28312,\"inf_sx_lng\":8.794697,\"sup_dx_lat\":45.64294,\"sup_dx_lng\":9.307743,\"max_speed\":200,\"distance\":10590.60340252967,\"expected_signal_18\":-69,\"expected_signal_24\":-63,\"azimuth\":209,\"altitude\":160,\"tilt\":-0.2,\"color\":\"#3c4ffc\",\"uid\":\"eolo_5907\"},{\"id\":1560,\"nome\":\"Rozzano\",\"lat\":45.38323,\"lng\":9.16434,\"attiva\":true,\"tech_string\":\"EOLOwave + EOLOwaveG\",\"elevation\":100,\"data_attivazione\":\"2010-01-01\",\"file_mappa\":\"bfa3b7c481bb175e210fe610751dc55c.png\",\"inf_sx_lat\":45.203308,\"inf_sx_lng\":8.908204,\"sup_dx_lat\":45.563152,\"sup_dx_lng\":9.420476,\"max_speed\":200,\"distance\":18439.80592595542,\"expected_signal_18\":-74,\"expected_signal_24\":-68,\"azimuth\":168,\"altitude\":160,\"tilt\":-0.2,\"color\":\"#f489dd\",\"uid\":\"eolo_1560\"},{\"id\":799,\"nome\":\"Turate\",\"lat\":45.65792,\"lng\":8.9979,\"attiva\":true,\"tech_string\":\"EOLOwave + EOLOwaveG\",\"elevation\":242,\"data_attivazione\":\"2010-01-01\",\"file_mappa\":\"9e35362c23612e87e9e60b362c853612.png\",\"inf_sx_lat\":45.47801,\"inf_sx_lng\":8.740568,\"sup_dx_lat\":45.83783,\"sup_dx_lng\":9.255232,\"max_speed\":200,\"distance\":15584.078842189316,\"expected_signal_18\":-72,\"expected_signal_24\":-66,\"azimuth\":323,\"altitude\":160,\"tilt\":0.3,\"color\":\"#9ddd61\",\"uid\":\"eolo_799\"},{\"id\":6648,\"nome\":\"Seregno Centro\",\"lat\":45.64731,\"lng\":9.20896,\"attiva\":true,\"tech_string\":\"EOLOwave + EOLOwaveG\",\"elevation\":224,\"data_attivazione\":\"2000-01-01\",\"file_mappa\":\"5cabc9fc84305cc27e4db53753830d73.png\",\"inf_sx_lat\":45.467388,\"inf_sx_lng\":8.951611,\"sup_dx_lat\":45.827232,\"sup_dx_lng\":9.466309,\"max_speed\":200,\"distance\":13304.510717505338,\"expected_signal_18\":-71,\"expected_signal_24\":-65,\"azimuth\":32,\"altitude\":160,\"tilt\":0.3,\"color\":\"#a064e5\",\"uid\":\"eolo_6648\"},{\"id\":647,\"nome\":\"Varedo\",\"lat\":45.5948,\"lng\":9.15242,\"attiva\":true,\"tech_string\":\"EOLOwave\",\"elevation\":184,\"data_attivazione\":\"2010-01-01\",\"file_mappa\":\"829bf7c8f104dfe93f6dda84c14f4e07.png\",\"inf_sx_lat\":45.414878,\"inf_sx_lng\":8.895374,\"sup_dx_lat\":45.774722,\"sup_dx_lng\":9.409466,\"max_speed\":30,\"distance\":6054.945846732409,\"expected_signal_18\":-64,\"expected_signal_24\":-58,\"azimuth\":26,\"altitude\":160,\"tilt\":0.2,\"color\":\"#68cc04\",\"uid\":\"eolo_647\"},{\"id\":683,\"nome\":\"Vermezzo\",\"lat\":45.40022,\"lng\":8.97163,\"attiva\":true,\"tech_string\":\"EOLOwave + EOLOwaveG\",\"elevation\":117,\"data_attivazione\":\"2010-01-01\",\"file_mappa\":\"5ac6373806dedefdc11721e33e773903.png\",\"inf_sx_lat\":45.22031,\"inf_sx_lng\":8.71541,\"sup_dx_lat\":45.58013,\"sup_dx_lng\":9.22785,\"max_speed\":200,\"distance\":19825.303577997885,\"expected_signal_18\":-74,\"expected_signal_24\":-68,\"azimuth\":215,\"altitude\":160,\"tilt\":-0.1,\"color\":\"#d786e8\",\"uid\":\"eolo_683\"}],\"max_speed\":30},{\"carrier\":{\"name\":\"Eolo\",\"value\":\"eolo\",\"description\":\"Eolo\",\"logo_url\":\"https:\\/\\/coverage.mywic.it\\/carriers\\/eolo\\/logo\"},\"agcom_sticker_url\":\"https:\\/\\/coverage.mywic.it\\/icons\\/sticker-w\",\"technology\":{\"name\":\"WIRELESS28\",\"value\":\"WIRELESS_28\",\"description\":\"FWA Fixed Wireless 28 GHz\",\"sticker\":\"w\",\"family\":{\"name\":\"FixedWireless\",\"value\":\"FWA\",\"description\":\"FWA - Fixed Wireless condivisa\",\"order\":4}},\"family\":\"FWA\",\"covered\":true,\"status\":\"ATTIVO\",\"data\":[{\"id\":7250,\"nome\":\"Arese\",\"lat\":45.54981,\"lng\":9.07898,\"attiva\":true,\"tech_string\":\"EOLOwaveG\",\"elevation\":162,\"data_attivazione\":\"2022-12-02\",\"file_mappa\":\"04334a3c393cb5ca590776c36333863a.png\",\"inf_sx_lat\":45.459813,\"inf_sx_lng\":8.95051,\"sup_dx_lat\":45.639807,\"sup_dx_lng\":9.20745,\"max_speed\":200,\"distance\":3088.9633611889894,\"expected_signal_18\":-58,\"expected_signal_24\":-52,\"azimuth\":278,\"altitude\":160,\"tilt\":0,\"color\":\"#2f53e2\",\"uid\":\"eolo_7250\"},{\"id\":973,\"nome\":\"Milano Stephenson\",\"lat\":45.51013,\"lng\":9.12577,\"attiva\":true,\"tech_string\":\"EOLOwave + EOLOwaveG\",\"elevation\":137,\"data_attivazione\":\"2010-01-01\",\"file_mappa\":\"55e7638b2eb1769d2b88476bc650cce6.png\",\"inf_sx_lat\":45.330218,\"inf_sx_lng\":8.869042,\"sup_dx_lat\":45.690042,\"sup_dx_lng\":9.382498,\"max_speed\":200,\"distance\":4018.38061411059,\"expected_signal_18\":-60,\"expected_signal_24\":-54,\"azimuth\":171,\"altitude\":160,\"tilt\":-0.3,\"color\":\"#098981\",\"uid\":\"eolo_973\"},{\"id\":974,\"nome\":\"Milano Silva\",\"lat\":45.47912,\"lng\":9.14672,\"attiva\":true,\"tech_string\":\"EOLOwave + EOLOwaveG\",\"elevation\":124,\"data_attivazione\":\"2010-01-01\",\"file_mappa\":\"16d53aeb7a2483c54cedb16208d6f223.png\",\"inf_sx_lat\":45.299208,\"inf_sx_lng\":8.890194,\"sup_dx_lat\":45.659032,\"sup_dx_lng\":9.403246,\"max_speed\":200,\"distance\":7747.991237837935,\"expected_signal_18\":-66,\"expected_signal_24\":-60,\"azimuth\":163,\"altitude\":160,\"tilt\":-0.3,\"color\":\"#f8f9ae\",\"uid\":\"eolo_974\"},{\"id\":3377,\"nome\":\"Origgio\",\"lat\":45.58173,\"lng\":9.00357,\"attiva\":true,\"tech_string\":\"EOLOwave + EOLOwaveG\",\"elevation\":186,\"data_attivazione\":\"2010-01-01\",\"file_mappa\":\"7109bd0fe5cefca4e225674a5a416d6b.png\",\"inf_sx_lat\":45.40182,\"inf_sx_lng\":8.746541,\"sup_dx_lat\":45.76164,\"sup_dx_lng\":9.260599,\"max_speed\":200,\"distance\":9777.132802200125,\"expected_signal_18\":-68,\"expected_signal_24\":-62,\"azimuth\":294,\"altitude\":160,\"tilt\":0.2,\"color\":\"#48f2d5\",\"uid\":\"eolo_3377\"}],\"max_speed\":200},{\"carrier\":{\"name\":\"Eolo\",\"value\":\"eolo\",\"description\":\"Eolo\",\"logo_url\":\"https:\\/\\/coverage.mywic.it\\/carriers\\/eolo\\/logo\"},\"agcom_sticker_url\":\"https:\\/\\/coverage.mywic.it\\/icons\\/sticker-w\",\"technology\":{\"name\":\"WIRELESS_P2P\",\"value\":\"WIRELESS_P2P\",\"description\":\"Fixed Wireless Punto-Punto\",\"sticker\":\"w\",\"family\":{\"name\":\"FWA_P2P\",\"value\":\"FWA-P2P\",\"description\":\"FWA - Fixed Wireless dedicata\",\"order\":2}},\"family\":\"FWA-P2P\",\"covered\":true,\"status\":\"ATTIVO\",\"data\":[{\"id\":718,\"nome\":\"Arluno\",\"lat\":45.4989,\"lng\":8.9364,\"attiva\":true,\"tech_string\":\"EOLOwave + EOLOwaveG\",\"elevation\":152,\"data_attivazione\":\"2010-01-01\",\"file_mappa\":\"acc2e8c24bf35594104e22da3ce468c9.png\",\"inf_sx_lat\":45.318988,\"inf_sx_lng\":8.679773,\"sup_dx_lat\":45.678812,\"sup_dx_lng\":9.193027,\"max_speed\":200,\"distance\":15099.73818555837,\"expected_signal_18\":-72,\"expected_signal_24\":-66,\"azimuth\":249,\"altitude\":160,\"tilt\":-0,\"color\":\"#d32133\",\"uid\":\"eolo_718\"},{\"id\":7250,\"nome\":\"Arese\",\"lat\":45.54981,\"lng\":9.07898,\"attiva\":true,\"tech_string\":\"EOLOwaveG\",\"elevation\":162,\"data_attivazione\":\"2022-12-02\",\"file_mappa\":\"04334a3c393cb5ca590776c36333863a.png\",\"inf_sx_lat\":45.459813,\"inf_sx_lng\":8.95051,\"sup_dx_lat\":45.639807,\"sup_dx_lng\":9.20745,\"max_speed\":200,\"distance\":3088.9633611889894,\"expected_signal_18\":-58,\"expected_signal_24\":-52,\"azimuth\":278,\"altitude\":160,\"tilt\":0,\"color\":\"#c6374f\",\"uid\":\"eolo_7250\"},{\"id\":1074,\"nome\":\"Cirimido\",\"lat\":45.70108,\"lng\":9.01132,\"attiva\":true,\"tech_string\":\"EOLOwave + EOLOwaveG\",\"elevation\":319,\"data_attivazione\":\"2010-01-01\",\"file_mappa\":\"1e7bc92ca078e2da5819a7d5d91a08d8.png\",\"inf_sx_lat\":45.52117,\"inf_sx_lng\":8.753786,\"sup_dx_lat\":45.88099,\"sup_dx_lng\":9.268854,\"max_speed\":200,\"distance\":19156.178134556245,\"expected_signal_18\":-74,\"expected_signal_24\":-68,\"azimuth\":334,\"altitude\":160,\"tilt\":0.5,\"color\":\"#0cd64f\",\"uid\":\"eolo_1074\"},{\"id\":684,\"nome\":\"Cisliano\",\"lat\":45.44482,\"lng\":9.00125,\"attiva\":true,\"tech_string\":\"EOLOwave + EOLOwaveG\",\"elevation\":125,\"data_attivazione\":\"2010-01-01\",\"file_mappa\":\"a72695ede61fc22069a48c80ab782b8d.png\",\"inf_sx_lat\":45.26491,\"inf_sx_lng\":8.744828,\"sup_dx_lat\":45.62473,\"sup_dx_lng\":9.257672,\"max_speed\":200,\"distance\":14472.250201255078,\"expected_signal_18\":-71,\"expected_signal_24\":-65,\"azimuth\":219,\"altitude\":160,\"tilt\":-0.1,\"color\":\"#5a11b2\",\"uid\":\"eolo_684\"},{\"id\":1265,\"nome\":\"Busto Garolfo\",\"lat\":45.54658,\"lng\":8.87545,\"attiva\":true,\"tech_string\":\"EOLOwave + EOLOwaveG\",\"elevation\":181,\"data_attivazione\":\"2010-01-01\",\"file_mappa\":\"88e578b34cdc18d2da41874e3da28214.png\",\"inf_sx_lat\":45.366658,\"inf_sx_lng\":8.618606,\"sup_dx_lat\":45.726502,\"sup_dx_lng\":9.132294,\"max_speed\":200,\"distance\":18907.76853759222,\"expected_signal_18\":-74,\"expected_signal_24\":-68,\"azimuth\":270,\"altitude\":160,\"tilt\":0.1,\"color\":\"#40a3ce\",\"uid\":\"eolo_1265\"},{\"id\":1946,\"nome\":\"Cologno Monzese\",\"lat\":45.52325,\"lng\":9.2623,\"attiva\":true,\"tech_string\":\"EOLOwave\",\"elevation\":134,\"data_attivazione\":\"2010-01-01\",\"file_mappa\":\"e91fa9e1bb589342c57baa75b6ea7306.png\",\"inf_sx_lat\":45.343338,\"inf_sx_lng\":9.005572,\"sup_dx_lat\":45.703162,\"sup_dx_lng\":9.519028,\"max_speed\":30,\"distance\":11498.844758627833,\"expected_signal_18\":-69,\"expected_signal_24\":-63,\"azimuth\":102,\"altitude\":160,\"tilt\":-0.1,\"color\":\"#5cbfc4\",\"uid\":\"eolo_1946\"},{\"id\":649,\"nome\":\"Seregno\",\"lat\":45.64807,\"lng\":9.21687,\"attiva\":true,\"tech_string\":\"WiMAX\",\"elevation\":224,\"data_attivazione\":\"2010-01-01\",\"file_mappa\":\"2653b94c8ca0eff2d91f797abb25ccff.png\",\"inf_sx_lat\":45.468148,\"inf_sx_lng\":8.959521,\"sup_dx_lat\":45.827992,\"sup_dx_lng\":9.474219,\"max_speed\":30,\"distance\":13710.880734198003,\"expected_signal_18\":-71,\"expected_signal_24\":-65,\"azimuth\":33,\"altitude\":160,\"tilt\":0.3,\"color\":\"#4b36ed\",\"uid\":\"eolo_649\"},{\"id\":496,\"nome\":\"Vimercate\",\"lat\":45.59895,\"lng\":9.36238,\"attiva\":true,\"tech_string\":\"EOLOwave + EOLOwaveG\",\"elevation\":180,\"data_attivazione\":\"2010-01-01\",\"file_mappa\":\"a7c0cc50b877bb4231354091bc80b83e.png\",\"inf_sx_lat\":45.41904,\"inf_sx_lng\":9.10525,\"sup_dx_lat\":45.77886,\"sup_dx_lng\":9.61951,\"max_speed\":200,\"distance\":19897.603646572123,\"expected_signal_18\":-74,\"expected_signal_24\":-68,\"azimuth\":72,\"altitude\":160,\"tilt\":0.1,\"color\":\"#dcf48d\",\"uid\":\"eolo_496\"},{\"id\":4103,\"nome\":\"Cant\u00f9\",\"lat\":45.7173,\"lng\":9.16088,\"attiva\":true,\"tech_string\":\"EOLOwave + EOLOwaveG\",\"elevation\":308,\"data_attivazione\":\"2010-01-01\",\"file_mappa\":\"1421034d331c84a53a808ca473842480.png\",\"inf_sx_lat\":45.537378,\"inf_sx_lng\":8.903228,\"sup_dx_lat\":45.897222,\"sup_dx_lng\":9.418532,\"max_speed\":200,\"distance\":19346.893710547036,\"expected_signal_18\":-74,\"expected_signal_24\":-68,\"azimuth\":9,\"altitude\":160,\"tilt\":0.4,\"color\":\"#b21c30\",\"uid\":\"eolo_4103\"},{\"id\":5182,\"nome\":\"Legnano \",\"lat\":45.58378,\"lng\":8.91438,\"attiva\":true,\"tech_string\":\"EOLOwave + EOLOwaveG\",\"elevation\":203,\"data_attivazione\":\"2010-01-01\",\"file_mappa\":\"1d96fee9eaf4ea9e0d1d30c1eb79c839.png\",\"inf_sx_lat\":45.40387,\"inf_sx_lng\":8.657351,\"sup_dx_lat\":45.76369,\"sup_dx_lng\":9.171409,\"max_speed\":200,\"distance\":16420.680448030307,\"expected_signal_18\":-73,\"expected_signal_24\":-67,\"azimuth\":284,\"altitude\":160,\"tilt\":0.2,\"color\":\"#f7d1b9\",\"uid\":\"eolo_5182\"},{\"id\":2357,\"nome\":\"Lissone EI\",\"lat\":45.60092,\"lng\":9.24775,\"attiva\":true,\"tech_string\":\"EOLOwave + EOLOwaveG\",\"elevation\":184,\"data_attivazione\":\"2010-01-01\",\"file_mappa\":\"0dac384eec53b94c10ed70cc16d93f08.png\",\"inf_sx_lat\":45.42101,\"inf_sx_lng\":8.99062,\"sup_dx_lat\":45.78083,\"sup_dx_lng\":9.50488,\"max_speed\":200,\"distance\":11792.224825306497,\"expected_signal_18\":-70,\"expected_signal_24\":-64,\"azimuth\":58,\"altitude\":160,\"tilt\":0.1,\"color\":\"#68d8ba\",\"uid\":\"eolo_2357\"},{\"id\":1664,\"nome\":\"CiniselloBalsamo\",\"lat\":45.5628,\"lng\":9.23823,\"attiva\":true,\"tech_string\":\"EOLOwave\",\"elevation\":154,\"data_attivazione\":\"2010-01-01\",\"file_mappa\":\"16eef22333d0a461c3f3729f3618a96f.png\",\"inf_sx_lat\":45.382878,\"inf_sx_lng\":8.981285,\"sup_dx_lat\":45.742722,\"sup_dx_lng\":9.495175,\"max_speed\":30,\"distance\":9529.52140030115,\"expected_signal_18\":-68,\"expected_signal_24\":-62,\"azimuth\":78,\"altitude\":160,\"tilt\":-0,\"color\":\"#87f299\",\"uid\":\"eolo_1664\"},{\"id\":553,\"nome\":\"Arcore\",\"lat\":45.6208,\"lng\":9.32255,\"attiva\":true,\"tech_string\":\"EOLOwave + EOLOwaveG\",\"elevation\":187,\"data_attivazione\":\"2010-01-01\",\"file_mappa\":\"e865755c0024944894aad8280f31bfea.png\",\"inf_sx_lat\":45.44089,\"inf_sx_lng\":9.065319,\"sup_dx_lat\":45.80071,\"sup_dx_lng\":9.579781,\"max_speed\":200,\"distance\":17949.35817690767,\"expected_signal_18\":-73,\"expected_signal_24\":-67,\"azimuth\":62,\"altitude\":160,\"tilt\":0.1,\"color\":\"#4208a0\",\"uid\":\"eolo_553\"},{\"id\":11005,\"nome\":\"Arluno\",\"lat\":45.49866,\"lng\":8.93689,\"attiva\":true,\"tech_string\":\"EOLOwave + EOLOwaveG\",\"elevation\":153,\"data_attivazione\":\"2023-02-02\",\"file_mappa\":\"8314f2d502484b08459ae5c5585fcf34.png\",\"inf_sx_lat\":45.318748,\"inf_sx_lng\":8.680263,\"sup_dx_lat\":45.678572,\"sup_dx_lng\":9.193517,\"max_speed\":200,\"distance\":15073.231288431974,\"expected_signal_18\":-72,\"expected_signal_24\":-66,\"azimuth\":249,\"altitude\":160,\"tilt\":-0,\"color\":\"#d5ed87\",\"uid\":\"eolo_11005\"},{\"id\":214,\"nome\":\"Milano Breda\",\"lat\":45.48035,\"lng\":9.19948,\"attiva\":true,\"tech_string\":\"EOLOwave\",\"elevation\":124,\"data_attivazione\":\"2010-01-01\",\"file_mappa\":\"74732d2ad45ccef2c5ce7c0e01b39478.png\",\"inf_sx_lat\":45.300438,\"inf_sx_lng\":8.942954,\"sup_dx_lat\":45.660262,\"sup_dx_lng\":9.456006,\"max_speed\":30,\"distance\":9651.943217941429,\"expected_signal_18\":-68,\"expected_signal_24\":-62,\"azimuth\":138,\"altitude\":160,\"tilt\":-0.2,\"color\":\"#fff3ba\",\"uid\":\"eolo_214\"},{\"id\":973,\"nome\":\"Milano Stephenson\",\"lat\":45.51013,\"lng\":9.12577,\"attiva\":true,\"tech_string\":\"EOLOwave + EOLOwaveG\",\"elevation\":137,\"data_attivazione\":\"2010-01-01\",\"file_mappa\":\"55e7638b2eb1769d2b88476bc650cce6.png\",\"inf_sx_lat\":45.330218,\"inf_sx_lng\":8.869042,\"sup_dx_lat\":45.690042,\"sup_dx_lng\":9.382498,\"max_speed\":200,\"distance\":4018.38061411059,\"expected_signal_18\":-60,\"expected_signal_24\":-54,\"azimuth\":171,\"altitude\":160,\"tilt\":-0.3,\"color\":\"#4b0bba\",\"uid\":\"eolo_973\"},{\"id\":974,\"nome\":\"Milano Silva\",\"lat\":45.47912,\"lng\":9.14672,\"attiva\":true,\"tech_string\":\"EOLOwave + EOLOwaveG\",\"elevation\":124,\"data_attivazione\":\"2010-01-01\",\"file_mappa\":\"16d53aeb7a2483c54cedb16208d6f223.png\",\"inf_sx_lat\":45.299208,\"inf_sx_lng\":8.890194,\"sup_dx_lat\":45.659032,\"sup_dx_lng\":9.403246,\"max_speed\":200,\"distance\":7747.991237837935,\"expected_signal_18\":-66,\"expected_signal_24\":-60,\"azimuth\":163,\"altitude\":160,\"tilt\":-0.3,\"color\":\"#1f62f2\",\"uid\":\"eolo_974\"},{\"id\":3377,\"nome\":\"Origgio\",\"lat\":45.58173,\"lng\":9.00357,\"attiva\":true,\"tech_string\":\"EOLOwave + EOLOwaveG\",\"elevation\":186,\"data_attivazione\":\"2010-01-01\",\"file_mappa\":\"7109bd0fe5cefca4e225674a5a416d6b.png\",\"inf_sx_lat\":45.40182,\"inf_sx_lng\":8.746541,\"sup_dx_lat\":45.76164,\"sup_dx_lng\":9.260599,\"max_speed\":200,\"distance\":9777.132802200125,\"expected_signal_18\":-68,\"expected_signal_24\":-62,\"azimuth\":294,\"altitude\":160,\"tilt\":0.2,\"color\":\"#37ad1a\",\"uid\":\"eolo_3377\"},{\"id\":5907,\"nome\":\"Settimo Milanese Tetto\",\"lat\":45.46303,\"lng\":9.05122,\"attiva\":true,\"tech_string\":\"EOLOwave + EOLOwaveG\",\"elevation\":129,\"data_attivazione\":\"2010-01-01\",\"file_mappa\":\"f72fe1e9710001a799f87a0568f091e5.png\",\"inf_sx_lat\":45.28312,\"inf_sx_lng\":8.794697,\"sup_dx_lat\":45.64294,\"sup_dx_lng\":9.307743,\"max_speed\":200,\"distance\":10590.60340252967,\"expected_signal_18\":-69,\"expected_signal_24\":-63,\"azimuth\":209,\"altitude\":160,\"tilt\":-0.2,\"color\":\"#ddc358\",\"uid\":\"eolo_5907\"},{\"id\":1560,\"nome\":\"Rozzano\",\"lat\":45.38323,\"lng\":9.16434,\"attiva\":true,\"tech_string\":\"EOLOwave + EOLOwaveG\",\"elevation\":100,\"data_attivazione\":\"2010-01-01\",\"file_mappa\":\"bfa3b7c481bb175e210fe610751dc55c.png\",\"inf_sx_lat\":45.203308,\"inf_sx_lng\":8.908204,\"sup_dx_lat\":45.563152,\"sup_dx_lng\":9.420476,\"max_speed\":200,\"distance\":18439.80592595542,\"expected_signal_18\":-74,\"expected_signal_24\":-68,\"azimuth\":168,\"altitude\":160,\"tilt\":-0.2,\"color\":\"#f9f159\",\"uid\":\"eolo_1560\"},{\"id\":799,\"nome\":\"Turate\",\"lat\":45.65792,\"lng\":8.9979,\"attiva\":true,\"tech_string\":\"EOLOwave + EOLOwaveG\",\"elevation\":242,\"data_attivazione\":\"2010-01-01\",\"file_mappa\":\"9e35362c23612e87e9e60b362c853612.png\",\"inf_sx_lat\":45.47801,\"inf_sx_lng\":8.740568,\"sup_dx_lat\":45.83783,\"sup_dx_lng\":9.255232,\"max_speed\":200,\"distance\":15584.078842189316,\"expected_signal_18\":-72,\"expected_signal_24\":-66,\"azimuth\":323,\"altitude\":160,\"tilt\":0.3,\"color\":\"#7cf75d\",\"uid\":\"eolo_799\"},{\"id\":6648,\"nome\":\"Seregno Centro\",\"lat\":45.64731,\"lng\":9.20896,\"attiva\":true,\"tech_string\":\"EOLOwave + EOLOwaveG\",\"elevation\":224,\"data_attivazione\":\"2000-01-01\",\"file_mappa\":\"5cabc9fc84305cc27e4db53753830d73.png\",\"inf_sx_lat\":45.467388,\"inf_sx_lng\":8.951611,\"sup_dx_lat\":45.827232,\"sup_dx_lng\":9.466309,\"max_speed\":200,\"distance\":13304.510717505338,\"expected_signal_18\":-71,\"expected_signal_24\":-65,\"azimuth\":32,\"altitude\":160,\"tilt\":0.3,\"color\":\"#1da6aa\",\"uid\":\"eolo_6648\"},{\"id\":647,\"nome\":\"Varedo\",\"lat\":45.5948,\"lng\":9.15242,\"attiva\":true,\"tech_string\":\"EOLOwave\",\"elevation\":184,\"data_attivazione\":\"2010-01-01\",\"file_mappa\":\"829bf7c8f104dfe93f6dda84c14f4e07.png\",\"inf_sx_lat\":45.414878,\"inf_sx_lng\":8.895374,\"sup_dx_lat\":45.774722,\"sup_dx_lng\":9.409466,\"max_speed\":30,\"distance\":6054.945846732409,\"expected_signal_18\":-64,\"expected_signal_24\":-58,\"azimuth\":26,\"altitude\":160,\"tilt\":0.2,\"color\":\"#e4ef99\",\"uid\":\"eolo_647\"},{\"id\":683,\"nome\":\"Vermezzo\",\"lat\":45.40022,\"lng\":8.97163,\"attiva\":true,\"tech_string\":\"EOLOwave + EOLOwaveG\",\"elevation\":117,\"data_attivazione\":\"2010-01-01\",\"file_mappa\":\"5ac6373806dedefdc11721e33e773903.png\",\"inf_sx_lat\":45.22031,\"inf_sx_lng\":8.71541,\"sup_dx_lat\":45.58013,\"sup_dx_lng\":9.22785,\"max_speed\":200,\"distance\":19825.303577997885,\"expected_signal_18\":-74,\"expected_signal_24\":-68,\"azimuth\":215,\"altitude\":160,\"tilt\":-0.1,\"color\":\"#e2f986\",\"uid\":\"eolo_683\"}],\"max_speed\":200},{\"carrier\":{\"name\":\"Fastweb\",\"value\":\"fastweb\",\"description\":\"Fastweb\",\"logo_url\":\"https:\\/\\/coverage.mywic.it\\/carriers\\/fastweb\\/logo\"},\"agcom_sticker_url\":\"https:\\/\\/coverage.mywic.it\\/icons\\/sticker-rf\",\"technology\":{\"name\":\"FTTC\",\"value\":\"FTTC\",\"description\":\"FTTCab\",\"sticker\":\"rf\",\"family\":{\"name\":\"FTTX\",\"value\":\"FTTX\",\"description\":\"FTTx - Fibra ottica condivisa\",\"order\":3}},\"family\":\"FTTX\",\"covered\":true,\"status\":\"ATTIVO\",\"data\":{\"copertura\":\"ATTIVO\",\"velocita_down\":134.11,\"velocita_up\":31.16,\"max_speed\":200,\"velocita_dettaglio\":{\"download\":{\"fttc\":81.59,\"evdsl\":134.11},\"upload\":{\"fttc\":31.16,\"evdsl\":31.16}},\"distanza\":176.07,\"edr\":\"002047|12X\",\"tipo_edr\":\"armadio\",\"edr_info\":{\"id\":535138,\"tim_armadio_id\":null,\"sgu\":\"002047\",\"elemento\":\"12X\",\"ftts\":true,\"lat\":0,\"lng\":0,\"parent\":null},\"edr_map\":\"https:\\/\\/coverage.mywic.it\\/minimaps\\/0c3a61ad3be7aa007d1158e333999da2\",\"categoria\":null,\"tag\":\"FTTS\"}},{\"carrier\":{\"name\":\"Fastweb\",\"value\":\"fastweb\",\"description\":\"Fastweb\",\"logo_url\":\"https:\\/\\/coverage.mywic.it\\/carriers\\/fastweb\\/logo\"},\"agcom_sticker_url\":\"https:\\/\\/coverage.mywic.it\\/icons\\/sticker-ff\",\"technology\":{\"name\":\"FTTH\",\"value\":\"FTTH\",\"description\":\"FTTHome\",\"sticker\":\"ff\",\"family\":{\"name\":\"FTTX\",\"value\":\"FTTX\",\"description\":\"FTTx - Fibra ottica condivisa\",\"order\":3}},\"family\":\"FTTX\",\"covered\":false,\"status\":\"NON ATTIVO\",\"data\":[]},{\"carrier\":{\"name\":\"Fastweb\",\"value\":\"fastweb\",\"description\":\"Fastweb\",\"logo_url\":\"https:\\/\\/coverage.mywic.it\\/carriers\\/fastweb\\/logo\"},\"agcom_sticker_url\":\"https:\\/\\/coverage.mywic.it\\/icons\\/sticker-ff\",\"technology\":{\"name\":\"FIBER_P2P\",\"value\":\"FIBRA_P2P\",\"description\":\"Fibra dedicata\",\"sticker\":\"ff\",\"family\":{\"name\":\"Fiber\",\"value\":\"P2P\",\"description\":\"FTTH - Fibra ottica dedicata\",\"order\":1}},\"family\":\"P2P\",\"covered\":true,\"status\":\"ATTIVO\",\"data\":{\"copertura\":\"SI\",\"edr\":\"MILAITCK\",\"max_speed\":10000,\"tipo_edr\":\"Centrale FW\",\"clli_ftto\":\"MILAITCK\",\"fascia_circuiti_fibra\":\"SDF\",\"edr_info\":{\"id\":10718,\"nome\":\"MI-BOLLATE\",\"nome_sede_gat\":\"BOLLATE\",\"codice_gat\":\"002047\",\"codice_clli\":\"MILAITCK\",\"codice_centrale_acl\":\"002166\",\"codice_idbre\":\"007578\",\"codice_idbre_sede\":\"000163\",\"codice_acl_area\":\"00200P\",\"regione\":\"LOMBARDIA\",\"lat\":45.54305417,\"lng\":9.11814694,\"indirizzo\":\"VIA CRISTOFORO DA BOLLATE->\",\"comune\":\"BOLLATE\",\"provincia\":\"MILANO\",\"sgu\":\"MI CERTOSA\",\"clli_sgu\":\"MILAITBY\",\"codice_idbre_sgu\":\"000050\",\"ntr\":true,\"certificazione_coordinate\":true,\"in_dismissione\":false,\"note\":\"\",\"stato_adsl_atm\":\"SATURO\",\"velocita_adsl_atm\":\"20\",\"semaforo_giallo_adsl_atm\":false,\"risorsa_semaforo_giallo_adsl_atm\":\"\",\"occupazione_semaforo_giallo_adsl_atm\":\"\",\"stato_adsl_eth\":\"ATTIVO\",\"velocita_adsl_eth\":\"20\",\"data_apertura_adsl_eth\":\"2010-01-01\",\"stato_fttc\":\"ATTIVO\",\"data_apertura_fttc\":null,\"data_pianificazione_fttc\":null,\"macroarea\":\"MILANO\",\"fascia\":0},\"edr_map\":\"https:\\/\\/coverage.mywic.it\\/minimaps\\/d87160e7c89ac6e77eb37535938f0658\",\"categoria\":\"8\",\"clli_centrale\":\"MILAITCK\",\"tag\":\"B1\"}},{\"carrier\":{\"name\":\"Fastweb\",\"value\":\"fastweb\",\"description\":\"Fastweb\",\"logo_url\":\"https:\\/\\/coverage.mywic.it\\/carriers\\/fastweb\\/logo\"},\"agcom_sticker_url\":\"https:\\/\\/coverage.mywic.it\\/icons\\/sticker-r\",\"technology\":{\"name\":\"ASIM_ETH\",\"value\":\"ASIM_ETH\",\"description\":\"ADSL Ethernet\",\"sticker\":\"r\",\"family\":{\"name\":\"ADSL\",\"value\":\"ADSL\",\"description\":\"ADSL - Circuiti asimmetrici\",\"order\":6}},\"family\":\"ADSL\",\"covered\":true,\"status\":\"ATTIVO\",\"data\":{\"copertura\":\"Attivo 20M QinQ\\/LD\",\"edr\":\"002047\",\"max_speed\":20,\"tipo_edr\":\"Centrale FW\",\"velocita_down\":\"17.91\",\"velocita_up\":\"1.06\",\"velocita_dettaglio\":{\"download\":{\"6db\":17.91,\"11db\":14.22,\"12db\":14.22},\"upload\":{\"6db\":1.06,\"11db\":0.88,\"12db\":0.98}},\"distanza\":421.07,\"edr_info\":{\"id\":28,\"tim_centrale_id\":10718,\"sgu\":\"002047\",\"nome\":\"BOLLATE\",\"tipo_dslam\":\"dslam\",\"2_macroaree\":\"Nord\",\"8_macroaree\":\"NordOvest2\",\"lat\":45.54305417,\"lng\":9.11814694,\"parent\":{\"id\":10718,\"nome\":\"MI-BOLLATE\",\"nome_sede_gat\":\"BOLLATE\",\"codice_gat\":\"002047\",\"codice_clli\":\"MILAITCK\",\"codice_centrale_acl\":\"002166\",\"codice_idbre\":\"007578\",\"codice_idbre_sede\":\"000163\",\"codice_acl_area\":\"00200P\",\"regione\":\"LOMBARDIA\",\"lat\":45.54305417,\"lng\":9.11814694,\"indirizzo\":\"VIA CRISTOFORO DA BOLLATE->\",\"comune\":\"BOLLATE\",\"provincia\":\"MILANO\",\"sgu\":\"MI CERTOSA\",\"clli_sgu\":\"MILAITBY\",\"codice_idbre_sgu\":\"000050\",\"ntr\":true,\"certificazione_coordinate\":true,\"in_dismissione\":false,\"note\":\"\",\"stato_adsl_atm\":\"SATURO\",\"velocita_adsl_atm\":\"20\",\"semaforo_giallo_adsl_atm\":false,\"risorsa_semaforo_giallo_adsl_atm\":\"\",\"occupazione_semaforo_giallo_adsl_atm\":\"\",\"stato_adsl_eth\":\"ATTIVO\",\"velocita_adsl_eth\":\"20\",\"data_apertura_adsl_eth\":\"2010-01-01\",\"stato_fttc\":\"ATTIVO\",\"data_apertura_fttc\":null,\"data_pianificazione_fttc\":null,\"macroarea\":\"MILANO\",\"fascia\":0}},\"edr_map\":\"https:\\/\\/coverage.mywic.it\\/minimaps\\/d87160e7c89ac6e77eb37535938f0658\",\"categoria\":\"8\",\"tag\":\"MILANO\"}},{\"carrier\":{\"name\":\"OpenFiber\",\"value\":\"openfiber\",\"description\":\"OpenFiber\",\"logo_url\":\"https:\\/\\/coverage.mywic.it\\/carriers\\/openfiber\\/logo\"},\"agcom_sticker_url\":\"https:\\/\\/coverage.mywic.it\\/icons\\/sticker-w\",\"technology\":{\"name\":\"WIRELESS28\",\"value\":\"WIRELESS_28\",\"description\":\"FWA Fixed Wireless 28 GHz\",\"sticker\":\"w\",\"family\":{\"name\":\"FixedWireless\",\"value\":\"FWA\",\"description\":\"FWA - Fixed Wireless condivisa\",\"order\":4}},\"family\":\"FWA\",\"covered\":false,\"status\":\"NON ATTIVO\",\"data\":{\"tipo_edr\":\"OpenFiber FWA POP\",\"max_speed\":100,\"planification\":null},\"max_speed\":0},{\"carrier\":{\"name\":\"OpenFiber\",\"value\":\"openfiber\",\"description\":\"OpenFiber\",\"logo_url\":\"https:\\/\\/coverage.mywic.it\\/carriers\\/openfiber\\/logo\"},\"agcom_sticker_url\":\"https:\\/\\/coverage.mywic.it\\/icons\\/sticker-ff\",\"technology\":{\"name\":\"FIBER_P2P\",\"value\":\"FIBRA_P2P\",\"description\":\"Fibra dedicata\",\"sticker\":\"ff\",\"family\":{\"name\":\"Fiber\",\"value\":\"P2P\",\"description\":\"FTTH - Fibra ottica dedicata\",\"order\":1}},\"family\":\"P2P\",\"covered\":true,\"status\":\"ATTIVO\",\"data\":{\"ofedr\":\"MIH_5\",\"copertura\":102,\"stato_palazzo\":102,\"id_building\":\"03_015_015027_8000227147_9\",\"data_rfc_indicativa\":null,\"data_rfc_effettiva\":null,\"data_rfa_indicativa\":null,\"data_rfa_effettiva\":null,\"tag\":\"CLUSTER-AB\",\"notices\":null,\"tipo_edr\":\"OpenFiber POP\",\"max_speed\":10000,\"planification\":null,\"fascia_circuiti_fibra\":0}},{\"carrier\":{\"name\":\"OpenFiber\",\"value\":\"openfiber\",\"description\":\"OpenFiber\",\"logo_url\":\"https:\\/\\/coverage.mywic.it\\/carriers\\/openfiber\\/logo\"},\"agcom_sticker_url\":\"https:\\/\\/coverage.mywic.it\\/icons\\/sticker-ff\",\"technology\":{\"name\":\"FTTH\",\"value\":\"FTTH\",\"description\":\"FTTHome\",\"sticker\":\"ff\",\"family\":{\"name\":\"FTTX\",\"value\":\"FTTX\",\"description\":\"FTTx - Fibra ottica condivisa\",\"order\":3}},\"family\":\"FTTX\",\"covered\":true,\"status\":\"ATTIVO\",\"data\":{\"ofedr\":\"MIH_5\",\"copertura\":102,\"stato_palazzo\":102,\"id_building\":\"03_015_015027_8000227147_9\",\"data_rfc_indicativa\":null,\"data_rfc_effettiva\":null,\"data_rfa_indicativa\":null,\"data_rfa_effettiva\":null,\"tag\":\"CLUSTER-AB\",\"notices\":null,\"tipo_edr\":\"OpenFiber POP\",\"max_speed\":10000,\"planification\":null}},{\"carrier\":{\"name\":\"Vodafone\",\"value\":\"vodafone\",\"description\":\"Vodafone\",\"logo_url\":\"https:\\/\\/coverage.mywic.it\\/carriers\\/vodafone\\/logo\"},\"agcom_sticker_url\":\"https:\\/\\/coverage.mywic.it\\/icons\\/sticker-w\",\"technology\":{\"name\":\"LTE\",\"value\":\"LTE\",\"description\":\"Fixed Mobile\",\"sticker\":\"w\",\"family\":{\"name\":\"MobileWireless\",\"value\":\"MOBILE\",\"description\":\"LTE - Mobile Wireless\",\"order\":7}},\"family\":\"MOBILE\",\"covered\":true,\"status\":\"ATTIVO\",\"data\":{\"max_speed\":60}},{\"carrier\":{\"name\":\"WindTre\",\"value\":\"windtre\",\"description\":\"WindTre\",\"logo_url\":\"https:\\/\\/coverage.mywic.it\\/carriers\\/windtre\\/logo\"},\"agcom_sticker_url\":\"https:\\/\\/coverage.mywic.it\\/icons\\/sticker-w\",\"technology\":{\"name\":\"LTE\",\"value\":\"LTE\",\"description\":\"Fixed Mobile\",\"sticker\":\"w\",\"family\":{\"name\":\"MobileWireless\",\"value\":\"MOBILE\",\"description\":\"LTE - Mobile Wireless\",\"order\":7}},\"family\":\"MOBILE\",\"covered\":true,\"status\":\"ATTIVO\",\"data\":{\"max_speed\":60}}],\"geodata\":{\"id\":\"380100026716807\",\"istat\":\"015027\",\"stair\":null,\"city\":{\"istat\":\"015027\",\"name_utf8\":\"Bollate\",\"name\":\"BOLLATE\",\"province\":\"MILANO\",\"region\":\"LOMBARDIA\",\"prov_abbr\":\"MI\",\"lat\":45.543611111111,\"lng\":9.1172222222222,\"zip\":\"20021\",\"code\":\"A940\",\"population\":35557,\"phone_prefix\":\"02\",\"boundaries\":[[{\"lat\":45.563551,\"lng\":9.103392},{\"lat\":45.567977,\"lng\":9.101057},{\"lat\":45.568828,\"lng\":9.095459},{\"lat\":45.568594,\"lng\":9.094856},{\"lat\":45.567687,\"lng\":9.092522},{\"lat\":45.567417,\"lng\":9.092573},{\"lat\":45.566814,\"lng\":9.092636},{\"lat\":45.565995,\"lng\":9.09243},{\"lat\":45.564816,\"lng\":9.091697},{\"lat\":45.559691,\"lng\":9.084488},{\"lat\":45.55963,\"lng\":9.082577},{\"lat\":45.55963,\"lng\":9.082211},{\"lat\":45.555291,\"lng\":9.086899},{\"lat\":45.553196,\"lng\":9.089063},{\"lat\":45.552018,\"lng\":9.089742},{\"lat\":45.551807,\"lng\":9.089849},{\"lat\":45.547012,\"lng\":9.091886},{\"lat\":45.544405,\"lng\":9.087309},{\"lat\":45.541904,\"lng\":9.087085},{\"lat\":45.539416,\"lng\":9.087927},{\"lat\":45.539365,\"lng\":9.087944},{\"lat\":45.537812,\"lng\":9.088547},{\"lat\":45.537465,\"lng\":9.088686},{\"lat\":45.535225,\"lng\":9.090433},{\"lat\":45.53491,\"lng\":9.090683},{\"lat\":45.534492,\"lng\":9.091149},{\"lat\":45.530771,\"lng\":9.096033},{\"lat\":45.530378,\"lng\":9.096876},{\"lat\":45.532088,\"lng\":9.099038},{\"lat\":45.533729,\"lng\":9.101058},{\"lat\":45.535109,\"lng\":9.105844},{\"lat\":45.535831,\"lng\":9.10948},{\"lat\":45.537272,\"lng\":9.117584},{\"lat\":45.537352,\"lng\":9.118161},{\"lat\":45.537388,\"lng\":9.118636},{\"lat\":45.537405,\"lng\":9.119097},{\"lat\":45.537391,\"lng\":9.119437},{\"lat\":45.536463,\"lng\":9.119923},{\"lat\":45.532029,\"lng\":9.122157},{\"lat\":45.5342,\"lng\":9.121974},{\"lat\":45.536355,\"lng\":9.125268},{\"lat\":45.541335,\"lng\":9.13414},{\"lat\":45.543428,\"lng\":9.14218},{\"lat\":45.545912,\"lng\":9.143396},{\"lat\":45.545795,\"lng\":9.147617},{\"lat\":45.550918,\"lng\":9.14873},{\"lat\":45.5523,\"lng\":9.147127},{\"lat\":45.553301,\"lng\":9.146428},{\"lat\":45.553474,\"lng\":9.146333},{\"lat\":45.556168,\"lng\":9.144949},{\"lat\":45.556829,\"lng\":9.144778},{\"lat\":45.559018,\"lng\":9.144833},{\"lat\":45.561919,\"lng\":9.146126},{\"lat\":45.562005,\"lng\":9.14672},{\"lat\":45.562057,\"lng\":9.147091},{\"lat\":45.562074,\"lng\":9.147331},{\"lat\":45.562146,\"lng\":9.148351},{\"lat\":45.562232,\"lng\":9.149199},{\"lat\":45.564056,\"lng\":9.14934},{\"lat\":45.565392,\"lng\":9.148821},{\"lat\":45.567267,\"lng\":9.14767},{\"lat\":45.566871,\"lng\":9.13969},{\"lat\":45.56753,\"lng\":9.136718},{\"lat\":45.566047,\"lng\":9.139135},{\"lat\":45.565969,\"lng\":9.139196},{\"lat\":45.564304,\"lng\":9.139643},{\"lat\":45.559518,\"lng\":9.129313},{\"lat\":45.558242,\"lng\":9.125993},{\"lat\":45.558196,\"lng\":9.118936},{\"lat\":45.55817,\"lng\":9.114215},{\"lat\":45.558176,\"lng\":9.109548},{\"lat\":45.56243,\"lng\":9.10339},{\"lat\":45.563551,\"lng\":9.103392}]]},\"egon\":\"38000227147\",\"name_utf8\":\"Bollate\",\"zip\":\"20021\",\"street_type\":\"VIA\",\"street\":\"AMBROGIO DA BOLLATE\",\"number\":\"9\",\"province\":\"MILANO\",\"abbreviation\":\"MI\",\"region\":\"LOMBARDIA\",\"lat\":45.545882,\"lng\":9.118249}}")

        const fttc = {
            info: {
                icon: "fttc.png",
                name: "FTTC"
            },
            coverage: coverage.coverage.filter(el => el.technology.family.name === 'FTTX')
        }
        const ftth = {
            info: {
                icon: "ftth.png",
                name: "FTTH"
            },
            coverage: coverage.coverage.filter(el => el.technology.family.name === 'Fiber')
        }
        const wireless = {
            info: {
                icon: "wireless.png",
                name: "Wireless"
            },
            coverage: coverage.coverage.filter(el => el.technology.name === 'WIRELESS')
        }

        this.geodata = coverage.geodata
        this.coverageResult = {ftth, fttc, wireless}
    },
    methods: {
        citySelected() {
            //this.$refs.roadInput.$refs.road.$el.focus()
            this.form.road = null;
            this.form.number = null;
            this.form.stair = null;
            this.form = {...this.form}
        },
        roadSelected() {
            //this.$refs.numberInput.$refs.number.$el.focus()
        },
        showCabinetsMap(technology) {
            this.activeCabinetId = technology.data.edr_info.id

            this.geodata = {...this.geodata}
            this.showMap = 'cabinets';
            this.btsIds = []
        },
        showBtsMap(tech) {
            this.geodata = {...this.geodata}
            this.showMap = 'bts'

            if (tech) {
                this.btsIds = tech.data.map(el => el.id)
            }

            const isWirelessActive = !!this.coverageResult.wireless.coverage.find(el => el.status === "ATTIVO")

            this.disableAllBts = !isWirelessActive;
        },
        somethingActive(data) {
            return !!data.find(el => el.status === 'ATTIVO')
        },
        getRoadParts(full_road) {
            const street_types = ["via", "corso", "largo"]
            let street = null
            let street_type = null

            for (const type of street_types) {
                if (full_road.toLowerCase().startsWith(type)) {
                    street = full_road.toLowerCase().replace(type, "").toUpperCase().trim()
                    street_type = type.trim()
                }
            }

            if (!street) {
                street = full_road.toUpperCase()
            }

            return {street, street_type}
        },
        async api(path) {
            const response = await axios.get(`${this.url}/api/coverage${path}`)

            return response.data
        },
        async getCities() {
            const data = await this.api('/cities');
            this.cities = data.map(el => el.name_utf8)
        },
        async getStreets(query) {
            if (query.length === 0) return

            const {city} = this.form
            const {street} = this.getRoadParts(query)

            if (street.length <= 2) {
                return
            }

            const data = await this.api(`/streets/${city}/${street}`)
            this.streets = data.map(el => `${el.street_type} ${el.street}`)
            this.street_types = data.map(el => el.street_type)
        },
        async getCivics(query) {
            if (query.length === 0) return

            const {city, road} = this.form

            let street = road
            this.street_types.forEach(type => {
                if (road.startsWith(type)) {
                    street = road.replace(`${type} `, "")
                }
            })

            const data = await this.api(`/civics/${city}/${street}/${query}`)
            this.civics = data.map(el => el.number)
        },
        async getStairs() {
            const {city, road, number} = this.form

            let street = road
            this.street_types.forEach(type => {
                if (road.startsWith(type)) {
                    street = road.replace(`${type} `, "")
                }
            })

            const data = await this.api(`/stairs/${city}/${street}/${number}`)
            this.stairs = data.map(el => {

                if (!el.stair) {
                    return "Senza scala"
                }

                return el.stair
            })

            if (this.stairs.length === 1 && !this.stairs[0].stair) {
                this.stairs = null
                this.hasNoStairs = true
            }

        },
        async coverage() {
            this.isLoading = true
            this.noCoverage = false
            let {city, road, number, stair} = this.form

            let street = road
            this.street_types.forEach(type => {
                if (road.startsWith(type)) {
                    street = road.replace(`${type} `, "")
                }
            })

            if (number.includes("/")) {
                const parts = number.split("/")
                number = parts[0]
                stair = parts[1]
            }

            const coverage = await this.api(`/coverage/${city}/${street}/${number}/${stair ?? ''}`)

            this.geodata = coverage.geodata

            const fttc = {
                info: {
                    icon: "fttc.png",
                    name: "FTTC"
                },
                coverage: coverage.coverage.filter(el => el.technology.family.name === 'FTTX')
            }
            const ftth = {
                info: {
                    icon: "ftth.png",
                    name: "FTTH"
                },
                coverage: coverage.coverage.filter(el => el.technology.family.name === 'Fiber')
            }
            const wireless = {
                info: {
                    icon: "wireless.png",
                    name: "Wireless"
                },
                coverage: coverage.coverage.filter(el => el.technology.name === 'WIRELESS')
            }

            this.coverageResult = {ftth, fttc, wireless}
            this.isLoading = false
        },
    },
    computed: {
        formReady: function () {
            return (
                this.form.road &&
                this.form.number &&
                this.form.city
                //&& (this.form.stair || this.hasNoStairs)
            )
        },
    },
    watch: {
        isLoading: {
            handler: function (isLoading) {
                if (isLoading) {
                    document.getElementsByTagName('html')[0].style.overflow = "hidden";
                } else {
                    document.getElementsByTagName('html')[0].style.overflow = "auto";
                }
            }
        }
    },
    props: {
        url: {
            type: String,
            required: true,
        }
    }
};
</script>

<style>
@import "https://fiberdroid.it/css/app.css";
</style>
