<p><strong>mettere o no il filtro di sicurezza sulla rete WiFi hotel?</strong></p>
<p>Una rete WiFi protetta &nbsp;impedisce l&rsquo;accesso a chi non ha le credenziali . Solo gli ospiti della struttura possono connettersi per navigare.</p>
<p>Il sistema di &ldquo;rieffettua il login&rdquo;&nbsp; cio&egrave; la richiesta di immettere nuovamente le credenziali serve a controllare periodicamente chi &egrave; loggato e a volte pu&ograve; essere installato per impedire l&rsquo;accesso ad alcuni siti o per bloccare la navigazione.</p>
<p>Serve a proteggere la <strong>rete WiFi</strong> perch&eacute; essendo pubblica (ha molti utenti) qualcuno potrebbe cercare di accedere al tuo dispositivo.</p>
<p>Inoltre spesso viene effettuato un blocco sul download per garantire una buona connessione a tutti gli ospiti,&nbsp; impedendo agli utenti di guardare film in streaming&nbsp; o scaricare file pesanti.</p>
<p><strong>connessione non sufficiente</strong></p>
<p><strong>lato hotel:</strong></p>
<p>a volte il problema &egrave; il router. se non &egrave; usato al meglio non riesce a coprire tutta l&rsquo;area dell&rsquo;hotel.</p>
<p>troppi utenti connessi?</p>
<p>area troppo grande?</p>
<p>configurazione errata?</p>
<p>se il cliente &egrave; connesso ma non riesce ad accedere alla maggior parte dei siti (social,&nbsp; amazon, google ecc) forse viene rifiutato perch&eacute; proviene da un WiFi non ben funzionante. Controllare il sistema WiFi &egrave; il primo passo</p>
<p><strong>lato cliente:</strong></p>
<p>il cliente riesce ad accedere ma il sistema non memorizza I date e deve rifare il login. A volte basta scaricare la app per android&nbsp; <a href="https://play.google.com/store/apps/details?id=com.androidyou.wifiloginnew">https://play.google.com/store/apps/details?id=com.androidyou.WiFiloginnew</a>&nbsp; o seguire le istruzioni se hai un iphone <a href="https://support.apple.com/it-it/HT204497">https://support.apple.com/it-it/HT204497</a></p>
<p>il cliente ha il risparmio energetico attivato? questa funzione disattiva il WiFi</p>
