<p>Alcune delle caratteristiche comuni di un <strong>telefono VoIP</strong> sono:</p>
<ul>
    <li>visualizzazione del numero chiamante (caller ID)</li>
    <li>trasferimento di chiamata</li>
    <li>messa in attesa della chiamata</li>
    <li>segreteria telefonica</li>
    <li>connessione ad internet</li>
    <li>suonerie personalizzate,</li>
    <li>qualit&agrave; perfetta del suono</li>
</ul>
<p>I telefoni fissi VoIP pi&ugrave; avanzati offrono anche la possibilit&agrave; di</p>
<ul>
    <li>accedere alla posta elettronica</li>
    <li>controllare la segreteria telefonica via e-mail</li>
    <li>allegare messaggi vocali alle proprie mail</li>
    <li>effettuare videoconferenze integrate</li>
    <li>condividere contenuti nel dispositivo.</li>
    <li>effettuare videochiamate</li>
</ul>