<p>La voce per&ograve; non &egrave; l'unico dato digitale che deve essere trasmesso per fare in modo che una telefonata
    inizi e finisca in modo corretto: servono infatti varie altre informazioni utilizzate da protocolli specifici che
    gestiscono e terminano ogni telefonata (ad esempio la durata della telefonata stessa o il costo al minuto per poter
    calcolare il costo della chiamata).</p>
<p>Uno dei protocolli pi&ugrave; diffusi &egrave; il<strong> SIP (Session Initiation Protocol) </strong>che ricompone i
    pacchetti di dati all'arrivo e ne permette la riconversione in voce e rende possibile anche le chiamate multiple e
    le videochiamate.</p>
<p>Largamente utilizzato per i <strong>telefoni VoIP</strong> &egrave; poi il protocollo <strong>RTP (Real-time
    Transport Protocol)</strong> che definisce il formato di un pacchetto standard per la consegna audio e video su
    Internet. Scopo di questo protocollo &egrave; lo streaming end-to-end in tempo reale dei dati relativi ai media, e
    per questo vengono previsti meccanismi per la compensazione del jitter o il rilevamento della perdita di pacchetti.
</p>
<p>Esistono poi i <strong>protocolli proprietari:</strong> Skype ad esempio, un software molto popolare, utilizza un
    protocollo proprietario (cos&igrave; come Google Talk): questo lo rende meno flessibile quando se ne vuole fare un
    uso pi&ugrave; ampio ad esempio volendo integrare il sistema telefonico con altri software aziendali.</p>