<p>Esistono diverse tipologie di telefoni VoIP:</p>
<ul>
    <li>telefono VoIP USB</li>
    <li>adattatore ATA</li>
    <li>telefono VoIP fisso</li>
    <li>telefono VoIP cordless</li>
    <li>telefono VoIP cordless Wi-Fi o DECT</li>
    <li>Softphone</li>
</ul>
<p>Ecco qualche dettaglio in pi&ugrave; sui vari tipi di telefoni VoIP.</p>