<p class="p1">Quella del volo &egrave; una passione che noi di Fiberdroid comprendiamo bene.</p>
<p class="p1">Nel nostro team, chi non ha il brevetto di pilota, ha di sicuro la mania. E non solo delle simulazioni al computer. Nel nostro ultimo evento aziendale abbiamo potuto provare l&rsquo;ebbrezza del volo in aliante, grazie alla collaborazione di Andr&eacute; Claude Benin, Founder di Fiberdroid, e del comandante Massimo Milano, pilota con esperienza ventennale, con l'Aeroclub Valle d'Aosta.</p>
<p class="p1">Parlare delle proprie passioni &egrave; una cosa bella. Condividerle &egrave; ancora meglio.</p>
<p class="p1">&Egrave; per questo che Fiberdroid ha pensato anche ai suoi clienti. Grazie alla collaborazione con l&rsquo;A.S.D. <a href="https://jetfightertraining.it/"><span class="s1">Jet Fighter Training</span></a>, oggi siamo in grado di <strong>offrire anche a voi l&rsquo;occasione di volare su un vero aereo da caccia</strong>.</p>
<p class="p1">Acquistando un pacchetto in promozione JetFiber avrete la possibilit&agrave; di effettuare un volo su un vero <strong>L-39 Albatross</strong>, l&rsquo;aereo di addestramento avanzato su cui si sono formati per trent&rsquo;anni i piloti di mezzo mondo. Non &egrave; un concorso: ci crediamo davvero. E vogliamo che ognuno di voi possa provare questa esperienza acquistando le soluzioni che aderiscono a questa promozione.</p>
<p class="p1">Nella cornice delle montagne della Valle d&rsquo;Aosta, in una delle migliori location per il volo acrobatico, potrete vivere davvero l&rsquo;emozione di un volo a reazione. Salire sopra le cime alpine pi&ugrave; alte in pochi secondi non &egrave; una cosa da tutti i giorni.</p>
<p class="p1">Per noi la velocit&agrave; &egrave; importante tanto quanto l&rsquo;affidabilit&agrave; e chi sceglie le nostre connessioni lo sa. Con JetFiber Vi regaliamo di pi&ugrave;, un&rsquo;esperienza indimenticabile.</p>
<p class="p1"><strong>Navigate con Fiberdroid su internet: vi faremo volare oltre la Vostra immaginazione</strong>.</p>
<p class="p1">Scegliendo tra una delle tre soluzioni avrete diritto all'esperienza sul caccia!</p>
