<p class="p1">Con il pacchetto JETFIBER 1 potete ottenere un servizio di connessione simmetrica via cavo <span class="s1">FTTC</span>.</p>
<p class="p1">Il servizio ha le seguenti caratteristiche:</p>
<ul class="ul1">
    <li class="li3"><span class="s3">Connessione FTTC<span class="Apple-converted-space">&nbsp;</span></span></li>
    <li class="li3"><span class="s3">IP Statico Pubblico</span></li>
    <li class="li3"><span class="s3">Traffico dati illimitato</span></li>
</ul>
