<p class="p1">Con il pacchetto JETFIBER 2 potete ottenere un servizio di connessione simmetrica via radio<span class="Apple-converted-space">&nbsp;</span></p>
<p class="p1">Il servizio ha le seguenti caratteristiche:</p>
<ul class="ul1">
    <li class="li3"><span class="s2">Ponte radio 4G</span></li>
    <li class="li3"><span class="s2">IP Statico Pubblico</span></li>
    <li class="li3"><span class="s2">Traffico dati illimitato</span></li>
</ul>
