<p class="p1">Con il pacchetto JETFIBER 3 potete ottenere un servizio di connessione via cavo o via radio per 5 account di connettivit&agrave; via radio o via cavo</p>
<p class="p1">Il servizio ha le seguenti caratteristiche:</p>
<ul class="ul1">
    <li class="li3"><span class="s2">5 servizi di connettivit&agrave; via radio o via cavo</span></li>
    <li class="li3"><span class="s2">Centralino IP cloud</span></li>
    <li class="li3"><span class="s2">Numerazione telefonica GNR</span></li>
    <li class="li3"><span class="s2">IP Statico Pubblico</span></li>
    <li class="li3"><span class="s2">Traffico dati illimitato</span></li>
</ul>
