<p class="p1">Grazie alla collaborazione con l&rsquo;A.S.D. Jet Fighter Training, Fiberdroid &egrave; in grado di offrirvi il meglio della sua offerta di connettivit&agrave; e regalarvi un&rsquo;esperienza unica di volo.</p>
<p class="p1">L&rsquo;associazione sportiva dilettantistica Jet Fighter Training ha come scopo quello di diffondere la cultura aeronautica organizzando eventi di volo.<span class="Apple-converted-space">&nbsp;</span></p>
<p class="p1">Nella cornice delle montagne pi&ugrave; alte delle Alpi, presso l&rsquo;aeroporto Corrado Gex di Aosta, Jet Fighter Training offre ad appassionati alle prime armi e a piloti esperti desiderosi di migliorare le proprie abilit&agrave;, la possibilit&agrave; di volare sulla sua flotta di velivoli, tra cui il jet L-39 Albatross, lo storico caccia di addestramento militare che su cui si sono formate generazioni di piloti da combattimento per tre generazioni.</p>
<p class="p1">Scegliendo uno dei nostri pacchetti di connettivit&agrave; JetFiber, potrete vivere l&rsquo;esperienza di volare tra le pi&ugrave; alte montagne della Valle d&rsquo;Aosta.</p>
<p class="p4">L&rsquo;esperienza di volo &egrave; organizzata in due fasi: una prima fase di briefing e l&rsquo;esperienza a bordo.</p>
<p class="p4">Nella fase di briefing, vengono esposte le basi del volo, con un&rsquo;introduzione sulle figure acrobatiche e sulle peculiarit&agrave; degli effetti dell&rsquo;accelerazione sul corpo umano. Ai partecipanti vengono illustrati i principi di sicurezza e le manovre opportune.</p>
<p class="p4">Il volo a bordo del jet L-39 Albatross ha una durata approssimativa di 30 minuti. Il comandante Milano avr&agrave; il compito di valutare le condizioni meteo ed eseguire le evoluzioni e seguire le rotte opportune, in accordo alle procedure di sicurezza. L&rsquo;esperienza del pilota e la validit&agrave; del mezzo permettono di offrire ai partecipanti un&rsquo;esperienza unica, adrenalinica e indimenticabile!<span class="Apple-converted-space">&nbsp; &nbsp;</span></p>
