<p>Con wireless dall'inglese senza fili, si indica una grande famiglia che comprende tutte le tecnologie di comunicazioni tra due dispositivi che non usano cavi fisici. Nel concreto sono teconologie wireless per esempio: il bluetooth, il 4G o anche un mouse senza fili.</p>
<p>Ci sono tre grandi macro-categorie di connessioni wireless tutte approvate dallo&nbsp;<a href="https://it.wikipedia.org/wiki/IEEE_802.11" target="_blank" rel="noopener"><strong>standard&nbsp;IEEE 802.11 </strong></a>che vediamo qui di seguito:</p>
