<p>In questo articolo ci concentreremo in particolare sulle connessioni tramite onde radio, un nostro must; infatti consideriamo le connessione wireless importantissime perch&egrave; in grado di portare connessioni velocissime anche dove la fibra non pu&ograve; arrivare.</p>
<p>Ne &egrave; un esempio la Valle d'Aosta in cui fiberdroid da sempre &egrave; in prima linea nel portare connessioni wireless velocissime dove la fibra ottica ancora non pu&ograve; arrivare per via della morfologia del territorio.</p>
<p>Un tempo il wireless veniva usato solo in condizioni di assoluta necessit&agrave; in cui non era possibile utilizzare dei cavi fisici, anche a causa del prezzo elevato dei dispositivi. Negli anni la situazioni si &egrave; completamente rovesciata, nel tempo la tecnologia wireless si &egrave; dimostrata affidabile e i prezzi dei dispositivi sono calati. Inizialmente i primi ad sfruttare una connessione wifi wireless furono le universit&agrave; e gli aereoporti, oggi le usiamo praticamente tutti tant'&egrave; che c'&egrave; chi pensa che le tecnologie wireless rappresentino il futuro delle connettivit&agrave;.</p>
<p>Vediamo quindi ora di capire quali sono le differenze tra connettivit&agrave; 4G e connettivit&agrave; attraverso i ponti radio e cosa si intende quando se ne parla.&nbsp;</p>
