<p>Il 4G non &egrave; altro che l'evoluzione delle sue tecnologie precedenti (3G, 2G, 1G), negli anni le tecnologie wireless come queste hanno fatto passi da gigante; ripercorriamone insieme la storia e vediamo partendo dall'1G come siamo arrivati al 4G del giorno d'oggi.</p>
<p>La storia delle connettivit&agrave; wireless inizia negli anni 80 con la nascita dell'<strong>1G</strong>, quest'ultimo era molto diverso dai suoi successori, usava infatti un tipo di comunicazione analogica. Fu alla base dell'idea del telefono senza fili che nacque in quegli anni.</p>
<p>Negli anni 90 arriva il <strong>2G</strong> che porta innovazioni come gli sms e il collegamento alla rete internet con il wap, a causa dei limiti della larghezza di banda gli sms erano limitati a 160 caratteri. Qualche anno dopo nacquero le sim a consumo dando cos&igrave; il via alla vera e propria era degli sms.</p>
<p>Con l'arrivo del <strong>3G</strong> le nostre vite cambiarono. Da quel punto si &egrave; potuto usare internet sul telefono. Nacquero gli application store dei telefoni e inoltre si &egrave; potuto equipaggiare gli smartophone con servizi di mail, messaggistica istantanea, video eccettera.&nbsp;</p>
<p>Il <strong>4G</strong> dal 2008 ci permette lo streaming video in 4K, streaming musicale, trasmissione di immagini ad altissime velocit&agrave; ma soprattuto rappresenta una svolta in molti ambiti scientifici: &egrave; ora possibile avere dei dispositivi sempre connessi e sotto controllo anche da molto lontano.</p>
<p>Non manca molto ormai all'attivazione delle linee del <strong>5G</strong>, le quali rappresentano una vera e propria rivoluzione per quanto riguarda l'Iot(internet of things) e l'ambito scientifico. Chiaramente il 5G avr&agrave; prestazioni superiori al 4G, ma non &egrave; per questo che si parla di rivoluzione. Il 5G fa si che una rete wireless abbia la stessa affidabilit&agrave; di una rete con cavo permettendo cose come la guida automatica o svolgere operazioni chirurgiche a distanza.</p>
