<p>
    La connettivit&agrave; FTTC (<em>Fiber To The Cabinet</em>) si basa sulla disponibilit&agrave;
    del collegamento al cavo della fibra ottica presso l'armadio su strada pi&ugrave; vicino a
    casa tua.</p><p>Una volta individuato l&rsquo;armadio, utilizziamo il &ldquo;classico&rdquo;
    cavo in rame per l'ultimo tratto, ovvero fino a dentro l'abitazione, l&rsquo;azienda o lo stabile.&nbsp;
</p>

<p>
    Riusciamo a fornirti, in base alla distanza dall&rsquo;armadio, fino a 200 Mbps
    in download e banda minima garantita fino a 20 Mbps, con 1 IPv4 pubblico statico incluso.
</p>
