<p>
    FTTH (<em>Fiber To The Home</em>) &egrave; la connessione ad internet in
    "pura" fibra, se la tua abitazione, ufficio o stabile &egrave;
    direttamente collegata al cavo in fibra ottica.
</p>
<p>
    Riusciamo a fornirti fino a 1 Gbps in download e banda minima garantita fino a 50 Mbps,
    con possibilit&agrave; di avere connessioni simmetriche e asimmetriche, con 1 IPv4 pubblico statico.
</p>

<p>
    <br/>
    Predisponiamo di progetti <em>taylor made</em>, su misura,
    adattando tale soluzione a specifiche esigenze del cliente e della
    realt&agrave; aziendale.&nbsp;
</p>
