<p>La Fibra Ottica &egrave; la connessione per eccellenza per la banda ultra larga.</p>

<p>La rete punto-punto consente una velocit&agrave;,
    continuit&agrave; ed espandibilit&agrave; della
    connessione senza precedenti.
</p>

<p>Puoi estendere il servizio sulle diverse sedi aziendali per poter garantire la
    condivisione di risorse ed accedere ad internet, sia per la pubblicazione di
    contenuti che per l&rsquo;operativit&agrave; di base (posta, web, meeting, ecc).
</p>
