<p>
    Il servizio di connettivit&agrave; viene realizzato tramite accesso
    all&rsquo;infrastruttura di rete ottica (il cavo in fibra) presente
    sul territorio nazionale.&nbsp;
</p>

<p>Questo tipo di connettivit&agrave;
    non si basa su infrastrutture IP, ma usa implementazioni di tipo layer 2
    (tipicamente con terminazione Ethernet). Le capacit&agrave; realizzabili
    nelle varie sedi periferiche variano da un minimo di 10 Mbps simmetrici fino
    a <strong>10 Gbps simmetrico.</strong>
</p>

